html,
body {
	height: 100%;
}
.dash-sidebar {
	position: fixed;
	background: #233a52;
	height: 100%;
	overflow: hidden;
	z-index: 500;
	width: 269px !important;
}
.dash-sidebar .logo {
	padding: 20px 5%;
	text-align: center;
	color: #ffffff;
	background-size: cover;
	max-width: 100%;
}
.dash-sidebar .logo .logo-img {
	display: block;
}
.dash-sidebar .logo .logo-img img {
	max-width: 75%;
	height: auto;
}
.dash-sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.dash-sidebar ul li a {
	padding: 12px 5% 12px 7.5%;
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	border-bottom: 1px solid #1e3246;
	font-size: 14px;
	font-weight: 600;
	background-position: 10% center;
	background-repeat: no-repeat;
	background-size: 10%;
	opacity: .6;
	letter-spacing: 0.5px;
}
.dash-sidebar ul li .last-child {
	border-bottom: none;
}
.dash-sidebar ul li a img {
	margin-top: -5px;
	padding-right: 1%;
	width: 27px;
	height: auto;
}
.dash-sidebar ul li .active,
.dash-sidebar ul li a:hover {
	opacity: 1;
	text-decoration: none;
	background-color: #1e3246;
	box-shadow: inset 5px 0 0 #33acda;
}
.dash-sidebar ul li a .notification {
	float: right;
	margin-top: -5px;
	padding: 5px 11px 3px;
	font-weight: 600;
	color: #ffffff;
	border-radius: 500px;
	background: rgba(0,0,0,.2);
}
.dash-sidebar ul li a .notification:hover {
	background: rgba(0,0,0,.4);
}
.bottom-links {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.bottom-links .account-info {
	padding: 10px 5% 10px;
	background: #1e3246;
	border-bottom: 1px solid #243a51;
}
.bottom-links .account-info img {
	margin-top: 0;
	margin-right: 10px;
	padding: 1.5px;
	width: 35px;
	height: 35px;
	border-radius: 500px;
	border: 1.5px solid #33acda;
	float: left;
}
.bottom-links .account-info p {
	margin: 0;
	padding: 10px 0 0;
	float: left;
	font-size: 13.5px;
	font-weight: 600;
	color: #ffffff;
	width: 74%;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}
.bottom-links li a {
	background: #1d3247;
	font-size: 12.5px !important;
	border-bottom: 2px solid #243a51 !important;
}
.bottom-links li a img {
	padding-top: 2px;
	padding-right: 4px !important;
	width: 20px !important;
	display: inline-block !important;
}
.bottom-links li a p {
	margin: 0;
	display: inline-block;
}
.bottom-links li .settings-link,
.bottom-links li .log-out-link {
	padding-left: 4%;
	text-align: center;
	padding-right: 4%;
	width: 50%;
	float: left;
}
.bottom-links li .log-out-link {
	border-left: 1px solid #243a51;
}
.bottom-links li .active,
.bottom-links li a:hover {
	box-shadow: inset 0 3px 0 0 #33acda !important;
}

.scotch-panel-wrapper {
	height: 100%;
	overflow-y: scroll !important;
}
.dash-sidebar-responsive {
	display: none;
}

@media all and (max-width: 1280px) {
	.dash-sidebar {
		width: 250px !important;
	}
	.bottom-links .account-info img {
		width: 30px;
		height: 30px;
	}
	.bottom-links .account-info p {
		padding: 7px 0 0 0;
	}
}
@media all and (max-width: 991px) {
	.dash-sidebar {
		position: fixed;
		left: -75%; /*left or right and the width of your navigation panel*/
		width: 75% !important; /*should match the above value*/
	}
}