/*

Applicable Pages
	- Landing
	- Profile/Photo/Settings

Table of Contents
	- Landing Header
	- Profile/Photo/Settings Header

*/

/* Landing Header */

#landing-header {
	position: relative;
	height: 702px;
	background: url('../img/landing-header.jpg') center center no-repeat;
	background-size: cover;
}
#landing-header .logo {
	padding: 133px 0 115px;
	color: #ffffff;
	text-align: center;
}
#landing-header .logo h2 {
	padding: 12px 0;
	font-size: 48px;
	font-weight: 400;
}
#landing-header .logo h3 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
}
#landing-header .search {
	text-align: center;
}
#landing-header .search form {
	position: relative;
	display: inline-block;
}
#landing-header .search input[type='text'] {
	padding: 22px 27px;
	background: rgba(255,255,255,.2);
	border: 2px solid #ffffff;
	border-radius: 6px;
	color: #ffffff;
	font-size: 22px;
	width: 520px;
}
#landing-header .search input[type='submit'] {
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	padding: 27px 0;
	width: 72px;
	border: none;
	text-align: center;
	background: rgba(255,255,255,.7) url('../img/icons/search-button.jpg') center center no-repeat;
	cursor: pointer;
	-webkit-transition: all 175ms ease-out;
	-moz-transition: all 175ms ease-out;
	-o-transition: all 175ms ease-out;
	-ms-transition: all 175ms ease-out; 
	transition: all 175ms ease-out;
}
#landing-header .search input[type='submit']:hover {
	background-color: rgba(255,255,255,1);
}
#landing-header .search input::-webkit-input-placeholder {
   color: #ffffff;
}
#landing-header .search input:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}
#landing-header .search input::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}
#landing-header .search input:-ms-input-placeholder {  
   color: #ffffff;  
}
#landing-header .store {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 14px 0;
	background: rgba(255,255,255,.05);
	text-align: center;
	border-top: 1px solid rgba(255,255,255,.2);
}
#landing-header .store ul {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	display: inline-block;
}
#landing-header .store ul li {
	margin-right: 30px;
	display: inline-block;
}
#landing-header .store ul li a {
	padding: 8px 8px 0 8px;
	float: left;
	display: inline-block;
	border: 2px solid rgba(255,255,255,.2);
	border-radius: 6px;
	-webkit-transition: all 175ms ease-out;
	-moz-transition: all 175ms ease-out;
	-o-transition: all 175ms ease-out;
	-ms-transition: all 175ms ease-out; 
	transition: all 175ms ease-out;
}
#landing-header .store ul .android {
	margin: 0;
}
#landing-header .store ul .android a {
	padding: 8px 0 0;
	cursor: default;
	opacity: .5;
}
#landing-header .store ul .android a:hover {
	background: none;
	border: 2px solid rgba(255,255,255,.2);
}
#landing-header .store ul li a:hover {
	background: rgba(255,255,255,.1);
	border: 2px solid rgba(255,255,255,.5);
}

/* Responsive Landing  */
.mobile-responsive {
	display: none;
}
@media all and (max-width: 1175px) {
	.mobile-responsive {
		display: block;
	}
	.desktop {
		display: none;
	}
	
	#mobile-header {
		padding: 23px 4%;
		background: #fafafa;
		color: #404257;
		text-align: center;
	}
	#mobile-header .landing-nav-responsive-button {
		padding: 3px 0;
		float: left;
		cursor: pointer;
	}
	#mobile-header h2 {
		margin: 0;
		padding: 0;
	}
	#mobile-header ul {
		margin: 0;
		padding: 5px 0;
		list-style-type: none;
		text-align: left;
		display: none;
	}
	#mobile-header ul li a {
		padding: 20px 0;
		border-bottom: 1px solid #eaeaea;
		color: #404257;
		text-decoration: none;
		display: block;
		-webkit-transition: padding 175ms ease-out;
		-moz-transition: padding 175ms ease-out;
		-o-transition: padding 175ms ease-out;
		-ms-transition: padding 175ms ease-out; 
		transition: padding 175ms ease-out;
	}
	
	#get-podium {
		padding: 32px 0;
		background: #30363E url('../img/icons/music-note.png') 4% center no-repeat;
		color: #ffffff;
		text-align: center;
		text-decoration: none;
	}
	#get-podium p {
		font-size: 18px;
	}
	#get-podium .close-get-podium {
		float: right;
		font-size: 22px;
		display: none;
	}
	.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
	}
	
	#responsive-content {
		padding: 10px 4%;
		background: #ffffff;
	}
	#responsive-content .tab-selector ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		border-radius: 5px;
		border: 1px solid #30363E;
		background: #30363E;
	}
	#responsive-content .tab-selector ul li {
		padding: 10px 0;
		display: inline-block;
		float: left;
		font-size: 14px;
		text-align: center;
		background: #ffffff;
		border-right: 1px solid #30363E;
		color: #30363E;
		width: 33.11%;
		cursor: pointer;
	}
	#responsive-content .tab-selector ul .active {
		background: #30363E;
		color: #ffffff;
	}
	#responsive-grid {
		padding: 0 0 10px 4%;
	}
	#responsive-grid .grid {
		display: none;
	}
	#responsive-grid .show-grid {
		display: block;
	}
	#responsive-grid .grid ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	#responsive-grid .grid ul li {
		position: relative;
		border-radius: 5px;
		background: #30363E;
		width: 47%;
		height: 148px;
		margin-right: 2%;
		margin-bottom: 2%;
		float: left;
	}
	#responsive-grid .grid ul li a {
		position: absolute;
		border-radius: 5px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		background-position: center center;
		background-size: cover;
	}
	#responsive-grid .grid ul li a:hover {
		opacity: .3;
	}
}

/* Photo/Settings/Profile Header */

#main-header {
	margin-bottom: 30px;
	padding: 30px 0;
	overflow: visible;
}
#main-header .top {
	padding: 30px 0;
	top: 0;
	z-index: 1000;
}
#main-header .resize {
	padding: 8px 0;
}
#main-header .container {
	margin: 0 auto;
	width: 1170px;
	overflow: visible;
	background: rgba(246, 246, 246, 1);
	-webkit-transition: all 50ms ease-out;
	-moz-transition: all 50ms ease-out;
	-o-transition: all 50ms ease-out;
	-ms-transition: all 50ms ease-out; 
	transition: all 50ms ease-out;
}
#main-header .logo {
	float: left;
	display: inline-block;
}
#main-header .logo img {
	max-width: 100%;
	height: auto;
}
#main-header .logo h2 {
	display: none;
}
#main-header .navigation {
	position: relative;
	padding: 8px 0;
	float: right;
	display: inline-block;
	overflow: visible;
}
#main-header .navigation i {
	padding: 10px;
	color: #9ea9ba;
	cursor: pointer;
	border-radius: 5px;
	-webkit-transition: color 175ms ease-out;
	-moz-transition: color 175ms ease-out;
	-o-transition: color 175ms ease-out;
	-ms-transition: color 175ms ease-out; 
	transition: color 175ms ease-out;
}
#main-header .navigation i:hover {
	color: #8994a4;
}
#main-header .navigation ul {
	padding-top: 15px;
	padding-bottom: 20px;
	position: absolute;
	display: none;
	top: 50px;
	right: -25px;
	width: 145px;
	list-style-type: none;
	z-index: 500;
	-webkit-transition: padding 175ms ease-out;
	-moz-transition: padding 175ms ease-out;
	-o-transition: padding 175ms ease-out;
	-ms-transition: padding 175ms ease-out; 
	transition: padding 175ms ease-out;
}
#main-header .navigation ul li {
	text-align: left;
}
#main-header .navigation ul li a {
	padding: 15px 10px 15px 25px;
	border-bottom: 1px solid #eaeaea;
	display: block;
	text-decoration: none;
	color: #3a3f47;
	background-position: left center;
	background-repeat: no-repeat;
	-webkit-transition: color 175ms ease-out;
	-moz-transition: color 175ms ease-out;
	-o-transition: color 175ms ease-out;
	-ms-transition: color 175ms ease-out; 
	transition: color 175ms ease-out;
}
#main-header .navigation ul li .no-border {
	border-bottom: 1px solid #ffffff;
}
#main-header .navigation ul li a:hover {
	color: #000000;
	border-bottom: 1px solid #87cb17;
}
#main-header .navigation ul li .profile {
	background-image: url('../img/icons/menu-profile.png');
}
#main-header .navigation ul li .settings {
	background-image: url('../img/icons/menu-settings.png');
}
#main-header .navigation ul li .signout {
	background-image: url('../img/icons/menu-signout.png');
}
@media all and (max-width: 1200px) {
	#main-header .container {
		width: 1100px;
	}
}