body {
	min-height: 100vh;
}
.dap-theme-dark {
	background: url('bg.jpg') center repeat;
	background-size: cover;
}
.dap #dap-header {
	padding: 15px 15px;
}
.dap-theme-dark #dap-header {
	color: #ffffff;
	border-bottom: 1px solid rgba(0,0,0,.15);
}
.dap-theme-light #dap-header {
	color: #000000;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.dap-theme-dark .logo {
	background: url('logo-dark.png') left center no-repeat;
	background-size: cover;
}
.dap-theme-light .logo {
	background: url('logo-light.png') left center no-repeat;
	background-size: cover;
}
.dap #dap-title {
	font-size: 22px;
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}
.dap-theme-dark #dap-title,
.dap-theme-dark #dap-subtitle {
	color: #ffffff;
}
.dap-theme-light #dap-title,
.dap-theme-light #dap-subtitle {
	color: #000000;
}
.dap #dap-subtitle {
	padding-top: 5px;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	opacity: .25;
}
.dap-theme-light #dap-subtitle {
	opacity: .5;
}
#dap-carousel .col-nr-3 {
	height: 60px;
	width: 65px;
	margin: 0 5px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	float: right;
	border: 2px solid transparent;
}
#dap-carousel .active {
	border: 2px solid #1A96D9;
}
#dap-carousel .active:hover {
	border: 2px solid #1A96D9 !important;
}
.dap-theme-light #dap-carousel .col-nr-3:hover {
	border: 2px solid rgba(0,0,0,.15);
}
.dap-theme-dark #dap-carousel .col-nr-3:hover {
	border: 2px solid rgba(255,255,255,.15);
}
.dap #dap-preview {
	padding: 100px 30px 230px;
}
.dap #dap-preview img:hover {
	cursor: pointer;
}
@media all and (min-width: 1500px) {
	.dap #dap-preview.full {
		padding: 30px 30px 230px;
	}
	.dap #dap-preview.full img {
		max-width: none;
	}
	.dap #dap-preview img {
		max-width: 1400px;
	}
}
.dap .dap-valign {
	display: table;
	width: 100%;
	height: 100vh;
}
.dap .img-fluid {
	-webkit-box-shadow: 0px 119px 181px -100px rgba(0,0,0,0.83);
	-moz-box-shadow: 0px 119px 181px -100px rgba(0,0,0,0.83);
	box-shadow: 0px 119px 181px -100px rgba(0,0,0,0.83);
}
code, pre {
	background: transparent;
	padding: 0;
}
#dap-preview a:nth-of-type(1),
#dap-preview a:nth-of-type(2),
#dap-preview a:nth-of-type(3),
#dap-preview a:nth-of-type(4),
#dap-preview a:nth-of-type(5) {
	display: none;
}
#dap-preview hr {
	display: none;
}