#footer {
	padding: 25px 0 15px;
	color: #ffffff;
	background: #147ea6 url('../img/footer-blue-bg.png') bottom center repeat-x;
	background-size: contain;
	font-size: 16px;
}
#footer a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	font-weight: 300;
}
#footer a:hover {
	text-decoration: underline;
}
#footer p {
	font-weight: 300;
}
#footer h4 {
	margin: 0 0 10px;
	font-weight: 600;
	font-size: 16px;
}
#footer .copyright {
	padding: 5px 0;
	text-align: left;
	margin-top: 30px;
}
#footer .copyright a {
	padding: 5px 0;
	display: inline-block;
	font-weight: 600;
}
#footer .copyright .up {
	margin-top: -5px;
	display: block;
	padding: 4px 9px 6px;
	border: 1px solid #ffffff;
	border-radius: 500px;
	color: #ffffff;
}
#footer .copyright  .up:hover {
	background: #ffffff;
	color: #189ECB;
}

@media all and (max-width: 991px) {
	#footer .col-md-3 {
		text-align: center;
	}
	#footer .col-md-2 {
		width: 50%;
		padding-bottom: 20px;
		margin: 20px auto 0;
		text-align: center;
		border-bottom: 1px solid rgba(255,255,255,.3);
	}
	.pull-right {
		float: none !important;
	}
}