#header {
	background: url('../img/bg.jpg') center center no-repeat;
	background-size: cover;
}
#header .slogan {
	padding: 40px 0 0 0;
	display: table;
	height: calc(100vh + 1px);
	width: 100%;
	text-align: center;
	color: #ffffff;
}
#header .slogan .wrap {
	display: table-cell;
	vertical-align: middle;
}
#header .slogan h1 {
	padding: 0;
	margin: 0 0 20px;
	font-size: 50px;
	font-weight: 600;
}
#header .slogan h3 {
	padding: 0;
	margin: 0 0 20px;
	font-size: 20px;
	font-weight: 400;
}
#header .buttons {
	padding: 50px 0 0;
	text-align: center;
}
#header .buttons a {
min-width: 240px;
}
#header .engage-number {
	margin: 0 -15px;
	padding: 5px 15px;
	text-align: center;
	background: rgba(2,39,79,.3);
	color: #ffffff;
	font-size: 16px;
	letter-spacing: .5px;
}
#header .engage-number .white {
	opacity: .6;
}
#header .engage-number .white-lg {
	font-size: 40px;
}
#header .brands-list {
	margin: 0 -15px;
	padding: 10px 15px;
	background: rgba(2,40,79,.6);
	text-align: center;
}
#header .brands-list img {
	margin: 15px 0;
	opacity: .5;
	-webkit-transition: opacity 175ms ease-out;
	-moz-transition: opacity 175ms ease-out;
	-o-transition: opacity 175ms ease-out;
	transition: opacity 175ms ease-out;
}
#header .brands-list img:hover {
	opacity: 1;
}
#header .brands-list h4 {
	color: #ffffff;
	font-weight: 600;
	font-size: 18px;
	display: inline-block;
	padding: 10px 35px;
	text-align: center;
	border: 1px solid #ffffff;
	border-radius: 4px;
	cursor: pointer;
}
#header .brands-list h4:hover {
	background: #ffffff;
	color: #147ea6;
}
#header .signup-form {
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}
#header #signup-brands {
	max-width: 600px;
}
#header .signup-container {
	border-radius: 5px;
	overflow: hidden;
}
#header .signup-container .header {
	padding: 26px 15px;
	background: #3b4c62;
	text-align: center;
}
#header .signup-container .header img {
	max-width: 210px;
	width: 100%;
}
#header .signup-container .body {
	padding: 0 30px 30px;
	background: #ffffff;
	color: #afc1c8;
	text-align: left;
}
#header .signup-container .body .type {
	margin-left: -30px;
	margin-right: -30px;
	padding: 8px 15px;
	text-align: center;
	background: #f5f8fb;
	border-bottom: 1px solid #d8e0e8;
	text-align: center;
}
#header .signup-container .body .type a {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}
#header .signup-container .body .type .active {
	color: #428bca;
}
#header .signup-container .body .steps {
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: 20px;
	padding: 15px;
	border-bottom: 1px solid #d8e0e8;
	text-align: center;
	color: #b6c7cd;
	font-size: 20px;
	font-weight: 600;
}
#header .signup-container .body .steps span {
	padding: 10px 15px;
	width: 52px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 500px;
	border: 2px solid #b6c7cd;
}
#header .signup-container .body .steps .active {
	color: #33acda !important;
}
#header .signup-container .body .steps .active span {
	border-color: #33acda !important;
}
#header .signup-container .body .steps .completed {
	color: #147ea6 !important;
}
#header .signup-container .body .steps .completed span {
	border-color: #147ea6 !important;
}
#header .signup-container .body h1 {
	margin: 15px 0;
	font-size: 22px;
	color: #9dabbc;
	font-weight: 400;
}
#header .signup-container .body h2 {
	margin: 0 0 15px;
	color: #9dabbc;
	font-size: 18px;
}
#header .signup-container .body .social-stats {
	text-align: right;
	color: #9dabbc;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}
#header .signup-container .body .social-stats span {
	color: #147ea6;
}
#header .signup-container .body p {
	margin: 0 0 20px;
}
#header .signup-container .body .social-links a,
#header .signup-container .body .social-links label {
	margin: 0 0 20px;
	padding: 10px 15px;
	display: block;
	background: #000000;
	color: #ffffff;
	border-radius: 4px;
	font-weight: 600;
	border: 1px solid #000000;
	cursor: pointer;
}
#header .signup-container .body .social-links input[type="checkbox"] {
	display: none;
}
#header .signup-container .body .social-links a:hover,
#header .signup-container .body .social-links label:hover,
#header .signup-container .body .social-links input[type="checkbox"]:checked + label {
	background: transparent;
	text-decoration: none;
}
#header .signup-container .body .social-links input[type="checkbox"]:checked + label .fa-times {
	display: block;
}
#header .signup-container .body .social-links a i,
#header .signup-container .body .social-links label i,
#header .signup-container .body .social-links label img {
	margin-right: 15px;
	padding: 5px 15px 5px 0;
	font-weight: 400;
	border-right: 1px solid rgba(255,255,255,.25);
}
#header .signup-container .body .social-links label img {
	width: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
}
#header .signup-container .body .social-links a:hover i,
#header .signup-container .body .social-links label:hover i,
#header .signup-container .body .social-links label:hover img,
#header .signup-container .body .social-links input[type="checkbox"]:checked + label i,
#header .signup-container .body .social-links input[type="checkbox"]:checked + label img {
	border-right-color: rgba(0,0,0,.1);
}
#header .signup-container .body .social-links label .fa-times {
	padding-right: 0;
	padding-left: 15px;
	margin: 0;
	border-right: none;
	float: right;
	display: none;
	color: #d7e0e3;
}
#header .signup-container .body .social-links .facebook {
	background: #3b5998;
	border-color: #3b5998;
}
#header .signup-container .body .social-links .facebook:hover,
#header .signup-container .body .social-links #facebook:checked + label {
	color: #3b5998;
}
#header .signup-container .body .social-links .twitter {
	background: #00aced;
	border-color: #00aced;
}
#header .signup-container .body .social-links .twitter:hover,
#header .signup-container .body .social-links #twitter:checked + label {
	color: #00aced;
}
#header .signup-container .body .social-links .youtube {
	background: #bb0000;
	border-color: #bb0000;
}
#header .signup-container .body .social-links .youtube:hover,
#header .signup-container .body .social-links #youtube:checked + label {
	color: #bb0000;
}
#header .signup-container .body .social-links .vine {
	background: #00bf8f;
	border-color: #00bf8f;
}
#header .signup-container .body .social-links .vine:hover,
#header .signup-container .body .social-links #vine:checked + label {
	color: #00bf8f;
}
#header .signup-container .body .social-links .tumblr {
	background: #32506d;
	border-color: #32506d;
}
#header .signup-container .body .social-links .tumblr:hover,
#header .signup-container .body .social-links #tumblr:checked + label {
	color: #32506d;
}
#header .signup-container .body .social-links .instagram {
	background: #517fa4;
	border-color: #517fa4;
}
#header .signup-container .body .social-links .instagram:hover,
#header .signup-container .body .social-links #instagram:checked + label {
	color: #517fa4;
}
#header .signup-container .body .social-links .soundcloud {
	background: #ff8800;
	border-color: #ff8800;
}
#header .signup-container .body .social-links .soundcloud:hover,
#header .signup-container .body .social-links #soundcloud:checked + label {
	color: #ff8800;
}
#header .signup-container .body .social-links .pinterest {
	background: #cc2127;
	border-color: #cc2127;
}
#header .signup-container .body .social-links .pinterest:hover,
#header .signup-container .body .social-links #pinterest:checked + label {
	color: #cc2127;
}
#header .signup-container .body .social-links .snapchat {
	background: #fbbd09;
	border-color: #fbbd09;
	background-image: url('../img/logos/snapchat.png');
	background-position: 12px 12px;
	background-repeat: no-repeat;
	background-size: 20px;
}
#header .signup-container .body .social-links .snapchat:hover,
#header .signup-container .body .social-links #snapchat:checked + label {
	color: #fbbd09;
	background-image: url('../img/logos/snapchat-fill.png');
	background-position: 12px 12px;
	background-repeat: no-repeat;
	background-size: 20px;
}
#header .signup-container .body input,
#header .signup-container .body select {
	margin-bottom: 15px;
	padding: 8px 10px;
	border: 1px solid #e3e9ef;
	border-radius: 5px;
	display: block;
	width: 100%;
	font-size: 20px;
	color: #446588;
}
#header .signup-container .body input:focus,
#header .signup-container .body select:focus {
	outline: none;
	border-color: #428bca;
}
#header .signup-container .body button {
	margin: 0;
	width: 100%;
}
#header .signup-container .body .success {
	position: relative;
	border-color: #2ecc71 !important;
}
#header .signup-container .body .fail {
	position: relative;
	border-color: #e74c3c !important;
}
#header .signup-container .body .fa-check-circle,
#header .signup-container .body .fa-exclamation-circle {
	display: none;
}
#header .signup-container .body .success .fa-check-circle,
#header .signup-container .body .fail .fa-exclamation-circle {
	position: absolute;
	top: 10px;
	right: 15px;
	display: inline-block;
	font-size: 28px;
	z-index: 10;
}
#header .signup-container .body .success .fa-check-circle {
	color: #2ecc71;
}
#header .signup-container .body .fail .fa-exclamation-circle {
	color: #e74c3c;
}
#header .signup-form .body .col-md-1 {
	padding: 15% 0;
	text-align: center;
}
#header .signup-form .body .col-md-1 span {
	padding: 8px 6px;
	border: 1px solid #b6c7cd;
	border-radius: 500px;
}
.interests .current-interests ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.interests .current-interests ul li {
	padding: 10px 20px;
	background: #29abdc;
	color: #ffffff;
	display: inline-block;
	margin: 10px;
	margin-left: 0;
	font-weight: 600;
	font-size: 18px;
}
.interests .current-interests ul li i {
	margin-left: 5px;
	cursor: pointer;
}
.interests .available-interests {
	margin-top: 35px;
}
.interests .available-interests .available-interests-label {
	margin: 0 auto 15px;
	position: relative;
	width: 19%;
	min-width: 100px;
	text-align: center;
}
.interests .available-interests .available-interests-label .image {
	background: url('../dash/img/icons/interest-checked.png') center center no-repeat;
	background-size: contain;
}
.interests .available-interests .available-interests-label .image img {
	cursor: pointer;
	min-width: 100px;
}
.interests .available-interests .available-interests-label .image .hover {
	display: none;
}
.interests .available-interests .available-interests-label .image .hover i {
	color: #ffffff;
}
.interests .available-interests .available-interests-label h1 {
	margin-top: 15px;
	font-size: 14px !important;
	font-weight: 600 !important;
	color: #233a52 !important;
	text-transform: none;
}
.interests .available-interests img {
	max-width: 115px;
	width: 100%;
	height: auto;
}
.interests .available-interests input[type="checkbox"] {
	display: none !important;
}
.interests .available-interests input[type="checkbox"]:checked + label img {
	opacity: .2;
}
.interests .available-interests input[type="checkbox"]:checked + label h1 {
	color: #3bafde !important;
}
#header .signup-form .footer {
	padding: 10px;
	text-align: left;
}
#header .signup-form .footer a {
	color: rgba(255,255,255,.5);
	font-size: 16px;
}

.error {
	background: url('../img/bg-404.jpg') top center no-repeat !important;
	background-size: cover !important;
}
.creators {
	background: url('../img/bg-creators.jpg') top center no-repeat !important;
	background-size: cover !important;
}
.brands {
	background: url('../img/bg-brands.jpg') top center no-repeat !important;
	background-size: cover !important;
}
.blog {
	background: url('../img/bg-blog.jpg') top center no-repeat !important;
	background-size: cover !important;
}
.signup {
	background: url('../img/bg-signup.jpg') top center no-repeat !important;
	background-size: cover !important;
}
.blog-header {
	background: url(/img/bg-blog.jpg) top center no-repeat!important;
	background-size: cover!important;
}

@media all and (max-width: 991px) {
	#header .slogan {
		padding: 100px 0 50px;
		display: block;
		height: auto;
		width: 100%;
		text-align: center;
		color: #ffffff;
	}
	#header .slogan .wrap {
		display: block;
	}
	.brand-images {
		display: none;
	}
	.interests  {
		text-align: center;
	}
}