body {
	background: #eeeeee;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 22px;
	color: #848282;
	margin: 0px;
	line-height: normal;
	
	
}
a {
color: #0035e2;
font-weight: bold;
}
a:hover {
color: #0035e2;
text-decoration: none;
}
.clear {
clear: both;
}
img {
border: 0;
}
#wrapper {
background: url('http://www.hildlife.com/images/bg.png') repeat-y;
width: 920px;
margin: 0 auto 0;
padding: 0 12px;
}
#header {
height: 135px;
}
#header h1 {
font-family: Arial Black;
font-size: 34px;
letter-spacing: -2px;
color: #373737;
margin: 25px 0 0 18px;
float: left;
}
#header h1 span {
color: #e51253;
}
#ad468x60 {
width: 468px;
height: 60px;
float: right;
padding: 3px;
border: 0px solid #ececec;
margin: 15px 20px 15px 0;
}
#header ul {
background: url('http://www.hildlife.com/images/bg-topnav.png') repeat-x;
width: 912px;
height: 24px;
list-style-type: none;
margin: 0;
padding: 13px 0 0 8px;
clear: both;
}
#header ul li {
display: inline;
padding: 0 11px;
}
#header ul li a {
color: #fff;
font-weight: bold;
text-decoration: none;
}
#header ul li a:hover {
text-decoration: underline;
}
#content {
background: url('') repeat-y;
}
#post {
width: 860px;
float: left;
padding: 20px;
}
#post h2 {
	font-size: 30px;
	font-weight: bold;
	color: #000000;
	margin: 0;
}
#post h4 {
font-size: 14px;
font-weight: bold;
color: #000000;
margin: 0;
}
#post p {
line-height: 20px;
margin: 0 0 24px;
color: #000000;
}
#postdetails {
margin: 0 0 10px;
}
#postdetails p {
font-family: Georgia; 
font-size: 14px;
color: #000000;
line-height: 16px;
margin: 0;
}
#postdetails p span {
color: #909090;
font-style: italic;
}
#post blockquote {
        margin: 0px;
        padding: 6px 10px;
        background: none repeat scroll 0% 0% rgb(244, 241, 209);
        color: rgb(0, 0, 0);
        border-left: 3px solid rgb(191, 187, 187);

        }
#post blockquote p {
        font-size:14px;
        padding: 5px 0px;
        margin: 5px 0px;
        line-height: 20px;
        }
#post disclaimer {
        margin: 0px;
        padding: 3px 10px;
        background: none repeat scroll 0% 0% rgb(240, 240, 240);
        color: rgb(0, 0, 0);
		border: 1px solid rgb(200, 200, 200);
        }
#post disclaimer2 {
        margin: 0px;
        padding: 3px 10px;
        background-color: rgb(240, 240, 240);
        color: rgb(0, 0, 0);
        }
#post disclaimer2 p {
        font-size:14px;
        padding: 5px 0px;
        margin: 5px 0px;
        line-height: 20px;
        }
#steps {
width: 190px;
border: 1px solid #e7e7e7;
padding: 5px;
float: left;
margin: 0 10px 0 0;
}
#steps h3 {
font-size: 18px;
font-weight: bold;
color: #de0548;
margin: 0;
}
#steps p {
font-size: 12px;
line-height: 18px;
color: #8b8b8b;
margin: 0 0 12px;
}
#comments h4 {
font-size: 18px;
font-weight: 100;
color: #000000;
padding: 0 0 5px;
margin: 0 0 10px;
border-bottom: 3px solid #dedede;
}
#comments p {
font-size: 12px;
color: #3a3a3a;
line-height: 18px;
margin: 0 0 5px;
}
.comment {
margin: 0 0 15px;
}
.comment img {
float: left;
margin: 0 10px 0 0;
}
.comment p a {
color: #1b90e2;
font-weight: bold;
}
.comment p span {
color: #737a92;
}
p.disabled {
text-align: center;
font-size: 14px;
}
#sidebar {
width: 300px;
float: right;
padding: 10px;
}
/* Ad Styling */
#ad {
border: 1px solid #eaeaea;
padding: 25px 20px 15px;
margin: 0 0 10px;
}
#ad p {
font-size: 12px;
line-height: 12px;
}
p.adhead {
margin: 0;
}
p.adhead a {
color: #0035e2;
font-weight: bold;
}
p.adtext a {
color: #1d1d1d;
text-decoration: none;
font-weight: 100;
}
p.adtext {
margin: 0;
}
p.adurl {
margin: 0 0 10px;
}
p.adurl a {
color: #8e8e8e;
font-weight: 100;
font-size: 11px;
text-decoration: none;
}
/* End Ad Styling */
.box {
border: 2px solid #e4e4e4;
padding: 10px;
margin: 0 0 10px;
}
.box h2 {
font-size: 18px;
font-weight: bold;
color: #8d8b8c;
border-bottom: 2px solid #e3e3e3;
padding: 0 0 2px;
margin: 0 0 10px;
}
.box2 {
border: 1px solid rgb(200, 200, 200);
width: 150px;
background-color: rgb(240, 240, 240);
font-size: 9px;
padding: 10px;
margin: 0 0 10px;
}
.box3 {
border: 1px solid rgb(200, 200, 200);
width: 140px;
background-color: rgb(240, 240, 240);
font-size: 8px;
padding: 10px;
margin: 0 0 10px;
}
#footer {
background: url('http://www.hildlife.com/images/bg-footer.png') repeat-x;
height: 118px;
}
#footer p {
color: #a6a6a6;
text-align: center;
margin: 0;
padding: 30px 0 0;
}
#footer2 {
background: #FFFFFF;
height: 0px;
}
#footer2 p {
color: #333333;
font-size: 12px;
text-align: left;
margin: 0;
padding: 8px 60px 8px 60px;
}