@media screen and (max-width: 1280px) {
    div.page.settings div.left div.connected-accounts.block div.connected-actions a.button { padding: 0 3.188em 0 1.000em !important; width: 86px !important; }
    div.page div.right a.button, div.page div.right input[type='submit'].button { padding: 0 1em !important; width: auto !important; }
    div.page.settings div.right div.summary.block input[type='submit'] { width: 100% !important; }
    div.page.settings div.left div.upload-song.block span.upload { width: calc(100% - 14.875em) !important; font-size: 0.938em !important; }
    div.page.pages div.recommended.block ul li div.photo div.play span.title { font-size: 0.688em !important; }
    div.page.pages div.recommended.block ul li div.photo div.play span.price { font-size: 1.438em !important; }
    div.page.pages div.recommended.block ul li a.button { padding: 0 !important; width: calc(100% - 1.500em) !important; }
    div.page.pages div.recommended.block ul li span.stats { font-size: 0.750em !important; }
    div.page.pages div.left div.campaign-title.block span { font-size: 0.875em !important; }
	

	.campaign-container .left,
	.campaign-container .right {
		margin-left: 0 !important;
		float: none;
		width: 100% !important;
	}
	.map svg {
		width: 100%;
		height: 200px;
	}
}

@media screen and (max-width: 1220px) {
    div.page div.left div.clear label, div.page div.left div.clear span.label, div.page div.left div.clear span.input.checkbox span.inner-label { font-size: 1.150em !important; }
    div.page.settings div.left div.connected-accounts.block div.connected-info span { font-size: 1.438em !important; }
    div.page.settings div.left div.connected-accounts.block div.connected-actions a.button, div.page div.right a.button, div.page div.right input[type='submit'].button, div.page.pages div.left div.campaign-title.block a.button { font-size: 0.825em !important; }
    div.page.settings div.right div.summary.block h3 { font-size: 1.125em !important; }
    div.page.settings div.right div.summary.block span.right.total { font-size: 1.438em !important; }
    div.page.settings div.left div.upload-song.block span.upload { width: calc(100% - 19.207em) !important; font-size: 0.700em !important; }
}

@media screen and (max-width: 1024px) {
    div.page.pages div.find-music.block table td { font-size: 0.813em !important; }
        div.page.pages div.find-music.block table td a.button.invite { width: 120px !important; }
    
    div.page.pages div.quick-look.block span.current-balance, div.page.pages div.quick-look.block span.last-month { font-size: 0.625em !important; }
    div.page.settings div.left { width: 66.667% !important; }
    div.page.settings div.right { width: calc(33.333% - 1.625em) !important; }
        div.page div.right a.button, div.page div.right input[type='submit'].button { font-size: 0.750em !important; }
}