body {
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing:antialiased; 
}
#navigation {
	padding: 40px 0 50px;
}
#navigation h1 {
	font-family: "Playfair Display", serif;
	margin: 0;
	font-size: 32px;
	font-weight: 700;
	color: #5ECAAA;
	line-height: 1;
}
#navigation .title {
	display: inline-block;
	text-decoration: none !important;
}
#navigation .title:hover {
	text-decoration: none;
}
#navigation .title:hover h1 {
	opacity: .7;
}
#navigation h1 strong {
	font-weight: 900;
	font-size: 1.2em;
}
#navigation .nav-left,
#navigation .nav-right {
	padding-top: 16px;
}
#navigation .nav-left {
	text-align: left;
}
#navigation .nav-center {
	text-align: center;
}
#navigation .nav-right {
	text-align: right;
}
#navigation .nav-left a,
#navigation .nav-right a {
	color: rgba(0, 0, 0,.55);
	line-height: 1;
}
#navigation .nav-left a {
	margin-right: 50px;
}
#navigation .nav-right a {
	margin-left: 50px;
}
#navigation .nav-left a:hover,
#navigation .nav-right a:hover,
#navigation a.active {
	color: rgba(0, 0, 0,1);
	text-decoration: none;
}
#intro {
	padding: 100px 0;
	text-align: center;
	background: #5ECAAA;
}
h2 {
	margin: 0 auto;
	font-family: "Playfair Display", serif;
	width: 100%;
	max-width: 550px;
	color: #ffffff;
	font-style: italic;
	font-size: 24px;
	line-height: 1.75;
	text-shadow: 1px 1px 0px rgb(38, 179, 135);
}
h2 span {
	margin: 0 10px;
	font-size: 28px;
	font-family: "Lato", serif;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 300;
}
#portfolio {
	padding: 50px 0;
}
.grid .grid-item {
	margin-bottom: 15px;
}