#header {
	background: url('../img/bg.jpg') top center no-repeat;
	background-size: cover;
	text-align: center;
}
#header .logo {
	margin: 0 auto;
	margin-top: 55px;
	margin-bottom: 25px;
	width: 175px;
	height: 175px;
}
#header .logo img {
	width: 100%;
	height: auto;
	display: inline-block;
}
#header .slogan {
	margin-bottom: 25px;
	color: #ffffff;
}
#header .slogan h1 {
	line-height: 48px;
	font-weight: 700;
}
#header .buttons {
	margin-bottom: 40px;
}
#header .button {
	display: inline-block;
	box-shadow: 0px 0px 8px rgba(0,0,0,.4);
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	padding: 15px 40px;
	text-decoration: none;
	text-align: center;
	margin: 1.4rem 15px 0;
	letter-spacing: -0.03rem;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;
}
#header .blue {
	background: #0289F1;
}
#header .orange {
	background: #FF5400;
}
#header .iphones {
	height: 425px;
	overflow: hidden;
}
#header .iphones img {
	max-width: 945px;
	width: 100%;
	height: auto;
}

@media all and (max-width: 991px) {
	#header .iphones {
		height: auto;
	}
}