body {
	background: #000000;
}

#header {
	padding: 10px 30px;
	border-bottom: 1px solid rgba(255,255,255,.2);
}
#header .logo {
	float: left;
}
#header .logo h1 {
	margin: .67em 0;
	font-size: 18px;
	color: #ffffff;
}
#header .nav-button {
	float: right;
	display: none;
}
#header .nav-button i {
	padding-top: 14px;
	font-size: 24px;
	color: #ffffff;
}
#header .nav {
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#header .nav li {
	display: inline-block;
}
#header .nav li a {
	padding-left: 0;
	padding-right: 0;
	margin-left: 35px;
	font-size: 18px;
	color: #ffffff;
	border-bottom: 2px solid transparent;
}
#header .nav li a:hover {
	background: none;
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}

#content {
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}
#content h1 {
	margin-bottom: 20px;
	font-size: 56px;
	color: #ffffff;
	font-weight: 400;
}
#content h2 {
	color: #ffffff;
	font-weight: 400;
}
#content h2 .counter {
	display: inline-block;
	margin: 0 auto;
}
#content h2 .counter .cntSeparator {
	padding-top: 20px;
}
#content .video {
	margin-top: 30px;
	margin-bottom: 30px;
}
#content .video iframe {
	width: 100%;
	height: 500px;
}
#content .text {
	margin-bottom: 10px;
}
#content .text p {
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	width: 75%;
}
#content .text p:last-child {
	margin-top: 50px;
}
#content .text span {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#footer {
	margin-top: 100px;
	margin-bottom: 20px;
	text-align: center;
	color:#ffffff;
}
#footer a {
	color:#ffffff;
}

@media all and (max-width: 991px) {
	#header {
		padding: 15px;
	}
	#header .nav-button {
		display: block;
	}
	#header .nav {
		display: none;
		width: 100%;
	}
	#header .nav li {
		display: block;
	}
	#header .nav li a {
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	#content h1 {
		font-size: 30px;
	}
	#content h2 {
		font-size: 22px;
	}
	#content .video iframe {
		width: 100%;
		height: 200px;
	}
}