body {
	background: #131313;
}
.img-responsive {
	display: inline-block;
}
#header {
	padding: 10px 30px;
	border-bottom: 1px solid rgba(255,255,255,.2);
}
#header .logo {
	float: left;
}
#header .logo h1 {
	margin: .67em 0;
	font-size: 18px;
	color: #ffffff;
}
#header .nav-button {
	float: right;
	display: none;
}
#header .nav-button i {
	padding-top: 14px;
	font-size: 24px;
	color: #ffffff;
}
#header .nav {
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#header .nav li {
	display: inline-block;
}
#header .nav li a {
	padding-left: 0;
	padding-right: 0;
	margin-left: 35px;
	font-size: 18px;
	color: #ffffff;
	border-bottom: 2px solid transparent;
}
#header .nav li a:hover {
	background: none;
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}

#subscribe {
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #333333;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
#subscribe h1 {
	color: #ffffff;
	margin: 0;
}

#content {
	position: relative;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}
#content .subscribe-btn {
	position: absolute;
	top: 30px;
	right: 50px;
	color: #ffffff;
	cursor: pointer;
}
#content .subscribe-btn i {
	margin-right: 10px;
}
#content .logo {
	padding-top: 30px;
	margin-bottom: -40px;
}
#content h1 {
	margin-bottom: 20px;
	font-size: 56px;
	color: #ffffff;
	font-weight: 400;
}
#content .album {
	margin: 40px auto;
	display: table;
	width: 85%;
}
#content .album div {
	float: none;
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	font-size: 20px;
}
#content .album div img {
	margin-right: 10px;
	margin-bottom: 5px;
}
#content .title {
	margin-bottom: 20px;
}
#content .description {
	margin-bottom: 0;
	margin-top: 20px;
	font-size: 14px;
}
#content h2 {
	color: #ffffff;
	font-weight: 400;
}
#content h2 .counter {
	display: inline-block;
	margin: 0 auto;
	font-family: digital-7regular;
	font-size: 60px;
}
#content h2 .counter .countdown-section {
	padding-right: 10px;
}
#content h2 .counter .countdown-period {
	display: none;
}
#content .video {
	margin-top: 30px;
	margin-bottom: 30px;
}
#content .video iframe {
	width: 85%;
	height: 500px;
}
#content .text {
	margin-bottom: 10px;
}
#content .text i,
#content .text a {
	color: #fff;
}
#content .text a:hover {
	color: #fff;
	text-decoration: none;
}
#content .text p {
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	width: 75%;
}
#content .text p:last-child {
	margin-top: 50px;
}
#content .text .share {
	margin: 10px 5px;
}
#content .text span {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#social {
	margin-top: 20px;
	font-size: 24px;
	text-align: center;
	color:#ffffff;
}
#social a {
	color:#ffffff;
}
#logo {
	margin-top: 20px;
	text-align: center;
}
#logo img {
	max-width: 200px;
	height: auto;
}
#footer {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	color:#ffffff;
}
#footer a {
	color:#ffffff;
}

@media all and (max-width: 991px) {
	#header {
		padding: 15px;
	}
	#header .nav-button {
		display: block;
	}
	#header .nav {
		display: none;
		width: 100%;
	}
	#header .nav li {
		display: block;
	}
	#header .nav li a {
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	#content .logo {
		padding-top: 30px;
		margin-bottom: 0;
	}
	#content h1 {
		font-size: 30px;
	}
	#content h2 {
		font-size: 22px;
	}
	#content .album div {
		width: 100%;
		display: block;
		text-align: center;
	}
	#content .album .col-md-9 img {
		display: inline-block;
		width: 40%;
		height: auto;
	}
	#content .video iframe {
		width: 100%;
		height: 200px;
	}
}