body {
	font-family: 'Open Sans', sans-serif;
}
#header {
	padding: 20px 0;
	background: #ffffff;
}
#header #slogan {
	padding-top: 15px;
	color: #808996;
	font-weight: 400;
	font-size: 17px;
	text-align: right;
}
#header #slogan img {
	margin-right: 10px;
}
#header strong {
	color: #282c33;
}
#content {
	padding: 80px 0;
	background: url(../images/bg.png) top center no-repeat;
	background-size: cover;
}
#content .title {
	margin-bottom: 50px;
	color: #ffffff;
}
#content .title strong {
	font-weight: 600;
}
#content .title h1 {
	margin: 0;
	font-size: 52px;
	font-weight: 300;
}
#content .title h2 {
	margin: 10px 0;
	font-size: 20px;
	font-weight: 300;
}
#content .section {
	margin-bottom: 50px;
	padding: 55px 50px;
	border-radius: 5px;
	overflow: hidden;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}
#content .section .section-title {
	margin: -55px -50px 60px;
	text-align: center;
	padding: 20px 15px;
	background: #f3f6f8;
	font-size: 18px;
	color: #393f44;
	font-weight: 700;
	border-bottom: 1px solid #e3e6e8;
}
#content .section p {
	margin-bottom: 30px;
	color: #808896;
	font-size: 18px;
	line-height: 1.6;
	font-weight: 300;
}
#content .section .row {
	margin-top: 20px;
}
#content .section label,
#content .section .main-label {
	margin-bottom: 15px;
	color: #393f44;
	font-weight: 600;
	font-size: 17px;
	letter-spacing: -.3px;
}
#content .section label {
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
}
#content .radio-label {
	margin-right: 25px;
	padding: 2px 5px;
	display: inline-block;
}
#content .block {
	padding: 40px 0;
	background: #ffffff;
}
#content .block:nth-of-type(2n) {
	background: #f0f6f7;
}
#content .block:last-child {
	margin-bottom: -80px;
}
#content .block .inner-block {
	background: #ffffff;
	padding: 30px 25px;
	border-radius: 5px;
	border: 1px solid #e3e6e8;
}
#content .block .main-label {
	display: block;
}
#content .block .radio-label {
	margin-top: 7px;
	margin-right: 0;
	padding: 0;
	width: 50%;
	float: left;
}
#content input[type="radio"] + label {
	margin: 0;
	padding: 0 15px;
	color: #808896;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}
#content .block input[type="radio"] + label {
	padding: 0 10px;
}
#content input[type="radio"]:checked + label {
	color: #393f44;
}
#content input[type="tel"],
#content input[type="email"],
#content input[type="text"],
#content select {
	margin-bottom: 15px;
	padding: 10px 15px;
	display: block;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #e3e6e8;
	font-size: 16px;
	color: #393f44;
	font-weight: 400;
}
#content .block select {
	margin-top: 6px;
	margin-bottom: 0;
	padding: 5px 8px;
}
#content .section #coverage input[type="radio"] {
	display: none;
}
#content .section #coverage input[type="radio"] + label {
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 3px;
	border: 2px solid #e3e6e8;
	display: block;
	text-align: center;
}
#content .section #coverage input[type="radio"] + label:hover {
	color: #05a6ce;
	border-color: #03b8e5;
}
#content .section #coverage input[type="radio"]:checked + label {
	background: #03b8e5;
	color: #ffffff;
	border-color: #03b8e5;
}
#content #submit {
	padding: 20px 15px;
	margin: 0 auto;
	display: block;
	width: 75%;
	color: #ffffff;
	background: #8ad46d;
	border: none;
	font-size: 28px;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
}
#content .block #submit {
	margin-top: 10px;
	padding: 15px 10px;
	font-size: 15px;
}
#content .block .arrow {
	margin: 0 15px;
}
#content #submit:hover {
	background: #72b957;
}
#content .block .title {
	font-size: 17px;
	color: #393f44;
	font-weight: 600;
}
.no-margin {
	margin: 0;
}
#footer {
	padding: 10px 15px;
	margin-top: 50px;
	font-size: 14px;
	font-weight: 300;
	color: #808896;
}
#footer a {
	font-size: 14px;
	font-weight: 300;
	color: #808896;
}
#footer .col-md-6:last-child {
	text-align: right;
}
@media all and (max-width: 991px) {
	#header {
		text-align: center;
	}
	#header #slogan {
		text-align: inherit;
	}
	#content .section {
		margin-bottom: 50px;
		padding: 25px 30px;
		border-radius: 5px;
		overflow: hidden;
		background: #ffffff;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	}
	#content .title h1 {
		font-size: 32px;
	}
	#content .title h2 {
		font-size: 18px;
	}
	#content .section .section-title {
		margin: -25px -30px 35px;
		text-align: center;
		padding: 20px 15px;
		background: #f3f6f8;
		font-size: 18px;
		color: #393f44;
		font-weight: 700;
		border-bottom: 1px solid #e3e6e8;
	}
	#content #submit {
		width: 100%;
	}
	#footer {
		text-align: center;
	}
	#footer .col-md-6:last-child {
		text-align: inherit;
	}
	#content .block .col-md-3:first-child .main-label {
		margin-top: 0;
	}
	#content .block .main-label,
	#content .block #submit{
		margin-top: 25px;
	}
	#content .block .radio-label {
		float: none;
		width: 25%;
	}
	#content .block .arrow {
		display: none;
	}
}