#content {
	padding: 5px 15px;
}
.article h1 {
	font-size: 30px;
	font-weight: bold;
	line-height: 1.2em;
	color: #d61111;
}
.article .date {
	margin: 0 0 20px;
}
.article .align-right {
	float: right;
	padding: 0 0 15px 15px;
}
.article p {
	line-height: 22px;
	margin: 0 0 24px;
	color: #000000;
}
.article p a {
	font-weight: 700;
	text-decoration: underline;
}
.article p a:hover {
	text-decoration: none;
}
.article .recommended-mobile {
	display: none;
	padding: 50px 0 100px;
}
.sidebar {
	padding: 25px 15px;
	text-align: center;
}
.sidebar iframe {
	width: 100%;
	min-height: 200px;
	height: auto;
}
.sidebar .section {
	margin-top: 10px;
	border: 2px solid #DDDDDD;
	text-align: left;
}
.sidebar .section .title {
	margin: 0 0 5px;
	padding: 3px 5px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	background: #dddddd;
}
.sidebar .section .block {
	padding: 0 10px;
	margin: 0 0 10px;
}
.sidebar .section .subtitle {
	padding: 0 0 5px;
	margin: 0 0 5px;
	border-bottom: 2px solid #dddddd;
	font-weight: 700;
	color: #a3a3a3;
}
.sidebar .section a {
	font-weight: 700;
	text-decoration: underline;
}
.sidebar .section a:hover {
	text-decoration: none;
}

@media all and (max-width: 991px) {
	.article .align-right {
		margin: 10px auto;
		display: block;
		float: none;
		padding: 0;
	}
	.sidebar {
		display: none;
	}
	.article .recommended-mobile {
		display: block;
	}
}