#header {
	padding: 10px 15px;
}
.disclaimer {
	margin-bottom: 15px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}
#header .logo {
	padding: 17px 15px;
	text-align: left;
}
#header .advertisement {
	text-align: right;
}

@media all and (max-width: 991px) {
	#header .logo,
	#header .advertisement {
		text-align: center;
	}
}