body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #1C8BD2;
}

#header {
	position: relative;
	padding: 75px 0 300px;
	background: #1c8bd2 url('../img/main.png') bottom center no-repeat;
	color: #ffffff;
	overflow: hidden;
}

#header img {
	display: none;
}

#header h1 {
	font-size: 60px;
	font-weight: 300;
	font-family: 'Merriweather', serif;
}

#header .description {
	font-size: 22px;
	color: #ffffff;
	font-weight: 300;
}

#header canvas {
	position: absolute;
	margin-left: -134px;
	top: 336px;
	z-index: 500;
	transform: rotate(200deg);
}

.section {
	padding: 70px 0;
	border-bottom: 1px solid #ededed;
}

#section1 {
	background: url('../img/section-bg.png') left bottom no-repeat;
}

.dark {
	background: #fcfcfc;
}

.section .section-header {
	padding-bottom: 30px;
	margin-bottom: 35px;
	border-bottom: 1px solid #e5e5e5;
	font-weight: 400;
}

.section .section-subheader {
	margin-bottom: 25px;
	margin-top: 35px;
	font-weight: 400;
}

.section p {
	color: #5e5e5c;
	font-size: 18px;
	line-height: 35px;
	margin-bottom: 15px;
}

.code {
    font-size: .95em;
    line-height: 25px;
    color: #ed53ed;
    background: #f7edf7;
}

.visible-grid {
	margin-top: 10px;
}

.visible-grid .col-r-1,
.visible-grid .col-r-2,
.visible-grid .col-r-3,
.visible-grid .col-r-4,
.visible-grid .col-r-5,
.visible-grid .col-r-6,
.visible-grid .col-r-7,
.visible-grid .col-r-8,
.visible-grid .col-r-9,
.visible-grid .col-r-10,
.visible-grid .col-r-11,
.visible-grid .col-r-12 {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid #63a5ce;
    color: #1c8bd2;
    background: #a7d5f2;
}

.typography-example,
.typography-example-first {
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: 1px solid #e5e5e5;
}

.typography-example-first {
	border-top: none;
}

.message-blue,
.message-green,
.message-red,
.message-yellow {
	margin-bottom: 15px;
}

.buttons-row {
	margin-bottom: 15px;
}

@media all and (max-width: 1382px) {
	#section1 {
		background-image: none;
	}
}