@charset "utf-8";
/* CSS Document */
html {margin: 0px;min-height: 100%;}
body {margin:0; padding:0; min-height: 100%;}
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
a:link, a:visited, a:active, a:focus, a:hover {outline: 0;}h1, h2, h3, h4 {font-family: Trebuchet MS, Helvetica, sans-serif;}

/*========================

========================*/
a, em, u{color: #AC1414;}
.gridContainer {
	margin:0 auto;
	}
.cnttxt{
	color: #FFFFFF;
	font-size:15px;
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
	}
.gridContainer{
	background-color:#FFF;
	height:100%;
	margin:0 auto;
	padding:0;
	}
/*TOP MENIU*/
/*======================
		Width start
======================*/

@media only screen and (min-width: 980px) {
.gridContainer {
	width: 100%;
	max-width: 980px;
	padding:0;
	margin: auto;
}
.top-img{width:73%;}
#header{
	width:100%;
	height:150px;
	width:100%;
	margin:0 auto;
	border-bottom:3px solid #DDD;
	}
h3{font-size:24px;}
.headerInside{width:100%;}
.logo{ float:left; width:29%;}
.third-img{float:left; width:16%; margin:1% 0 0 5%;}
.logo img, .second-img img, .third-img img{width:100%;}
.search{
	float:left;
	width:25%;
	height:90px;
	text-align:right;
	margin:4% 0 0 24%;
	}
.search a{font-size:14px;}
#banner-search #navigationSearchInput{
	float:left;
	padding:1px;
	margin:0 0 0 3%;
	width:70%;height:18px;
	border:1px solid #31ddf6;
	font:12px/15px arial,sans-serif;
	color:#666;
	background:#FFF;
	}
/*------TOP-SECTION-END-------*/
#nav{
	float:left;
	width:100%;
	height:50px;
	margin:2% 0 0 0 ;
	background:#4CBBD3;
	-webkit-box-shadow:0 1px 3px #CCC;
	-moz-box-shadow:0 1px 3px #ccc;
	box-shadow:0 1px 3px #CCC;
	}
#nav ul{
	color:#ffffff;
	font-size:100%;
	margin:1.4% auto auto;
	display:block;
	padding:0;
	text-align:center;
	}
#nav ul li{
	display:inline-block;
	text-align:left;
	height:20px;
	margin-top:0;
	margin-right:19px;
	margin-bottom:-2px;
	margin-left:0;
	padding-top:2;
	padding-right:0;
	padding-bottom:2px;
	padding-left:0;
	font-family:Verdana,Geneva,sans-serif;
	}
#nav ul li a{
	display:inline-block;
	border-left:solid 1px #FFFFFF;
	padding-left:18px;
	margin-right:-6px;
	padding-bottom:0;
	font-weight: bold;
	text-decoration:none;
	text-align:left;
	font-size:19px;
	color:#000;
	}
#nav li a:hover{
	color: #FFFFFF;
	text-shadow: none;
	font-weight: bolder;
	}
#nav li.first a{
	border-left:0px;
	padding-left:8px;
	font-family:Verdana,Geneva,sans-serif;
	color:#ffffff;
	}
/*--------LEFT SECTION------*/
.leftColumn{
	float:left;
	width:65%;
	margin:2% 0 0 0;
	padding:0;
	}
.featured-in, .big-img{width:100%; margin:0; padding:0;}
.imgInline{
	float:left;
	width:20%;
	display:inline;
	padding-right:2%;
	margin-top:1%;
	}
.cnt-img{
	width:60%;
	}
.day{
	float:left;
	background:#ccc;
	width:96%;
	margin:2%;
	}
.day img{float:left; width:25%; margin:1%;}
.day h2{
	float:left;
	color:#F39;
	width:70%;
	font-size:22px;
	text-transform:uppercase;
	margin:1% 0 0 1%;
	}
.testdiaryp{
	float:left;
	width:70%;
	font-size:12px;
	line-height:18px;
	margin:0 0 0 1%;
	}
/*----------RIGHT-SECTION--------*/
.sidebar{
	float:left;
	width:28%;
	margin:2% 0 0 6%;
	}
#socialmedia{ float:left; margin:3% 0; width:100%;}
.news{margin-top:4%;}
/*-------BTM_SECTION---*/
#fullWidth{
	float:left;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	}
.step{
	float:left;
	width:100%;
	border:1px solid #CCC;
	margin-top:15px;
	background-repeat:no-repeat;
	height:280px;
	padding-top:2%;
	}
.bottle{float:left; width:24%; padding-bottom:8%;}
.step h2{ color:#333; font-size:20px; padding:0; line-height:20px; margin-top:3%;}
.step h2 a{color:#ad208e;}
.step-btn{width:33%;}
.offer-bar{width:98%; float:left; padding:0.5% 1%; margin:1% 0; background:#effff7; border:1px dotted #000;}
.sbtn{float:left; padding:1px; width:20%; margin:0 0 0 3%;}
}

@media only screen and (min-width: 820px) and (max-width: 980px) {
.gridContainer {
	width: 100%;
	padding:0;
	margin: auto;
}
.top-img{width:100%;}
#header{
	width:100%;
	height:150px;
	width:100%;
	margin:0 auto;
	border-bottom:3px solid #DDD;
	}
h3{font-size:24px;}
.headerInside{width:100%;}
.logo{ float:left; width:19%;}
.second-img{float:left; width:28%; margin:4% 0 0 3%;}
.third-img{float:left; width:16%; margin:1% 0 0 4%;}
.logo img, .second-img img, .third-img img{width:100%;}
.search{
	float:left;
	width:25%;
	height:90px;
	text-align:right;
	margin:4% 0 0 4%;
	}
.search a{font-size:12px;}
#banner-search #navigationSearchInput{
	float:left;
	padding:1px;
	margin:0 0 0 3%;
	width:60%;height:18px;
	border:1px solid #31ddf6;
	font:12px/15px arial,sans-serif;
	color:#666;
	background:#FFF;
	}
.sbtn{float:left; padding:1px; width:30%; margin:0 0 0 3%;}
/*------TOP-SECTION-END-------*/
#nav{
	height:50px;
	margin:4% 0 0 0;
	background:#4CBBD3;
	-webkit-box-shadow:0 1px 3px #CCC;
	-moz-box-shadow:0 1px 3px #ccc;
	box-shadow:0 1px 3px #CCC;
	}
#nav ul{
	padding:0;
	margin:0 auto;
	display:block;
	text-align:center;
	}
#nav ul li{
	display:inline-block;
	text-align:left;
	padding-top:2%;
	font-family:Verdana,Geneva,sans-serif;
	}
#nav ul li a{
	display:inline-block;
	text-align:center;
	border-left:solid 1px #FFFFFF;
	text-shadow: 0px -2px 0px #777;
	text-decoration:none;
	text-align:left;
	font-weight:bold;
	padding:0 20%;
	margin:0;
	font-size:14px;
	color:#ffffff;
	}
#nav li a:hover{
	color: #FFFFFF;
	text-shadow: none;
	font-weight: bolder;
	}
#nav li.first a{
	border-left:0px;
	font-family:Verdana,Geneva,sans-serif;
	color:#ffffff;
	}
/*--------LEFT SECTION------*/
.leftColumn{
	float:left;
	width:65%;
	margin:2% 0 0 0;
	padding:0;
	}
.featured-in, .big-img{width:100%; margin:0; padding:0;}
.imgInline{
	float:left;
	width:20%;
	display:inline;
	padding-right:2%;
	margin-top:1%;
	}
.day{
	float:left;
	background:#ccc;
	width:96%;
	margin:2%;
	}
.day img{float:left; width:25%; margin:1%;}
.day h2{
	float:left;
	color:#F39;
	width:70%;
	font-size:22px;
	text-transform:uppercase;
	margin:1% 0 0 1%;
	}
.testdiaryp{
	float:left;
	width:70%;
	font-size:12px;
	line-height:18px;
	margin:0 0 0 1%;
	}
/*----------RIGHT-SECTION--------*/
.sidebar{
	float:left;
	width:28%;
	margin:2% 0 0 6%;
	}
#socialmedia{ float:left; margin:3% 0; width:100%;}
.news{margin-top:4%;}
/*-------BTM_SECTION---*/
#fullWidth{
	float:left;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	}
.step{
	float:left;
	width:98%;
	border:1px solid #CCC;
	margin-top:15px;
	background-repeat:no-repeat;
	height:280px;
	margin:1%;
	padding-top:2%;
	}
.bottle{float:left; width:24%; padding-bottom:8%;}
.step h2{ color:#333; font-size:20px; padding:0; line-height:20px; margin-top:3%;}
.step h2 a{color:#ad208e;}
.step-btn{width:33%;}
.offer-bar{width:96%; float:left; padding:0.5% 1%; margin:1% 1%; background:#effff7; border:1px dotted #000;}
}

@media only screen and (min-width: 640px) and (max-width: 820px) {
.gridContainer {
	width: 100%;
	padding:0;
	margin: auto;
}
.top-img{width:100%;}
#header{
	width:100%;
	height:150px;
	width:100%;
	margin:0 auto;
	border-bottom:3px solid #DDD;
	}
h3{font-size:24px;}
.headerInside{width:100%;}
.logo{ float:left; width:18%; margin:3% 0 0 0;}
.second-img{float:left; width:28%; margin:5% 0 0 3%;}
.third-img{float:left; width:16%; margin:1% 0 0 5%;}
.logo img, .second-img img, .third-img img{width:100%;}
.search{
	float:left;
	width:25%;
	height:90px;
	text-align:right;
	margin:4% 0 0 4%;
	}
.search a{font-size:11px;}
#banner-search #navigationSearchInput{
	float:left;
	padding:1px;
	margin:0 0 0 3%;
	width:70%;height:18px;
	border:1px solid #31ddf6;
	font:12px/15px arial,sans-serif;
	color:#666;
	background:#FFF;
	}
/*------TOP-SECTION-END-------*/
#nav{
	height:50px;
	margin:4% 0 0 0;
	background:#4CBBD3;
	-webkit-box-shadow:0 1px 3px #CCC;
	-moz-box-shadow:0 1px 3px #ccc;
	box-shadow:0 1px 3px #CCC;
	}
#nav ul{
	padding:0;
	margin:0 auto;
	display:block;
	text-align:center;
	}
#nav ul li{
	display:inline-block;
	text-align:left;
	padding-top:2%;
	font-family:Verdana,Geneva,sans-serif;
	}
#nav ul li a{
	display:inline-block;
	text-align:center;
	border-left:solid 1px #FFFFFF;
	text-shadow: 0px -2px 0px #777;
	text-decoration:none;
	text-align:left;
	font-weight:bold;
	padding:0 14%;
	margin:0;
	font-size:13px;
	color:#ffffff;
	}
#nav li a:hover{
	color: #FFFFFF;
	text-shadow: none;
	font-weight: bolder;
	}
#nav li.first a{
	border-left:0px;
	font-family:Verdana,Geneva,sans-serif;
	color:#ffffff;
	}
/*--------LEFT SECTION------*/
.leftColumn{
	float:left;
	width:65%;
	margin:2% 0 0 0;
	padding:0;
	}
.featured-in, .big-img{width:100%; margin:0; padding:0;}
.imgInline{
	float:left;
	width:20%;
	display:inline;
	padding-right:2%;
	margin-top:1%;
	}
.day{
	float:left;
	background:#ccc;
	width:96%;
	margin:2%;
	}
.day img{float:left; width:25%; margin:1%;}
.day h2{
	float:left;
	color:#F39;
	width:70%;
	font-size:22px;
	text-transform:uppercase;
	margin:1% 0 0 1%;
	}
.testdiaryp{
	float:left;
	width:70%;
	font-size:12px;
	line-height:18px;
	margin:0 0 0 1%;
	}
/*----------RIGHT-SECTION--------*/
.sidebar{
	float:left;
	width:28%;
	margin:2% 0 0 6%;
	}
#socialmedia{ float:left; margin:3% 0; width:100%;}
.news{margin-top:4%;}
/*-------BTM_SECTION---*/
#fullWidth{
	float:left;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	}
.step{
	float:left;
	width:98%;
	margin:1%;
	border:1px solid #CCC;
	margin-top:15px;
	background-repeat:no-repeat;
	padding-top:2%;
	}
.bottle{float:left; width:24%; padding-bottom:10%;}
.step h2{ color:#333; font-size:20px; padding:0; line-height:20px; margin-top:3%;}
.step h2 a{color:#ad208e;}
.step-btn{width:33%;}
.offer-bar{width:96%; float:left; padding:0.5% 1%; margin:1% 1%; background:#effff7; border:1px dotted #000;}
.sbtn{float:left; padding:1px; width:20%; margin:0 0 0 3%;}
}

@media only screen and (min-width: 540px) and (max-width: 640px) {
.gridContainer {
	width: 100%;
	padding:0;
	margin: auto;
}
.top-img{width:100%;}
#header{
	width:100%;
	height:130px;
	width:100%;
	margin:0 auto;
	border-bottom:3px solid #DDD;
	}
h3{font-size:24px;}
.headerInside{width:100%;}
.logo{ float:left; width:17%; margin:3% 0 0 0;}
.second-img{float:left; width:23%; margin:5% 0 0 1%;}
.third-img{float:left; width:16%; margin:4% 0 0 2%;}
.logo img, .second-img img, .third-img img{width:100%;}
.search{
	float:left;
	width:35%;
	height:90px;
	text-align:left;
	margin:3% 0 0 4%;
	}
.search a{font-size:11px;}
#banner-search #navigationSearchInput{
	float:left;
	padding:1px;
	margin:0 0 0 1%;
	width:62%;height:18px;
	border:1px solid #31ddf6;
	font:12px/15px arial,sans-serif;
	color:#666;
	background:#FFF;
	}
.sbtn{float:left; padding:1px; width:28%; margin:0 0 0 3%;}
/*------TOP-SECTION-END-------*/
#nav{
	width:100%;
	height:50px;
	margin:4% 0 0 0;
	background:#4CBBD3;
	-webkit-box-shadow:0 1px 3px #CCC;
	-moz-box-shadow:0 1px 3px #ccc;
	box-shadow:0 1px 3px #CCC;
	}
#nav ul{
	padding:0;
	margin:2% auto 0 auto;
	display:block;
	text-align:center;
	
	}
#nav ul li{
	display:inline-block;
	text-align:left;
	margin:3% 0 0 0;
	font-family:Verdana,Geneva,sans-serif;
	}
#nav ul li a{
	display:inline-block;
	text-align:center;
	border-left:solid 1px #FFFFFF;
	text-shadow: 0px -2px 0px #777;
	text-decoration:none;
	padding:0 10%;
	margin:0;
	font-size:14px;
	color:#ffffff;
	}
#nav li a:hover{
	color: #FFFFFF;
	text-shadow: none;
	font-weight: bolder;
	}
#nav li.first a{
	border-left:0px;
	font-family:Verdana,Geneva,sans-serif;
	color:#ffffff;
	}
/*--------LEFT SECTION------*/
.leftColumn{
	float:left;
	width:65%;
	margin:2% 0 0 0;
	padding:0;
	}
.featured-in, .big-img{width:100%; margin:0; padding:0;}
.imgInline{
	float:left;
	width:20%;
	display:inline;
	padding-right:2%;
	margin-top:1%;
	}
.day{
	float:left;
	background:#ccc;
	width:96%;
	margin:2%;
	}
.day img{float:left; width:25%; margin:1%;}
.day h2{
	float:left;
	color:#F39;
	width:70%;
	font-size:22px;
	text-transform:uppercase;
	margin:1% 0 0 1%;
	}
.testdiaryp{
	float:left;
	width:70%;
	font-size:12px;
	line-height:18px;
	margin:0 0 0 1%;
	}
.celebcaption{
	width:80%;
	margin:auto;
	font-weight:bold;
	text-align:center;
	font-size:12px;
	line-height:90%;
    }
/*----------RIGHT-SECTION--------*/
.sidebar{
	float:left;
	width:28%;
	margin:2% 0 0 6%;
	}
#socialmedia{ float:left; margin:3% 0; width:100%;}
.news{margin-top:4%;}
/*-------BTM_SECTION---*/
#fullWidth{
	float:left;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	}
.step{
	float:left;
	width:98%;
	margin:1%;
	border:1px solid #CCC;
	margin-top:15px;
	background-repeat:no-repeat;
	padding-top:2%;
	}
.bottle{float:left; width:24%; padding-bottom:15%;}
.step h2{ color:#333; font-size:20px; padding:0; line-height:20px; margin-top:3%;}
.step h2 a{color:#ad208e;}
.step-btn{width:33%;}
.offer-bar{width:96%; float:left; padding:0.5% 1%; margin:1% 1%; background:#effff7; border:1px dotted #000;}

}
@media only screen and (min-width: 481px) and (max-width: 540px) {
.gridContainer {
	width: 100%;
	padding:0;
	margin: auto;
}
.top-img{width:100%;}
#header{
	width:100%;
	height:140px;
	width:100%;
	margin:0 auto;
	border-bottom:3px solid #DDD;
	}
h3{font-size:24px;}
.headerInside{width:100%;}
.logo{ float:left; width:30%; margin:3% 0 0 3%;}
.second-img{display:none;}
.third-img{display:none;}
.logo img, .second-img img, .third-img img{width:100%;}
.search{
	float:left;
	width:50%;
	height:90px;
	text-align:left;
	margin:5% 0 0 4%;
	}
.search a{font-size:15px;}
#banner-search #navigationSearchInput{
	float:left;
	padding:1px;
	margin:0 0 0 3%;
	width:70%;height:18px;
	border:1px solid #31ddf6;
	font:12px/15px arial,sans-serif;
	color:#666;
	background:#FFF;
	}
/*------TOP-SECTION-END-------*/
#nav{
	display:none;
	}
/*--------LEFT SECTION------*/
.leftColumn{
	float:left;
	width:64%;
	margin:2% 0 0 1%;
	padding:0;
	}
.featured-in, .big-img{width:100%; margin:0; padding:0;}
.imgInline{
	float:left;
	width:20%;
	display:inline;
	padding-right:2%;
	margin-top:1%;
	}
.day{
	float:left;
	background:#ccc;
	width:96%;
	margin:2%;
	}
.day img{float:left; width:25%; margin:1%;}
.day h2{
	float:left;
	color:#F39;
	width:70%;
	font-size:22px;
	text-transform:uppercase;
	margin:1% 0 0 1%;
	}
.testdiaryp{
	float:left;
	width:70%;
	font-size:12px;
	line-height:18px;
	margin:0 0 0 1%;
	}
.celebcaption{
	width:80%;
	margin:auto;
	font-weight:bold;
	text-align:center;
	font-size:12px;
	line-height:90%;
    }
/*----------RIGHT-SECTION--------*/
.sidebar{
	float:left;
	width:28%;
	margin:2% 0 0 6%;
	}
#socialmedia{ float:left; margin:3% 0; width:100%;}
.highlight{font-size:18px;}
.news{margin-top:4%;}
/*-------BTM_SECTION---*/
#fullWidth{
	float:left;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	}
.step{
	float:left;
	width:98%;
	margin:1%;
	border:1px solid #CCC;
	margin-top:15px;
	background-repeat:no-repeat;
	padding-top:2%;
	}
.bottle{float:left; width:24%; padding-bottom:22%;}
.step h2{ color:#333; font-size:20px; padding:0; line-height:20px; margin-top:3%;}
.step h2 a{color:#ad208e;}
.step-btn{width:33%;}
.offer-bar{width:96%; float:left; padding:0.5% 1%; margin:1% 1%; background:#effff7; border:1px dotted #000;}
.sbtn{float:left; padding:1px; width:20%; margin:0 0 0 3%;}
}

@media only screen and (max-width: 481px) {
.gridContainer {
	width:98%;
	padding:0;
	margin:0 1%;
}
.top-img{width:100%;}
#header{
	width:100%;
	height:130px;
	width:100%;
	margin:0 auto;
	border-bottom:3px solid #DDD;
	}
.headerInside{width:100%;}
.logo{ float:left; width:37%; margin:4% 0 0 1%;}
.second-img{display:none;}
.third-img{display:none;}
.logo img{width:100%;}
.search{
	float:left;
	width:57%;
	height:90px;
	text-align:left;
	margin:4% 0 0 4%;
	}
.search a{font-size:14px;}
#banner-search #navigationSearchInput{
	float:left;
	padding:1px;
	margin:0 0 0 3%;
	width:70%;height:18px;
	border:1px solid #31ddf6;
	font:12px/15px arial,sans-serif;
	color:#666;
	background:#FFF;
	}
/*------TOP-SECTION-END-------*/
#nav{display:none;}
/*--------LEFT SECTION------*/
.leftColumn{
	float:left;
	width:98%;
	margin:2% 0 0 1%;
	padding:0;
	}
.featured-in, .big-img{width:100%; margin:0; padding:0;}
.imgInline{
	float:left;
	width:20%;
	display:inline;
	padding-right:2%;
	margin-top:1%;
	}
.cnt-img{
	width:70%;
	}
.day{
	float:left;
	background:#ccc;
	width:96%;
	margin:2%;
	}
.day img{float:left; width:25%; margin:1%;}
.day h2{
	float:left;
	color:#F39;
	width:70%;
	font-size:22px;
	text-transform:uppercase;
	margin:1% 0 0 1%;
	}
.testdiaryp{
	float:left;
	width:70%;
	font-size:12px;
	line-height:18px;
	margin:0 0 0 1%;
	}
.celebcaption{
	width:60%;
	margin:auto;
	font-weight:bold;
	text-align:center;
	line-height:90%;
    }
/*----------RIGHT-SECTION--------*/
.sidebar{
	float:left;
	width:98%;
	margin:2% 0 0 1%;
	}
#socialmedia{ float:left; margin:3% 0; width:100%;}
.news{margin-top:4%;}
/*-------BTM_SECTION---*/
#fullWidth{
	float:left;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	}
.step{
	float:left;
	width:96%;
	border:1px solid #CCC;
	margin-top:15px;
	background-repeat:no-repeat;
	padding:2%;
	text-align:center;
	}
.bottle{width:44%}
.step h2{ color:#333; font-size:20px; padding:0; line-height:20px; margin-top:3%;}
.step h2 a{color:#ad208e;}
.step-btn{width:63%;}
.sbtn{float:left; padding:1px; width:20%; margin:0 0 0 3%;}
}
@media only screen and (max-width: 320px) {
.gridContainer {
	width:98%;
	padding:0;
	margin:0 1%;
}
.top-img{width:100%;}
#header{
	width:100%;
	height:130px;
	width:100%;
	margin:0 auto;
	border-bottom:3px solid #DDD;
	}
.headerInside{width:100%;}
.logo{ float:left; width:60%; margin:4% 0 0 20%;}
.logo img{width:100%;}
.search{
	display:none;
	}
.search a{font-size:11px;}
#banner-search #navigationSearchInput{
	float:left;
	padding:1px;
	margin:0 0 0 1%;
	width:50%;height:18px;
	border:1px solid #31ddf6;
	font:12px/15px arial,sans-serif;
	color:#666;
	background:#FFF;
	}
/*------TOP-SECTION-END-------*/
#nav{display:none;}
/*--------LEFT SECTION------*/
.leftColumn{
	float:left;
	width:98%;
	margin:2% 0 0 1%;
	padding:0;
	}
.featured-in, .big-img{width:100%; margin:0; padding:0;}
.imgInline{
	float:left;
	width:20%;
	display:inline;
	padding-right:2%;
	margin-top:5%;
	}
.cnt-img{
	width:98%;
	}
.day{
	float:left;
	background:#ccc;
	width:96%;
	margin:2%;
	}
.day img{float:left; width:25%; margin:1%;}
.day h2{
	float:left;
	color:#F39;
	width:70%;
	font-size:22px;
	text-transform:uppercase;
	margin:1% 0 0 1%;
	}
.testdiaryp{
	float:left;
	width:70%;
	font-size:12px;
	line-height:18px;
	margin:0 0 0 1%;
	}
.celebcaption{
	width:80%;
	margin:auto;
	font-weight:bold;
	text-align:center;
	font-size:14px;
	line-height:90%;
    }
/*----------RIGHT-SECTION--------*/
.sidebar{
	float:left;
	width:98%;
	margin:2% 0 0 1%;
	}
#socialmedia{ float:left; margin:3% 0; width:100%;}
.news{margin-top:4%;}
/*-------BTM_SECTION---*/
#fullWidth{
	float:left;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	}
.step{
	float:left;
	width:94%;
	border:1px solid #CCC;
	margin-top:15px;
	background-repeat:no-repeat;
	padding:2%;
	}
.bottle{width:54%; clear:both;}
.step h2{ color:#333; font-size:18px; padding:0; line-height:20px; margin-top:3%;}
.step h2 a{color:#ad208e;}
.step-btn{width:63%;}
.sbtn{float:left; padding:1px; width:35%; margin:0 0 0 4%;}
.highlight{
font-size:24px;
	}
}