#topnavbar	{
	height:44px;
	width:100%;
	background-color:rgb(234,234,234);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(215,215,215);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255,255,255);
}

#topnavbar span	{
	font-size: 12px;
	color:rgb(118,118,118);
	display: table-cell;
	vertical-align: middle;
}

#leftalignmenu	{
	width: 500px;
	height: 44px;
	display: table;
}	

#content0	{
	height:230px;
	width:100%;
	background-color: rgb(251,251,251);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
}

#content0title	{
	font-size: 30px;
	color:rgb(74,74,74);
	text-align: center;
	margin-top: 100px;
	margin-bottom: 30px;
}

.centredcontent2	{
	width:917px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

#circlegrid	{
	width: 917px;
	height: 102px;
}	

#osiconcircle1	{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: rgb(97,158,230);
	display: inline-block;
	position: absolute;
	left: 64px;
	top: -50px;
}

#osiconcircle2	{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: rgb(229,91,94);
	display: inline-block;
	position: absolute;
	left: 236px;
	top: -50px;
}

#osiconcircle3	{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: rgb(247,189,43);
	display: inline-block;
	position: absolute;
	left: 408px;
	top: -50px;
}

#osiconcircle4	{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: rgb(144,203,99);
	display: inline-block;
	position: absolute;
	right: 236px;
	top: -50px;
}

#osiconcircle5	{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: rgb(164,92,181);
	display: inline-block;
	position: absolute;
	right: 64px;
	top: -50px;
}	

#osicon1	{
	background-image: url("/static/images/pages/windowsicon.png");
	width: 50px;
	height: 51px;
	position: absolute;
	top: 24px;
	left: 25px;
}	

#osicon2	{
	background-image: url("/static/images/pages/appleicon.png");
	width: 50px;
	height: 51px;
	position: absolute;
	top: 24px;
	left: 25px;
}	

#osicon3	{
	background-image: url("/static/images/pages/linuxicon.png");
	width: 50px;
	height: 51px;
	position: absolute;
	top: 24px;
	left: 25px;
}	

#osicon4	{
	background-image: url("/static/images/pages/androidicon.png");
	width: 50px;
	height: 51px;
	position: absolute;
	top: 24px;
	left: 25px;
}	

#osicon5	{
	background-image: url("/static/images/pages/iosicon.png");
	width: 50px;
	height: 51px;
	position: absolute;
	top: 24px;
	left: 25px;
}	
	

#content1button	{
	width: 275px;
	height: 64px;
	background-color: rgb(97,158,230);
	border-radius: 5px;
	line-height: 64px;
	position: absolute;
	top: 170px;
	right: 150px;
	cursor: pointer;
}

#content1buttontext	{
	font-family: gotham_mediumregular;
	font-size: 18px;
	color: rgb(255,255,255);
	position: absolute;
	right: 30px;
}	

#buttonicon	{
	width: 32px;
	height: 32px;
	background-image: url("/static/images/pages/buttonicon.png");
	position: absolute;
	top: 17px;
	margin-left: 20px;
	margin-right: 20px;
}	

#content1	{	
	height:380px;
	width:100%;
	background-color: rgb(244,244,244);
}


#content1title	{
	position: absolute;
	top: 140px;
	left: 0px;
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: right;
}

.content1text 	{
	position: absolute;
	top: 180px;
	left: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 500px;
	line-height: 30px;
	text-align: left;
}

.content1text a	{
	color: rgb(90,123,178);
}

.content1text a: visited	{
	color: rgb(90,123,178);
}

#underbuttontext	{
	position: absolute;
	top: 250px;
	right: 200px;
	font-size: 12px;
	color: rgb(159,159,159);
	font-family: gotham_mediumregular;
}	


#content1image 	{
	background-image: url("/static/images/pages/research.png");
	width: 286px;
	height: 266px;
	position: absolute;
	right: 20px;
	top: 100px;
}

.centredcontent	{
	width:917px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: auto;
}

#grid	{
	width: 917px;
	height: 265px;
	padding-top: 50px;
}	

#content2	{	
	height:900px;
	width:100%;
	background-color: rgb(250,250,250);
}

#content2title	{
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: center;
	vertical-align: middle;
	margin-top: 50px;
}

#content2image 	{
	background-image: url("/static/images/pages/3devices.png");
	width: 795px;
	height: 263px;
	margin: 100 auto;
}


#grid2	{
	width: 750px;
	height: 300px;
	padding-top: 40px;
}	

#content3	{	
	height:600px;
	width:100%;
	background-color: rgb(244,244,244);
}

#key_uses_box_container {
	width:100%;
	height:550px;
	background-color:rgb(244,244,244);
}

#key_uses_box {
	width:917px;
	height:550px;
	margin:0 auto;
}

.key_uses_circles {
	width:119px;
	height:119px;
	border-radius:59.5px;
	background-color:rgb(41,45,59);
	display:inline-block;
	margin-right:75px;
	margin-top:45px;
	position:relative;
}

.key_uses_circles:hover	{
	background-color: transparent;
}	

.key_uses_circles:hover #headphones_circle {
	background-image:url(/static/images/pages/sprites2.png);
	width:152px;
	height:119px;
	position:absolute;
	bottom:0px;
	right:-16px;
	background-color: transparent;
	background-position: -200px -300px;
}

.key_uses_circles:hover #hand_shake {
	background-image:url(/static/images/pages/sprites2.png);
	width:152px;
	height:119px;
	position:absolute;
	bottom:0px;
	right:-16px;
	background-color: transparent;
	background-position: 0 -300px;
}

.key_uses_circles:hover #high_five {
	background-image:url(/static/images/pages/sprites2.png);
	width:152px;
	height:119px;
	position:absolute;
	bottom:0px;
	right:-16px;
	background-color: transparent;
	background-position: -400px -150px;
}

.key_uses_circles:hover #whiteboard {
	background-image:url(/static/images/pages/sprites2.png);
	width:152px;
	height:119px;
	position:absolute;
	bottom:0px;
	right:-18px;
	background-color: transparent;
	background-position: -200px -150px;
}

.key_uses_circles:hover #trolley {
	background-image:url(/static/images/pages/sprites2.png);
	width:152px;
	height:119px;
	position:absolute;
	bottom:0px;
	right:-16px;
	background-color: transparent;
	background-position: 0 -150px;
}

.key_uses_circles:hover #blackboard {
	background-image:url(/static/images/pages/sprites2.png);
	width:152px;
	height:119px;
	position:absolute;
	bottom:0px;
	right:-18px;
	background-color: transparent;
	background-position: -400px 0;
}

.key_uses_circles:hover #three_heads {
	background-image:url(/static/images/pages/sprites2.png);
	width:152px;
	height:119px;
	position:absolute;
	bottom:0px;
	right:-16px;
	background-color: transparent;
	background-position: -200px 0;
}

.key_uses_circles:hover #mortar_board {
	background-image:url(/static/images/pages/sprites2.png);
	width:152px;
	height:119px;
	position:absolute;
	bottom:0px;
	right:-16px;
	background-color: transparent;
	background-position: 0 0;
}

#headphones_circle {
	margin:0 auto;
	background-image: url(/static/images/pages/headphones.png);
	width:80px;
	height:65px;
	margin-top:27px;
}

#hand_shake {
	margin:0 auto;
	background-image: url(/static/images/pages/handshake.png);
	width:80px;
	height:65px;
	margin-top:27px;
}

#high_five {
	margin:0 auto;
	background-image: url(/static/images/pages/hi5.png);
	width:80px;
	height:65px;
	margin-top:27px;
}

#whiteboard {
	margin:0 auto;
	background-image: url(/static/images/pages/whiteboard.png);
	width:80px;
	height:65px;
	margin-top:27px;
}

#trolley {
	margin:0 auto;
	background-image: url(/static/images/pages/trolley.png);
	width:80px;
	height:65px;
	margin-top:27px;
}

#blackboard {
	margin:0 auto;
	background-image: url(/static/images/pages/blackboard.png);
	width:80px;
	height:65px;
	margin-top:27px;
}

#three_heads {
	margin:0 auto;
	background-image: url(/static/images/pages/peeps.png);
	width:80px;
	height:65px;
	margin-top:27px;
}

#mortar_board {
	margin:0 auto;
	background-image: url(/static/images/pages/mortarboard.png);
	width:80px;
	height:65px;
	margin-top:27px;
}


#key_uses_text {
	font-family:gotham_mediumregular;
	font-size:24px;
	color:rgb(74,74,74);
	text-align:center;
	padding-top:100px;
	margin-bottom:-125px;
	
}

#circles_div {
	padding-top:117px;
	width:792px;
	margin-left:100;
}


#content4	{	
	height:720px;
	width:100%;
	background-color: rgb(250,250,250);
}


#samesurfvideo 	{
	margin: 100 auto;
}

#content5	{
	height:500px;
	width:100%;
	background-color: rgb(244,244,244);
}

#content5title	{
	position: absolute;
	top: 160px;
	left: 0px;
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: right;
}

.content5text 	{
	position: absolute;
	top: 200px;
	left: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 500px;
	line-height: 30px;
	text-align: left;
}

#content5image 	{
	background-image: url("/static/images/pages/socialsharing.png");
	width: 287px;
	height: 290px;
	position: absolute;
	right: 20px;
	top: 100px;
}

#content6	{	
	height:520px;
	width:100%;
	background-color: rgb(250,250,250);
}

#content6title	{
	position: absolute;
	top: 180px;
	right: 0px;
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: right;
}

.content6text 	{
	position: absolute;
	top: 220px;
	right: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 400px;
	line-height: 30px;
	text-align: right;
}


#content6image 	{
	background-image: url("/static/images/pages/audvidchat.png");
	width: 463px;
	height: 273px;
	position: absolute;
	left: 20px;
	top: 120px;
}

#content7	{
	height:500px;
	width:100%;
	background-color: rgb(244,244,244);
}

#content7title	{
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: center;
	margin-top: 70px;
}

.iconsq01	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	left: 96px;
}

.iconsq02	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	left: 296px;
}

.iconsq03	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	right: 296px;
}

.iconsq04	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	right: 96px;
}

.iconsq05	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	top: 300px;
	left: 96px;
}

.iconsq06	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	top: 300px;
	left: 296px;
}

.iconsq07	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	top: 300px;
	right: 296px;
}

.iconsq08	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	top: 300px;
	right: 96px;
}

#icon01	{
	background-image: url("/static/images/pages/samesurfS.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}	

#icon02	{
	background-image: url("/static/images/pages/leader.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon03	{
	background-image: url("/static/images/pages/draw.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon04	{
	background-image: url("/static/images/pages/video.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon05	{
	background-image: url("/static/images/pages/socialmedia.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon06	{
	background-image: url("/static/images/pages/screenshare.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon07	{
	background-image: url("/static/images/pages/cloud.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon08	{
	background-image: url("/static/images/pages/padlock.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

.iconsq01:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	left: 85px;
	background-position: -700px 0;
}	

.iconsq01:hover #icon01	{
	display:none;
}

.iconsq02:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	left: 285px;
	background-position: -500px -150px;
}

.iconsq02:hover #icon02	{
	display:none;
}

.iconsq03:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	right: 275px;
	background-position: -300px -150px;
}

.iconsq03:hover #icon03	{
	display:none;
}

.iconsq04:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	right: 75px;
	background-position: -500px -300px;
}

.iconsq04:hover #icon04	{
	display:none;
}

.iconsq05:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	top: 300px;
	left: 85px;
	background-position: -700px -300px;
}	

.iconsq05:hover #icon05	{
	display:none;
}

.iconsq06:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	top: 300px;
	left: 285px;
	background-position: -700px -150px;
}	

.iconsq06:hover #icon06	{
	display:none;
}

.iconsq07:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	top: 300px;
	right: 275px;
	background-position: -500px 0;
}

.iconsq07:hover #icon07	{
	display:none;
}

.iconsq08:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	position: absolute;
	background-color: transparent;
	top: 300px;
	right: 77px;
	background-position: -300px -300px;
}

.iconsq08:hover #icon08	{
	display:none;
}