#topnavbar	{
	height:44px;
	width:100%;
	background-color:rgb(234,234,234);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(215,215,215);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255,255,255);
}

#topnavbar span	{
	font-size: 12px;
	color:rgb(118,118,118);
	display: table-cell;
	vertical-align: middle;
}

#leftalignmenu	{
	width: 500px;
	height: 44px;
	display: table;
}	

#titlebar	{
	height:270px;
	width:100%;
	background-color: rgb(251,251,251);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
	overflow: auto;
}

#titlebartable	{
	display: table;
	width: 100%;
	height: 100%;
}	

#titlebar .mediumheader	{
	font-size: 25px;
	color:rgb(74,74,74);
	display: table-cell;
	padding-top: 100px;
	text-align: center;
}

#visitbutton	{
	margin-top: 32px;
	width: 185px;
	height: 34px;
	background-color: rgb(246,246,246);
	font-size: 12px;
	color: rgb(135,142,146);
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(207,207,207);
	text-align: center;
	line-height: 34px;
	margin:20 auto;
	font-family: gotham_mediumregular;
	position: absolute;
	top: 120px;
	left: 359px;
}	

#content1	{	
	height:420px;
	width:100%;
	background-color: rgb(244,244,244);
}

.centredcontent	{
	width:917px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: auto;
}

.titletable	{
	display: table;
	height: 40px;
	width: 100%;
}	

#content1group 	{
	position: absolute;
	left: 0px;
	top: 140px;
}	

#content1title	{
	font-size: 22px;
	color:rgb(74,74,74);
	display: table-cell;
	vertical-align: middle;
	padding-left: 12px;
}

.content 	{
	padding-top: 10px;
	font-size: 16px;
	color: rgb (74,74,74);
	display: table-cell;
	vertical-align: middle;
	width: 350px;
	line-height: 25px;
}

.imagetable		{
	display: table;
}	

#content1image 	{
	width: 396px;
	height: 217px;
	display: table-cell;
	position: absolute;
	right: 20px;
	top: 100px;
}		
	

#circle1	{
	border-radius: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(31,34,37);
	display: table-cell;
	font-size: 20px;
	color:rgb(255,255,255);
	text-align: center;
}	

#content2	{	
	height:480px;
	width:100%;
	background-color: rgb(251,251,251);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
}

#content2title	{
	font-size: 22px;
	color:rgb(74,74,74);
	display: table-cell;
	vertical-align: middle;
	padding-left: 12px;
	position: absolute;
	right: 0px;
	top: 170px;
}

#content2text 	{
	position: absolute;
	top: 200px;
	right: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 380px;
	line-height: 25px;
	padding-top: 10px;
	text-align: right;
}

#content2group 	{
	position: absolute;
	right: 0px;
}

#circle2	{
	border-radius: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(31,34,37);
	display: table-cell;
	font-size: 20px;
	color:rgb(255,255,255);
	text-align: center;
	position: absolute;
	top: 160px;
	right: 135px;
}	

#content2image 	{
	width: 465px;
	height: 275px;
	display: table-cell;
	position: absolute;
	left: 20px;
	top: 100px;
}

#content3	{	
	height:480px;
	width:100%;
	background-color: rgb(244,244,244);
}

#circle3	{
	border-radius: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(31,34,37);
	display: table-cell;
	font-size: 20px;
	color:rgb(255,255,255);
	text-align: center;
}

#content3title	{
	font-size: 22px;
	color:rgb(74,74,74);
	display: table-cell;
	vertical-align: middle;
	padding-left: 52px;
	position: absolute;
	top: 85px;
}

#content3text 	{
	padding-top: 10px;
	font-size: 16px;
	color: rgb (74,74,74);
	vertical-align: middle;
	width: 100%;
	line-height: 25px;
	position: absolute;
	top: 115px;
}

#content3group 	{
	position: absolute;
	top: 0px;
	text-align: center;
	width:917px;
}

#content3group	.titletable 	{
	width: 225px;
	margin:0 auto;
}

#content3image 	{
	position: absolute;
	right: 20px;
	top: 100px;
	height: 273px;
	width: 463px;
}

#content3newgroup 	{
	position: absolute;
	left: 0px;
	top: 130px;
}	

#content3newtitle	{
	font-size: 22px;
	color:rgb(74,74,74);
	display: table-cell;
	vertical-align: middle;
	padding-left: 12px;
}

#content4	{	
	height:650px;
	width:100%;
	background-color: rgb(251,251,251);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
}

#content4group 	{
	position: absolute;
	top: 0px;
	text-align: center;
	width:917px;
}

#content4group	.titletable 	{
	width: 170px;
	margin:0 auto;
}

#content4title	{
	font-size: 22px;
	color:rgb(74,74,74);
	display: table-cell;
	vertical-align: middle;
	padding-left: 52px;
	position: absolute;
	top: 85px;
	left: 300px;
}

#circle4	{
	border-radius: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(31,34,37);
	display: table-cell;
	font-size: 20px;
	color:rgb(255,255,255);
	text-align: center;
	position: absolute;
	top: 75px;
	margin-right: 15px;
}

#content4image 	{
	position: absolute;
	top: 220px;
	left: 0px;
	width: 812px;
	height: 353px;
}

#content4text  {
	width:800px;
	text-align: center;
	position:absolute;
	bottom: 60px;
	left: 40px;
	line-height: 25px;
}

#content4text a	{
	color: rgb(60,120,192);
}	

#content4text a:visited 	{
	color: rgb(60,120,192);
}

#content5	{	
	height:840px;
	width:100%;
	background-color: rgb(244,244,244);
}	

#circle5	{
	border-radius: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(31,34,37);
	display: table-cell;
	font-size: 20px;
	color:rgb(255,255,255);
	text-align: center;
	position: absolute;
	top: 75px;
	left: 300px;
	margin-right: 15px;
} 

#content5image 	{
	position: absolute;
	top: 200px;
	left: 0px;
	height: 463px;
	width: 202px;
}	


#content5	{	
	height:810px;
	width:100%;
	background-color: #F4F4F4;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
}
#content5 .centredcontent {
	overflow: hidden;
}

#content4group 	{
	position: absolute;
	top: 100px;
	text-align: center;
	width:917px;
	overflow-y:hidden;
}

#content5group	.titletable 	{
	width: 320px;
	margin:0 auto;
}

#content5title	{
	font-size: 20px;
	color:rgb(74,74,74);
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
}

#circle4	{
	border-radius: 17px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	background-color: rgb(41,46,50);
	display: table-cell;
	font-size: 16px;
	color:rgb(255,255,255);
	text-align: center;
}
.content4view {
	margin-top: 125px;
	opacity: 0;
}
.content4view img {
	opacity: 1 !important;
}
.content4view .box {
	height: 330px;
	padding: 62px 60px;
	background: #f6f6f6;
	border: 1px solid #e1e1e1;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.box #grid {
	height: 285px;
}

/*.iconsq01,
.iconsq02,
.iconsq03,
.iconsq04,
.iconsq05,
.iconsq06,
.iconsq07,
.iconsq08,
.iconsq09,
.iconsq10 {
	opacity: 0;
}*/

.iconsq01	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	left: 58px;
	cursor: pointer;
}

.iconsq02	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	left: 230px;
	cursor: pointer;
}

.iconsq03	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	left: 402px;
	cursor: pointer;
}

.iconsq04	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	left: 573px;
	cursor: pointer;
}

.iconsq05	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	left: 744px;
	cursor: pointer;
}

.iconsq06	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	top: 370px;
	left: 58px;
	cursor: pointer;
}

.iconsq07	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	top: 370px;
	left: 230px;
	cursor: pointer;
}

.iconsq08	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	top: 370px;
	left: 402px;
	cursor: pointer;
}

.iconsq09	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	top: 370px;
	left: 573px;
	cursor: pointer;
}

.iconsq10	{
	height:120px;
	width:120px;
	background-color: rgb(41,46,50);
	border-radius: 13px;
	display:inline-block;
	position: absolute;
	top: 370px;
	left: 744px;
	cursor: pointer;
}

#icon01	{
	background-image: url("/static/images/pages/samesurfS.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}	

#icon02	{
	background-image: url("/static/images/pages/leader.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon03	{
	background-image: url("/static/images/pages/draw.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon04	{
	background-image: url("/static/images/pages/video.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon05	{
	background-image: url("/static/images/pages/socialmedia.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon06	{
	background-image: url("/static/images/pages/screenshare.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon07	{
	background-image: url("/static/images/pages/cloud.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon08	{
	background-image: url("/static/images/pages/padlock.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon09	{
	background-image: url("/static/images/pages/key.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}

#icon10	{
	background-image: url("/static/images/pages/piechart.png");
	height: 52px;
	width:67px;
	position:absolute;
	top: 34px;
	left: 27px
}


.iconsq01:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	left: 46px;
	background-position: -700px 0;
}	

.iconsq01:hover #icon01	{
	display:none;
}

.iconsq02:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	left: 218px;
	background-position: -500px -150px;
}

.iconsq02:hover #icon02	{
	display:none;
}

.iconsq03:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	left: 390px;
	background-position: -300px -150px;
}

.iconsq03:hover #icon03	{
	display:none;
}

.iconsq04:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	left: 561px;
	background-position: -500px -300px;
}

.iconsq04:hover #icon04	{
	display:none;
}

.iconsq05:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	left: 732px;
	background-position: -700px -300px;
}	

.iconsq05:hover #icon05	{
	display:none;
}

.iconsq06:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	top: 370px;
	left: 46px;
	background-position: -700px -150px;
}	

.iconsq06:hover #icon06	{
	display:none;
}

.iconsq07:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	top: 370px;
	left: 218px;
	background-position: -500px 0;
}

.iconsq07:hover #icon07	{
	display:none;
}

.iconsq08:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	position: absolute;
	background-color: transparent;
	top: 370px;	
	left: 390px;
	background-position: -300px -300px;
}

.iconsq08:hover #icon08	{
	display:none;
}

.iconsq09:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	background-color: transparent;
	top: 370px;
	left: 561px;
	background-position: -300px 0;
}

.iconsq09:hover #icon09	{
	display:none;
}

.iconsq10:hover	{
	background-image: url("/static/images/pages/sprites.png");	
	width: 151px;
	height: 119px;
	position: absolute;
	background-color: transparent;
	top: 370px;
	left: 732px;
	background-position: -300px -450px;
}

.iconsq10:hover #icon10	{
	display:none;
}

#content6	{	
	height:200px;
	width:100%;
	background-color: rgb(251,251,251);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
}	

#content6text  {
	width:800px;
	text-align: center;
	position:absolute;
	top: 60px;
	left: 40px;
	line-height: 40px;
}

#content6text a	{
	color: rgb(60,120,192);
}	

#content6text a:visited 	{
	color: rgb(60,120,192);
}