#topnavbar	{
	height:44px;
	width:100%;
	background-color:rgb(234,234,234);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(215,215,215);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255,255,255);
}

#topnavbar span	{
	font-size: 12px;
	color:rgb(118,118,118);
	display: table-cell;
	vertical-align: middle;
}

#leftalignmenu	{
	width: 500px;
	height: 44px;
	display: table;
}	

#titlebar	{
	height:306px;
	width:100%;
	background-color: rgb(251,251,251);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
}

#titlebartable	{
	display: table;
	width: 100%;
	height: 100%;
}	

#titlebartitle	{
	font-size: 25px;
	color:rgb(74,74,74);
	display: table-cell;
	text-align: center;
	position: absolute;
	top: 195px;
	width: 917px;
	
}

.centredcontent	{
	width:917px;
	margin: 0 auto;
	position: relative;
}

.centredcontent2	{
	width:917px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.centredcontent3	{
	width:917px;
	margin: 0 auto;
	position: relative;
}

#logo	{
	background-image: url("/static/images/pages/samesurflogolge.png");
	width: 417px;
	height: 66px;
	position: absolute;
	top: 100px;
	left: 250px;	
}	

#content1	{	
	height:auto;
	width:100%;
	background-color: rgb(244,244,244);
	overflow: hidden;
	padding-bottom: 100px;
}

.downarrow	{
	width: 16px;
	height:11px;
	background-image: url("/static/images/pages/downarrow.png");
	position: absolute;
	right: 35px;
	top: 32px;
}

.inverted {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=1.2246063538223773e-16, M21=-1.2246063538223773e-16, M22=-1, SizingMethod='auto expand')";
}

.contentboxtitle	{
	font-size: 18px;
	font-family: gotham_mediumregular;
	margin-top: 25px;
	margin-left: 15px;
	display: inline-block;
	vertical-align: middle;
	color: rgb(74,74,74);
}

.contentboxtext	{
	font-size: 14px;
	margin-left: 25px;
	margin-right: 20px;
	margin-top: 20px;
	line-height: 30px;
	text-align: justify;
}	

.contentbox	{
	width: 915px;
	height: 70px;
	cursor: pointer;
	background-color: rgb(255,255,255);
	border-right-color: rgb(233,233,233);
	border-left-color: rgb(233,233,233);
	border-bottom-color: rgb(217,218,218);
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-radius: 5px;
	display: inline-block;
	margin-top: 10px;
	position: relative;
	vertical-align: top;
	overflow:hidden;
}

.title	{
	font-size: 25px;
	color:rgb(74,74,74);
	margin-top: 100px;
	text-align: left;
	width: 917px;
	margin-bottom: 40px;
}

#grid	{
	width: 917px;
	margin-top: 275px;
	left: 0px;
}

.downarrow	{
	width: 16px;
	height:11px;
	background-image: url("/static/images/pages/downarrow.png");
	position: absolute;
	right: 35px;
	top: 32px;
}

.inverted {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=1.2246063538223773e-16, M21=-1.2246063538223773e-16, M22=-1, SizingMethod='auto expand')";
}

.contentboxsubt	{
	font-size: 15px;
	font-family: gotham_mediumregular;
}	

.submitbutton	{
	width: 162px;
	height: 50px;
	background-color: rgb(107,197,94);
	border-radius: 5px;
	font-family: gotham_mediumregular;
	color: rgb(255,255,255);
	line-height: 50px;
	text-align: center;
	font-size: 13px;
	margin-top: 30px;
	position: relative;
	bottom: 10px;
}	

		
#bottombar {
	display: none;
}	