#content img {
	/*opacity: 0;
	-webkit-transition: all 900ms ease-out;
	-moz-transition: all 900ms ease-out;
	-o-transition: all 900ms ease-out;
	-ms-transition: all 900ms ease-out; 
	transition: all 900ms ease-out;*/
}
.show-img {
	opacity: 1 !important;
}