.centredcontent	{
	width:917px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: auto;
}

#press_container {
	height:450px;
	width:100%;
	background:rgb(250,251,251) url('/static/images/pages/press-bg.jpg') center center no-repeat;
	background-size: cover;
	border-bottom:1px solid rgb(230,230,230);
}

#press {
	width:914px;
	padding-bottom: 50px;
	margin:0 auto;
}

#press .alltext,
#press #press_title {
	color: #ffffff !important;
	font-weight: 700;
}
.press_header {
	font-family:gotham_mediumregular;
	font-size:42px;
	color:rgb(57,57,57);
	font-weight: 700;
}

#press_title {
	text-align:center;
	padding-top:150px;
}

.text_paragraph {
	padding-top:40px;
	width:914px;
	height:auto;
	color:rgb(57,57,57);
	font-family:gotham_bookregular;
	font-size:18px;
	line-height:30px;
}

#our_vision_container {
	height:540px;
	width:100%;
	background-color:rgb(242,242,242);
}

#our_vision {
	height:540px;
	width:914px;
	margin:0 auto;
	position:relative;
}

#our_vision_title {
	display:inline-block;
	padding-left:136px;
	padding-right:350px;
	padding-top:94px;
}

#assets_title {
	display:inline-block;
}

#our_vision_paragraph {
	width:425px;
	height:auto;
	font-family:gotham_bookregular;
	font-size:18px;
	line-height:30px;
	color:rgb(57,57,57);
	display:inline-block;
	margin-top:39px;
}

.assets_boxes {
	height:62px;
	text-align: center;
}

#branding_text {
	font-family:gotham_mediumregular;
	font-size:16px;
	color:rgb(57,57,57);
	margin-left:25px;
	margin-top:22px;
	display:inline-block;
}

.branding_box {
	border-radius:2px;
	background-color:rgb(236,236,236);
	border:1px solid rgb(213,213,213);
	height:29px;
}

#icon_box {
	width:60px;
	display:inline-block;
	margin-left:12px;
	margin-right:12px;
}

#avatar_box {
	width:89px;
	display:inline-block;
	margin-right:12px;
}

#raw_box {
	width:61px;
	display:inline-block;
}

.branding_box_text {
	font-family:gotham_mediumregular;
	font-size:14px;
	color:rgb(57,57,57);
	margin-left:12px;
	margin-top:7px;
}

#videos_text {
	font-family:gotham_mediumregular;
	font-size:16px;
	color:rgb(57,57,57);
	margin-left:25px;
	margin-top:22px;
	display:inline-block;
}

#youtube_box {
	width:125px;
	display:inline-block;
	margin-right:12px;
	margin-left:20px;
}

#vimeo_box {
	width:125px;
	display:inline-block;
	margin-right:12px;
}

#youtube_text {
	margin-left:26px;
}

#vimeo_text {
	margin-left:37px;
}

.contact_facebook_twitter_boxes {
	width:116px;
	height:29px;
	border-radius:3px;
}

#contact_box {
	background-color:rgb(65,120,210);	
	display:inline-block;
	margin-right:32px;
}

#facebook_box {
	background-color:rgb(45,64,141);
	display:inline-block;
	margin-right:32px;	
}

#twitter_box {
	background-color:rgb(33,153,235);
	display:inline-block;
	margin-right:32px;
}

#google_box {
	background: #D34836;
	display: inline-block;
}

.three_boxes_text {
	font-family:gotham_mediumregular;
	font-size:14px;
	color:white;
	padding-top:7px;
}

#press_container2 {
	height:538px;
	width:100%;
	background-color:rgb(250,251,251);
}

#press2 {
	height:538px;
	width:914px;
	margin:0 auto;
}

#press_header2 {
	padding-top:100px;
}

.grey_text {
	color:rgb(57,57,57);
	display:inline-block;
	padding-top:30px;
}

.grey_text2 {
	color:rgb(57,57,57);
	display:inline-block;
	margin-bottom: 30px;
}	

.press2_text {
	font-family:gotham_bookregular;
	font-size:18px;
}

.blue_text {
	color:rgb(52,99,176);
	display:inline-block;
}

.centredcontent	{
	width:917px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: auto;
}

#content2	{	
	height:500px;
	width:100%;
	background-color: rgb(244,244,244);
}

#content2title	{
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: center;
	margin-top: 100px;
	margin-bottom: 30px;
}

#grid	{
	width: 917px;
	height: 160px;
	padding-top: 40px;
}	

.asset1	{
	height:150px;
	width:150px;
	background-image: url("/static/images/pages/hqlogo.png");
	border-radius: 13px;
}

.asset2	{
	height:150px;
	width:150px;
	background-image: url("/static/images/pages/adverts1.png");
	border-radius: 13px;
}

.asset3	{
	height:150px;
	width:150px;
	background-image: url("/static/images/pages/adverts2.png");
	border-radius: 13px;
}

.asset4	{
	height:150px;
	width:150px;
	background-image: url("/static/images/pages/adverts3.png");
	border-radius: 13px;
}	

.asset5	{
	height:150px;
	width:150px;
	background-image: url("/static/images/pages/pressvideos.png");
	border-radius: 13px;
}

.assettext	{
	color: rgb(135,135,135);
	font-family:gotham_mediumregular;
	font-size:12px; 
	text-align: center;
	padding-top: 20px; 
}

.assetimgplustext1	{
	width: 150px;
	height: 200px;
	display:inline-block;
	position: absolute;
	left: 0px;
}

.assetimgplustext2	{
	width: 150px;
	height: 200px;
	display:inline-block;
	position: absolute;
	left: 191px;
}

.assetimgplustext3	{
	width: 150px;
	height: 200px;
	display:inline-block;
	position: absolute;
	left: 382px;
}

.assetimgplustext4	{
	width: 150px;
	height: 200px;
	display:inline-block;
	position: absolute;
	left: 573px;
}

.assetimgplustext5	{
	width: 150px;
	height: 200px;
	display:inline-block;
	position: absolute;
	left: 764px;
}

#content3	{	
	height:650px;
	width:100%;
	background-color: rgb(251,251,251);
}

#content3title	{
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
}

.presstext	{
	font-size: 16px;
	color: rgb(135,135,135);
	margin-top: 15px;
	line-height: 25px;
}

#content4	{	
	height:575px;
	width:100%;
	background-color: rgb(244,244,244);
}

#leftcontent	{
	width: 450px;
	height: 100%;
	display: inline-block;
	position: absolute;
	left:0px;
}

#leftcontenttitle	{
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: left;
	margin-top: 100px;
	margin-bottom: 30px;
	font-family:gotham_mediumregular;
}

#rightcontent	{
	padding: 0 2px;
	width: 350px;
	height: 100%;
	display: inline-block;
	float: right;
}

#rightcontenttitle	{
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: right;
	margin-top: 100px;
	margin-bottom: 30px;
	font-family:gotham_mediumregular;
}

.contactbox	{
	width: 300px;
	border-radius: 5px;
	background-color: rgb(255,255,255);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(228,228,228);
	margin-bottom: 10px;
	margin-left: 50px;
}
.contactbox input,
.contactbox2 textarea {
	padding: 10px;
	line-height: normal !important;
	height: auto !important;
	width: 100% !important;
}

.contactbox2	{
	width: 300px;
	height: 135px;
	line-height: 35px;
	border-radius: 5px;
	background-color: rgb(255,255,255);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(228,228,228);
	margin-bottom: 10px;
	margin-left: 50px;
}

.submitbutton	{
	width:100px;
	height: 40px;
	border-radius: 5px;
	background-color: rgb(91,157,233);
	color: rgb(255,255,255);
	line-height: 40px;
	text-align: center;
	font-family: gotham_mediumregular;
	margin-left: 250px;
	cursor: pointer;
}

#nameinput	{
	width: 288px;
	height: 40px;
	padding-left: 6px;
}

#nametext	{
	width: 288px;
	height: 40px;
	resize: none;
	background-color: transparent;
	font-size: 16px;
	color: rgb(165,165,165);
	line-height: 40px;
}	

#nametext:focus 	{
	outline: none;
}	

#emailinput	{
	width: 590px;
	height: 34px;
	background-color: rgb(255,255,255);
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(210,210,210);
	position: absolute;
	top: 260px;
	left: 163px;
	padding: 6px 6px 6px 6px;
}

#emailtext	{
	width: 590px;
	height: 34px;
	resize: none;
	background-color: transparent;
	font-size: 16px;
	color: rgb(165,165,165);
	line-height: 30px;
}	

#emailtext:focus 	{
	outline: none;
}	

#titleinput	{
	width: 280px;
	height: 34px;
	background-color: rgb(255,255,255);
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(210,210,210);
	position: absolute;
	top: 320px;
	left: 163px;
	padding: 6px 6px 6px 6px;
	display: inline-block;
}

#titletext	{
	width: 280px;
	height: 34px;
	resize: none;
	background-color: transparent;
	font-size: 16px;
	color: rgb(165,165,165);
	line-height: 30px;
}	

#titletext:focus 	{
	outline: none;
}

#phoneinput	{
	width: 280px;
	height: 34px;
	background-color: rgb(255,255,255);
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(210,210,210);
	position: absolute;
	top: 320px;
	right: 151px;
	padding: 6px 6px 6px 6px;
	display: inline-block;
}

#phonetext	{
	width: 280px;
	height: 34px;
	resize: none;
	background-color: transparent;
	font-size: 16px;
	color: rgb(165,165,165);
	line-height: 30px;
}	

#phonetext:focus 	{
	outline: none;
}

#companyinput	{
	width: 590px;
	height: 34px;
	background-color: rgb(255,255,255);
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(210,210,210);
	position: absolute;
	top: 380px;
	left: 163px;
	padding: 6px 6px 6px 6px;
}

#companytext	{
	width: 590px;
	height: 34px;
	resize: none;
	background-color: transparent;
	font-size: 16px;
	color: rgb(165,165,165);
	line-height: 30px;
}	

#companytextq:focus 	{
	outline: none;
}

#forminput	{
	width: 590px;
	height: 140px;
	background-color: rgb(255,255,255);
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(210,210,210);
	position: absolute;
	top: 440px;
	left: 163px;
	padding: 6px 6px 6px 6px;
}

#formtextarea	{
	width: 590px;
	height: 140px;
	resize: none;
	background-color: transparent;
	font-size: 16px;
	color: rgb(165,165,165);
}	

#formtextarea:focus 	{
	outline: none;
}	
#interview-submit-btn {
	display: inline-block;
	padding: 10px 20px;
	background: #5b9de9;
	rgba(0,0,0,.2);
	border-radius: 4px;
	color: #ffffff;
	font-weight: 700;
	cursor: pointer;
}

.contactbox3 {
	float: right;
}