.centredcontent	{
	width:917px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: auto;
}

#contact_us_container {
	height:383px;
	width:100%;
	background:rgb(250,251,251) url('/static/images/pages/requestdemo-bg.jpg') center center !important;
	background-size: cover;
	border-bottom:1px solid rgb(228,228,228);
}
#contact_us .alltext,
#contact_us .mediumheader {
	color: #ffffff !important;
}
#contact_us {
	padding-top:13px;
	width:914px;
	height:370px;
	margin:0 auto;
	font-weight: 700;
}

#contact_us_header {
	text-align:center;
	font-size:42px;
	margin-top:150;
}
#contact_us_header .alltext {
	margin-top: 25px;
	line-height: 26px;
}
#logo_table {
	margin-top:40px;
	margin-left:0;
	height:128px;
	width:auto;
	position:relative;
}

#samesurf_contact_logo {
	width:128px;
	height:128px;
	background-image:url(/static/images/contactus/samesurf_contact_logo.png);	
}

#address_container {
	height:128px;
	width:auto;
	position:absolute;
	top:10;
	left:150;
}

#address {
	font-family:gotham_bookregular;
	font-size:18px;
	line-height:28px;
}

#text_container {
	height:128px;
	width:40%;
	position:absolute;
	top:10;
	right: 0;
}

#text {
	font-family:gotham_bookregular;
	font-size:18px;
	line-height:28px;
	text-align: right;
}

#input_fields_container {
	height:860px !important;
	width:100%;
	background-color:rgb(242,242,242);
}

.text_input {
	width:425px;
	height:48px;
	border:1px solid rgb(174,174,174);
	border-radius:3px;
	padding: 5px 16px;
	font-size:16px;
	color:rgb(94,94,94);
}

#input_fields {
	width:914px;
	height:778px;
	margin:0 auto;
}

p {
	display:inline-block;
	color:rgb(209,76,68);
}

.input_field_text {
	display:inline-block;
	font-size:16px;
	color:rgb(57,57,57);
	padding-bottom:8px;
}

#first_name_input {
	display:inline-block;
	width:auto;
	height:auto;
	margin-top:39px;
}

#last_name_input {
	display:inline-block;
	width:auto;
	height:auto;
}

#email_text_input {
	width:100%;
	height:48px;
	border:1px solid rgb(174,174,174);
	border-radius:3px;
	padding: 5px 16px;
	font-size:16px;
	color:rgb(94,94,94);
}

#email_text {
	margin-top:27px;
}

#message_text {
	margin-top:27px;
}

#message_text_input {
	width:914px;
	height:233px;
	border:1px solid rgb(174,174,174);
	border-radius:3px;
	padding: 15px;
	font-size:16px;
	color:rgb(94,94,94);
}

#all_fields_text {
	color:rgb(209,76,68);
	font-size:10px;
	display:inline-block;
	margin-right:561px;
}

#send_message_button {
	margin-top:31px;
	width:224px;
	height:54px;
	border-radius:5px;
	border:1px solid rgba(0,0,0,.25);
	background-color:#5b9de9;
	display:inline-block;
}

.button_text {
	color:white;
	text-align:center;
	font-size:18px;
	font-weight:600;
}