#topnavbar	{
	height:44px;
	width:100%;
	background-color:rgb(234,234,234);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(215,215,215);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255,255,255);
}

#topnavbar span	{
	font-size: 12px;
	color:rgb(118,118,118);
	display: table-cell;
	vertical-align: middle;
}

#leftalignmenu	{
	width: 500px;
	height: 44px;
	display: table;
}	

#content0	{
	height:220px;
	width:100%;
	background-color: rgb(251,251,251);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
}

#content0title	{
	font-size: 26px;
	color:rgb(74,74,74);
	text-align: center;
	margin-top: 65px;
	margin-bottom: 20px;
}

#content1	{	
	height:430px;
	width:100%;
	background-color: rgb(244,244,244);
}

.centredcontent	{
	width:917px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: auto;
}

#content1title	{
	position: absolute;
	top: 120px;
	left: 0px;
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: right;
}

.content1text 	{
	position: absolute;
	top: 145px;
	left: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 500px;
	line-height: 30px;
	text-align: left;
}

.content1text a	{
	color: rgb(68,121,190);
}

.content1text a:visited	{
	color: rgb(68,121,190);
}	


#content1image 	{
	background-image: url("/static/images/pages/securityicon.png");
	width: 226px;
	height: 226px;
	position: absolute;
	right: 20px;
	top: 100px;
}

#grid	{
	width: 917px;
	height: 265px;
	padding-top: 15px;
}	

#content2	{	
	height:550px;
	width:100%;
	background-color: rgb(250,250,250);
}

#content2title	{
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: center;
	margin-top: 100px;
	margin-bottom: 30px;
}

#grid2	{
	width: 917px;
	height: 130px;
	padding-top: 40px;
}	

#content3	{	
	height:480px;
	width:100%;
	background-color: rgb(244,244,244);
}


#content3title	{
	position: absolute;
	top: 180px;
	right: 0px;
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: right;
}

.content3text 	{
	position: absolute;
	top: 220px;
	right: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 400px;
	line-height: 30px;
	text-align: right;
}


#content3image 	{
	width: 227px;
	height: 227px;
	position: absolute;
	left: 20px;
	top: 120px;
}

#content4	{	
	height:650px;
	width:100%;
	background-color: rgb(250,250,250);
}


#content4title	{
	width: 917px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 30px;
	font-size: 22px;
	color:rgb(74,74,74);
}

.content4text 	{
	width: 917px;
	text-align: center;
	font-size: 18px;
	color: rgb (74,74,74);
	line-height: 25px;
}


#content4image 	{
	width: 876px;
	height: 293px;
	position: absolute;
	left: 20px;
	top: 250px;
}

#content5	{	
	height:430px;
	width:100%;
	background-color: rgb(244,244,244);
}


#content5title	{
	position: absolute;
	top: 150px;
	right: 0px;
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: right;
}

.content5text 	{
	position: absolute;
	top: 190px;
	right: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 400px;
	line-height: 30px;
	text-align: right;
}


#content5image 	{
	width: 396px;
	height: 140px;
	position: absolute;
	left: 20px;
	top: 150px;
}	