#topnavbar	{
	height:44px;
	width:100%;
	background-color:rgb(234,234,234);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(215,215,215);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255,255,255);
}

#topnavbar span	{
	font-size: 12px;
	color:rgb(118,118,118);
	display: table-cell;
	vertical-align: middle;
}

#leftalignmenu	{
	width: 500px;
	height: 44px;
	display: table;
}	

#intro	{
	height: 920px;
	background-color: rgb(252,252,253);
	border-style: solid;
	border-color: rgb(233,233,233);
	border-width: 1px;	
	border-bottom-width: 1px;
}	

#introtext	{
	width: 917px;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top: 150px;
}	

#introbox {
	width: 915px;
	height: 100px;
	border-style: solid;
	border-color: rgb(233,233,233);
	border-width: 1px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	margin-top: 150px;
}

#introbox2	{
	width: 915px;
	height: 325px;
	background-color: rgb(236,236,236);
	border-style: solid;
	border-color: rgb(233,233,233);
	border-width: 1px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
}	

#introbox3 {
	width: 915px;
	height: 100px;
	border-style: solid;
	border-color: rgb(233,233,233);
	border-width: 1px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
}	


#introboxtitle	{
	font-size: 22px;
	color:rgb(74,74,74);
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
}

#introboxtext1	{
	font-size: 20px;
	width: 457px;
	text-align: center;
	line-height: 100px;
	display: inline-block;
}

#introboxtext2	{
	font-size: 20px;
	margin-left: 165px;
	vertical-align: middle;
	line-height: 100px;
	display: inline-block;
}		


#introimage 	{
	background-image: url("/static/images/pages/vidplaceholder.png");	
	width: 778px;
	height: 231px;
	margin: 30 auto;
}

#boxlink	{
	width: 200px;
	height: 32px;
	background-color: rgb(105, 181,90);
	margin-left: 359px;
	border-radius: 5px;
	font-size: 15px;
	color: rgb(255,255,255);
	line-height: 32px;
	text-align: center;
	position: absolute;
	top: 350px;
}		

#maincontent	{
	height:3400px;
	width:100%;
	background-color: rgb(241,241,241);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
}

#samesurf	{
	width: 162px;
	height: 34px;
	border-radius: 5px;
	background-color: rgb(74,136,227);
	line-height: 34px;
	color: rgb(255,255,255);
	font-size: 13px;
	text-align: center;
	position: absolute;
	top: 100px;
	left: 100px;
	font-family: gotham_mediumregular;
}

#screenshare	{
	width: 162px;
	height: 34px;
	border-radius: 5px;
	background-color: rgb(31,34,37);
	line-height: 34px;
	color: rgb(255,255,255);
	font-size: 13px;
	text-align: center;
	position: absolute;
	top: 100px;
	right: 100px;
	font-family: gotham_mediumregular;
}

.samesurfsq	{
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background-color: rgb(74,136,227);
	line-height: 25px;
	color: rgb(255,255,255);
	font-size: 10px;
	text-align: center;
	position: relative;
	top: 30px;
	left: 10px;
	font-family: gotham_mediumregular;
	display: inline-block;
}

.screensharesq	{
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background-color: rgb(31,34,37);
	line-height: 25px;
	color: rgb(255,255,255);
	font-size: 10px;
	text-align: center;
	position: relative;
	top: 30px;
	left: 80px;
	font-family: gotham_mediumregular;
	display: inline-block;
}

.contenttitle	{
	font-size: 25px;
	color:rgb(74,74,74);
	margin-top: 45px;
	margin-bottom: 45px;
	text-align: center;
	width: 917px;
}

.title	{
	font-size: 25px;
	color:rgb(74,74,74);
	margin-top: 100px;
	margin-bottom: 45px;
	text-align: center;
	width: 917px;
}

.centredcontent	{
	width:917px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: auto;
}

.contentbox	{
	width: 380px;
	background-color: rgb(255,255,255);
	border-radius: 5px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding-bottom: 7px;
}	

.contentbox2	{
	width: 380px;
	background-color: rgb(255,255,255);
	border-radius: 5px;
	display: inline-block;
	position: absolute;
	vertical-align: top;
	right: 0px;
	padding-bottom: 7px;
}

.ssvssstext	{
	color: rgb(104,104,104);
	font-size: 14px;
}

#topgrid	{
	width: 917px;
	height: 300px;
	margin-top: 45px;
	left: 0px
}

#grid	{
	width: 100%;
	margin-top: 100px;
	left: 0px
}

#logo1	{
	width: 56px;
	height: 40px;
	background-image: url("/static/images/pages/epicvids.png");
	position: absolute;
	right: 15px;
	top: 15px;
}	

#logo2	{
	width: 75px;
	height: 23px;
	background-image: url("/static/images/pages/sapient.png");
	position: absolute;
	right: 15px;
	top: 15px;
}

.contentboxtext	{
	font-size: 12px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	line-height: 20px;
}	

.linkedinlogo	{
	background-image: url("/static/images/pages/linkedin.png");
	width: 19px;
	height: 18px;
	display: inline-block;
	margin-top: 15px;
	margin-left: 5px;
	vertical-align: middle;
}			