#content0	{
	padding: 100px 0 86px;
	width:100%;
	background-color: rgb(251,251,251);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
}

#content0title	{
	font-size: 26px;
	color:rgb(74,74,74);
	text-align: center;
	margin-bottom: 20px;
}

#topnavbar	{
	height:44px;
	width:100%;
	background-color:rgb(234,234,234);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(215,215,215);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255,255,255);
}

#topnavbar span	{
	font-size: 12px;
	color:rgb(118,118,118);
	display: table-cell;
	vertical-align: middle;
}

#leftalignmenu	{
	width: 500px;
	height: 44px;
	display: table;
}	

#titlebar	{
	height:200px;
	width:100%;
	background-color: rgb(251,251,251);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
}

#titlebartable	{
	display: table;
	width: 100%;
	height: 100%;
}	

#titlebar span	{
	font-size: 20px;
	color:rgb(74,74,74);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#content1	{	
	height:380px;
	width:100%;
	background-color: rgb(244,244,244);
}

.centredcontent	{
	width:917px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: auto;
}

#content1title	{
	position: absolute;
	top: 120px;
	left: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
}

.content1text 	{
	position: absolute;
	top: 160px;
	left: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 550px;
	line-height: 25px;
}


#content1image 	{
	background-image: url("/static/images/pages/fast.png");
	width: 247px;
	height: 154px;
	position: absolute;
	right: 20px;
	top: 100px;
}	

#content2	{	
	height:390px;
	width:100%;
	background-color: rgb(250,250,250);
}

#content2title	{
	position: absolute;
	top: 120px;
	right: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
	text-align: right;
}

.content2text 	{
	position: absolute;
	top: 160px;
	right: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 550px;
	line-height: 25px;
	text-align: right;
}


#content2image 	{
	width: 202px;
	height: 226px;
	position: absolute;
	left: 20px;
	top: 80px;
}

#content3	{	
	height:380px;
	width:100%;
	background-color: rgb(244,244,244);
}


#content3title	{
	position: absolute;
	top: 120px;
	left: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
}

.content3text 	{
	position: absolute;
	top: 160px;
	left: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 550px;
	line-height: 25px;
}


#content3image 	{
	width: 299px;
	height: 173px;
	position: absolute;
	right: 20px;
	top: 100px;
}

#content4	{	
	height:380px;
	width:100%;
	background-color: rgb(250,250,250);
}

#content4title	{
	position: absolute;
	top: 120px;
	right: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
	text-align: right;
}

.content4text 	{
	position: absolute;
	top: 160px;
	right: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 550px;
	line-height: 25px;
	text-align: right;
}


#content4image 	{
	width: 180px;
	height: 180px;
	position: absolute;
	left: 20px;
	top: 100px;
}

#content5	{	
	height:390px;
	width:100%;
	background-color: rgb(244,244,244);
}


#content5title	{
	position: absolute;
	top: 140px;
	left: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
}

.content5text 	{
	position: absolute;
	top: 180px;
	left: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 550px;
	line-height: 25px;
}


#content5image 	{
	width: 219px;
	height: 103px;
	position: absolute;
	right: 20px;
	top: 140px;
}

#content6	{	
	height:360px;
	width:100%;
	background-color: rgb(250,250,250);
}

#content6title	{
	position: absolute;
	top: 120px;
	right: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
	text-align: right;
}

.content6text 	{
	position: absolute;
	top: 160px;
	right: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 550px;
	line-height: 25px;
	text-align: right;
}


#content6image 	{
	width: 268px;
	height: 173px;
	position: absolute;
	left: 20px;
	top: 100px;
}	

#content7	{	
	height:370px;
	width:100%;
	background-color: rgb(244,244,244);
}


#content7title	{
	position: absolute;
	top: 130px;
	left: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
}

.content7text 	{
	position: absolute;
	top: 170px;
	left: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 550px;
	line-height: 25px;
}


#content7image 	{
	width: 274px;
	height: 155px;
	position: absolute;
	right: 20px;
	top: 100px;
}	

.tour-btn-left,
.tour-btn-right {
	top: 0;
}