#topnavbar	{
	height:44px;
	width:100%;
	background-color:rgb(234,234,234);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(215,215,215);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255,255,255);
}

#topnavbar span	{
	font-size: 12px;
	color:rgb(118,118,118);
	display: table-cell;
	vertical-align: middle;
}

#leftalignmenu	{
	width: 500px;
	height: 44px;
	display: table;
}	

.centredcontent	{
	width:917px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: auto;
}
#content0 a,
#content1 a,
#content2 a,
#content3 a,
#content4 a,
#content5 a,
#content6 a,
#content7 a,
#content8 a,
#content9 a, 
#content10 a, 
#content11 a{
	font-family: gotham_mediumregular;
}
#content0	{
	height:220px;
	width:100%;
	background-color: rgb(251,251,251);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(233,233,233);
}

#content0title	{
	font-size: 26px;
	color:rgb(74,74,74);
	text-align: center;
	margin-top: 65px;
	margin-bottom: 20px;
}

#content1	{	
	height:364px;
	width:100%;
	background-color: rgb(244,244,244);
}

#content1title	{
	position: absolute;
	top: 115px;
	left: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
}

.content1text 	{
	position: absolute;
	top: 155px;
	left: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 470px;
	line-height: 25px;
}

.content1text a	{
	color: rgb(60,120,192);
}	

.content1text a:visited 	{
	color: rgb(60,120,192);
}	

.bluecircle	{
	border-radius: 85px;
	background-color: #518edb;
	width: 170px;
	height: 170px;
	position: absolute;
	top: 97px;
	right: 25px;
}	

#pic1	{
	background-image: url("/static/images/pages/headphones.png");
	width: 80px;
	height: 65px;
	position: relative;
	left: 45px;
	top: 52px;
}

#content2	{	
	height:364px;
	width:100%;
	background-color: rgb(250,250,250);
}

#content2title	{
	position: absolute;
	top: 115px;
	right: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
	text-align: right;
}

.content2text 	{
	position: absolute;
	top: 155px;
	right: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 470px;
	line-height: 25px;
	text-align: right;
}

.content2text a	{
	color: rgb(60,120,192);
}	

.content2text a:visited 	{
	color: rgb(60,120,192);
}	

.greencircle	{
	border-radius: 85px;
	background-color: rgb(132,197,83);
	width: 170px;
	height: 170px;
	position: absolute;
	top: 97px;
	left: 25px;
}	

#pic2	{
	background-image: url("/static/images/pages/hi5.png");
	width: 80px;
	height: 65px;
	position: relative;
	left: 45px;
	top: 52px;
}


#content3	{	
	height:364px;
	width:100%;
	background-color: rgb(244,244,244);
}

#content3title	{
	position: absolute;
	top: 115px;
	left: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
}

.content3text 	{
	position: absolute;
	top: 155px;
	left: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 470px;
	line-height: 25px;
}

.content3text a	{
	color: rgb(60,120,192);
}	

.content3text a:visited 	{
	color: rgb(60,120,192);
}	

.redcircle	{
	border-radius: 85px;
	background-color: #db5151;
	width: 170px;
	height: 170px;
	position: absolute;
	top: 97px;
	right: 25px;
}	

#pic3	{
	background-image: url("/static/images/pages/blackboard.png");
	width: 80px;
	height: 65px;
	position: relative;
	left: 45px;
	top: 52px;
}

#content4	{	
	height:364px;
	width:100%;
	background-color: rgb(250,250,250);
}

#content4title	{
	position: absolute;
	top: 115px;
	right: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
	text-align: right;
}

.content4text 	{
	position: absolute;
	top: 155px;
	right: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 470px;
	line-height: 25px;
	text-align: right;
}

.content4text a	{
	color: rgb(60,120,192);
}	

.content4text a:visited 	{
	color: rgb(60,120,192);
}	

.bluecircle2	{
	border-radius: 85px;
	background-color: #518edb;
	width: 170px;
	height: 170px;
	position: absolute;
	top: 97px;
	left: 25px;
}	

#pic4	{
	background-image: url("/static/images/pages/peeps.png");
	width: 80px;
	height: 65px;
	position: relative;
	left: 45px;
	top: 52px;
}

#content5	{	
	height:364px;
	width:100%;
	background-color: rgb(244,244,244);
}

#content5title	{
	position: absolute;
	top: 115px;
	left: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
}

.content5text 	{
	position: absolute;
	top: 155px;
	left: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 470px;
	line-height: 25px;
}

.content5text a	{
	color: rgb(60,120,192);
}	

.content5text a:visited 	{
	color: rgb(60,120,192);
}	

.yellowcircle	{
	border-radius: 85px;
	background-color: #fabe06;
	width: 170px;
	height: 170px;
	position: absolute;
	top: 97px;
	right: 25px;
}	

#pic5	{
	background-image: url("/static/images/pages/trolley.png");
	width: 80px;
	height: 65px;
	position: relative;
	left: 45px;
	top: 52px;
}	

#content6	{	
	height:364px;
	width:100%;
	background-color: rgb(250,250,250);
}

#content6title	{
	position: absolute;
	top: 115px;
	right: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
	text-align: right;
}

.content6text 	{
	position: absolute;
	top: 155px;
	right: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 470px;
	line-height: 25px;
	text-align: right;
}

.content6text a	{
	color: rgb(60,120,192);
}	

.content6text a:visited 	{
	color: rgb(60,120,192);
}	

.redcircle2	{
	border-radius: 85px;
	background-color: #db5151;
	width: 170px;
	height: 170px;
	position: absolute;
	top: 97px;
	left: 25px;
}	

#pic6	{
	background-image: url("/static/images/pages/handshake.png");
	width: 80px;
	height: 65px;
	position: relative;
	left: 45px;
	top: 52px;
}	

#content7	{	
	height:364px;
	width:100%;
	background-color: rgb(244,244,244);
}

#content7title	{
	position: absolute;
	top: 115px;
	left: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
}

.content7text 	{
	position: absolute;
	top: 155px;
	left: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 470px;
	line-height: 25px;
}

.content7text a	{
	color: rgb(60,120,192);
}	

.content7text a:visited 	{
	color: rgb(60,120,192);
}	

.purplecircle	{
	border-radius: 85px;
	background-color: rgb(188,87,234);
	width: 170px;
	height: 170px;
	position: absolute;
	top: 97px;
	right: 25px;
}	

#pic7	{
	background-image: url("/static/images/pages/whiteboard.png");
	width: 80px;
	height: 65px;
	position: relative;
	left: 45px;
	top: 52px;
}

#content8	{	
	height:364px;
	width:100%;
	background-color: rgb(250,250,250);
}

#content8title	{
	position: absolute;
	top: 115px;
	right: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
	text-align: right;
}

.content8text 	{
	position: absolute;
	top: 155px;
	right: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 470px;
	line-height: 25px;
	text-align: right;
}

.content8text a	{
	color: rgb(60,120,192);
}	

.content8text a:visited 	{
	color: rgb(60,120,192);
}	

.pinkcircle	{
	border-radius: 85px;
	background-color: #f36daa;
	width: 170px;
	height: 170px;
	position: absolute;
	top: 97px;
	left: 25px;
}	

#pic8	{
	background-image: url("/static/images/pages/remote.png");
	width: 80px;
	height: 65px;
	position: relative;
	left: 45px;
	top: 52px;
}

#content9	{	
	height:364px;
	width:100%;
	background-color: rgb(244,244,244);
}

#content9title	{
	position: absolute;
	top: 115px;
	left: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
}

.content9text 	{
	position: absolute;
	top: 155px;
	left: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 470px;
	line-height: 25px;
}

.content9text a	{
	color: rgb(60,120,192);
}	

.content9text a:visited 	{
	color: rgb(60,120,192);
}	

.greencircle2	{
	border-radius: 85px;
	background-color: rgb(132,197,83);
	width: 170px;
	height: 170px;
	position: absolute;
	top: 97px;
	right: 25px;
}	

#pic9	{
	background-image: url("/static/images/pages/globe.png");
	width: 84px;
	height: 84px;
	position: relative;
	left: 43px;
	top: 43px;
}

#content10	{	
	height:364px;
	width:100%;
	background-color: rgb(250,250,250);
}

#content10title	{
	position: absolute;
	top: 115px;
	right: 0px;
	font-size: 20px;
	color:rgb(74,74,74);
	text-align: right;
}

.content10text 	{
	position: absolute;
	top: 155px;
	right: 0px;
	font-size: 18px;
	color: rgb (74,74,74);
	width: 470px;
	line-height: 25px;
	text-align: right;
}

.content10text a	{
	color: rgb(60,120,192);
}	

.content10text a:visited 	{
	color: rgb(60,120,192);
}		

#pic10	{
	background-image: url("/static/images/pages/play.png");
	width: 80px;
	height: 65px;
	position: relative;
	left: 45px;
	top: 52px;
}

#content11	{	
	height:218px;
	width:100%;
	background-color: rgb(244,244,244);
}

.content11text 	{
	position: absolute;
	top: 109px;
	font-size: 24px;
	color: rgb (74,74,74);
	width: 917px;
	text-align: center;
}

.content11text a	{
	color: rgb(60,120,192);
}	

.content11text a:visited 	{
	color: rgb(60,120,192);
}
