.container {
	margin: 0 auto;
	width: 917px;
	color: #4a4a4a;
	font-family: gotham_bookregular;
	line-height: 30px;
	font-size: 18px;
	overflow: auto;
	zoom: 1;
}
.block {
	padding: 50px 0 100px;
}
.light {
	background: #fbfbfc;
	border-bottom: 1px solid #e9e9e9;
}
.dark {
	background: #f6f6f6;
	border-bottom: 1px solid #e9e9e9;
}
.back {
	padding: 0 0 50px;
}
.whitepaper-image {
	width: 275px;
	float: left;
}
.whitepaper-image img {
	max-width: 100%;
	height: auto;
}
.whitepaper-description {
	width: 600px;
	float: right;
}
.whitepaper-title,
.whitepaper-subtitle {
	margin: 0 0 10px;
	font-size: 14px;
	font-family: gotham_mediumregular;
	color: #3d3d3d;
	text-transform: uppercase;
	line-height: normal;
}
.whitepaper-title {
	margin: 0 0 20px;
	font-size: 36px;
	text-transform: none;
}
.whitepaper-description p {
	margin: 0 0 10px;
	color: #4a4a4a;
	font-size: 16px;
	line-height: 29px;
}
.continue {
	color: #df4949 !important;
	font-size: 14px !important;
	text-transform: uppercase;
	font-family: gotham_mediumregular;
}
#requestpdf label {
	margin: 20px 0 0;
	font-size: 14px;
	color: #4a4a4a;
	display: block;
}
#requestpdf input {
	padding: 12px 15px;
	border-radius: 5px;
	background: #ffffff;
	border: 1px solid #d5d5d5;
	color: #4a4a4a;
	font-size: 16px;
	display: block;
	width: calc(100% - 32px);
}
#requestpdf input:focus {
	outline: none;
}
#requestpdf input[type="submit"] {
	padding: 12px;
	margin: 20px 0 0;
	width: auto;
	float: right;
	text-transform: uppercase;
	color: #ffffff;
	background: #498fdf;
	font-family: gotham_mediumregular;
	font-size: 13px;
	border: none;
	cursor: pointer;
}