#topnavbar	{
	height:44px;
	width:100%;
	background-color:rgb(234,234,234);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(215,215,215);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255,255,255);
}

#topnavbar span	{
	font-size: 12px;
	color:rgb(118,118,118);
	display: table-cell;
	vertical-align: middle;
}

#leftalignmenu	{
	width: 500px;
	height: 44px;
	display: table;
}	

#content1	{	
	height:340px;
	width:100%;
	background-color: rgb(250,250,250);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(233,233,233);
}

.centredcontent	{
	width:917px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: auto;
}

#content1title	{
	width: 917px;
	margin-top: 95px;
	text-align: center;
	font-size: 22px;
	color:rgb(74,74,74);
}

#content1subtitle	{
	width: 917px;
	margin-top: 15px;
	text-align: center;
	font-size: 18px;
}
#content1subtitle .mediumheader {
	font-size: 18px;
	color:#518EDB;
}

.content1text 	{
	width: 917px;
	margin-top: 25px;
	text-align: center;
	font-size: 16px;
	color: rgb (74,74,74);
	line-height: 30px;
}

#content2	{	
	height:1650px;
	width:100%;
	background-color: rgb(244,244,244);
}

.content2text 	{
	position: absolute;
	top: 140px;
	left: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 350px;
	line-height: 30px;
}


#content2image 	{
	width: 469px;
	height: 170px;
	position: absolute;
	right: 20px;
	top: 100px;
}

.content2texta 	{
	position: absolute;
	top: 460px;
	right: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 350px;
	line-height: 30px;
	text-align: right;
}


#content2imagea 	{
	width: 469px;
	height: 170px;
	position: absolute;
	left: 20px;
	top: 420px;
}

.content2textb 	{
	position: absolute;
	top: 760px;
	left: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 350px;
	line-height: 30px;
}


#content2imageb 	{
	width: 469px;
	height: 170px;
	position: absolute;
	right: 20px;
	top: 720px;
}

.content2textc 	{
	position: absolute;
	top: 1060px;
	right: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 350px;
	line-height: 30px;
	text-align: right;
}

#content2imagec 	{
	width: 469px;
	height: 170px;
	position: absolute;
	left: 20px;
	top: 1020px;
}

.content2textd 	{
	position: absolute;
	top: 1320px;
	left: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 350px;
	line-height: 30px;
}


#content2imaged 	{
	width: 469px;
	height: 197px;
	position: absolute;
	right: 20px;
	top: 1320px;
}

#content3	{	
	height:380px;
	width:100%;
	background-color: rgb(250,250,250);
}


#content3title	{
	width: 917px;
	margin-top: 100px;
	text-align: center;
	font-size: 22px;
	color:rgb(74,74,74);
}

.content3text 	{
	width: 917px;
	margin-top: 60px;
	text-align: center;
	font-size: 16px;
	color: rgb (74,74,74);
	line-height: 30px;
}

#content4	{	
	height:700px;
	width:100%;
	background-color: rgb(244,244,244);
}


.content4text 	{
	position: absolute;
	top: 140px;
	left: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 350px;
	line-height: 30px;
}


#content4image 	{
	width: 469px;
	height: 170px;
	position: absolute;
	right: 20px;
	top: 100px;
}

.content4texta 	{
	position: absolute;
	top: 460px;
	right: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 350px;
	line-height: 30px;
	text-align: right;
}


#content4imagea 	{
	width: 469px;
	height: 170px;
	position: absolute;
	left: 20px;
	top: 420px;
}

#content5	{	
	height:380px;
	width:100%;
	background-color: rgb(250,250,250);
}


#content5title	{
	width: 917px;
	margin-top: 100px;
	text-align: center;
	font-size: 22px;
	color:rgb(74,74,74);
}

.content5text 	{
	width: 917px;
	margin-top: 60px;
	text-align: center;
	font-size: 16px;
	color: rgb (74,74,74);
	line-height: 30px;
}

#content6	{	
	height:1010px;
	width:100%;
	background-color: rgb(244,244,244);
}

.content6text 	{
	position: absolute;
	top: 140px;
	left: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 350px;
	line-height: 30px;
}


#content6image 	{
	width: 469px;
	height: 170px;
	position: absolute;
	right: 20px;
	top: 100px;
}

.content6texta 	{
	position: absolute;
	top: 460px;
	right: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 350px;
	line-height: 30px;
	text-align: right;
}


#content6imagea 	{
	width: 469px;
	height: 170px;
	position: absolute;
	left: 20px;
	top: 420px;
}

.content6textb 	{
	position: absolute;
	top: 760px;
	left: 0px;
	font-size: 16px;
	color: rgb (74,74,74);
	width: 350px;
	line-height: 30px;
}


#content6imageb 	{
	width: 469px;
	height: 170px;
	position: absolute;
	right: 20px;
	top: 720px;
}

strong	{
	font-family: gotham_boldregular;
	color: rgb(0,0,0);
	margin-right: 4px;
	font-size: 18px;
}	

