body {
	font-family: 'Proxima Nova', sans-serif;
	background: #f4f4f4;
}
#alert-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	z-index: 5000;
}
.content p {
	margin-bottom: 15px;
	font-size: 17px;
}
#alert {
	position: relative;
	margin: 100px auto 0;
	max-width: 758px;
	width: 100%;
	background: #ffffff;
	border-radius: 5px;
}
#alert .close-alert {
	padding: 5px 8px;
	color: #ffffff;
	border-radius: 500px;
	border: 2px solid #ffffff;
	background: #000000;
	position: absolute;
	top: -12px;
	right: -12px;
	cursor: pointer;
	-webkit-box-shadow: 6px -5px 31px -8px rgba(0,0,0,0.84);
	-moz-box-shadow: 6px -5px 31px -8px rgba(0,0,0,0.84);
	box-shadow: 6px -5px 31px -8px rgba(0,0,0,0.84);
}
#alert .bg {
	float: left;
	width: 322px;
}
#alert .content {
	margin-left: 15px;
	float: left;
	width: calc(100% - 337px);
	padding: 25px 30px 35px 15px;
}
#alert .title {
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 600;
	color: #000000;
	line-height: 1.3;
	text-transform: uppercase;
}
#alert .description {
	margin-bottom: 20px;
	font-weight: 300;
	color: #353634;
	font-size: 16px;
}
#alert input {
	margin-bottom: 10px;
	padding: 10px 15px;
	width: 100%;
	display: block;
	font-size: 16px;
	border: 1px solid #dededd;
}
#alert button {
	padding: 15px 10px;
	text-align: center;
	width: 100%;
	display: block;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 600;
	color: #ffffff;
	background: #79e05d;
	border: none;
	border-radius: 4px;
}
#alert2 {
	position: relative;
	margin: 100px auto 0;
	max-width: 758px;
	width: 100%;
	background: #ffffff;
	border-radius: 5px;
}
#alert2 .close-alert {
	padding: 5px 8px;
	color: #ffffff;
	border-radius: 500px;
	border: 2px solid #ffffff;
	background: #000000;
	position: absolute;
	top: -12px;
	right: -12px;
	cursor: pointer;
	-webkit-box-shadow: 6px -5px 31px -8px rgba(0,0,0,0.84);
	-moz-box-shadow: 6px -5px 31px -8px rgba(0,0,0,0.84);
	box-shadow: 6px -5px 31px -8px rgba(0,0,0,0.84);
}
#alert2 .bg {
	display: block;
	height: 200px;
}
#alert2 .content {
	padding: 30px;
	display: block;
}
#alert2 .title {
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 600;
	color: #000000;
	line-height: 1.3;
	text-transform: uppercase;
	text-align: center;
}
#alert2 .description {
	margin-bottom: 20px;
	font-weight: 300;
	color: #353634;
	font-size: 16px;
	text-align: center;
}
#alert2 input {
	margin-bottom: 10px;
	padding: 10px 15px;
	width: 100%;
	display: block;
	font-size: 16px;
	border: 1px solid #dededd;
}
#alert2 button {
	padding: 15px 10px;
	text-align: center;
	width: 100%;
	display: block;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 600;
	color: #ffffff;
	background: #79e05d;
	border: none;
	border-radius: 4px;
}
#countdown {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 15px 0;
	background: #ffde00;
	color: #000000;
	line-height: 1;
	font-size: 20px;
	font-weight: 600;
	z-index: 500;
}
#header {
	padding: 30px 0 50px;
	background: #55d5be url('../img/form-header.jpg') center no-repeat;
	background-size: cover;
	color: #ffffff;
	line-height: 1;
	font-size: 38px;
	font-weight: 600;
}
#content {
	padding-top: 70px;
	position: relative;
	z-index: 2;
}
#content .wrapper {
	padding: 45px 55px;
	border-radius: 5px;
	background: #ffffff;
}
#content .section {
	padding-bottom: 30px;
}
#content .section:last-child {
	padding: 0;
	margin: 0;
	border: 0;
}
#content .sidebar {
	padding: 0;
	margin: 0 15px;
	width: calc(33.33333333% - 30px);
}
@media all and (max-width: 991px) {
	#content .sidebar {
		width: auto;
		text-align: center;
	}
}
#content .sidebar:first-child {
	margin-top: 35px;
	border-top: 1px solid #d5d6e1;
}
.img-responsive {
	display: inline-block;
}
.main .book-info {
	margin-top: 50px;
	font-size: 20px;
	color: #3f3f3f;
}
.main .book-info strong {
	font-weight: 600;
}
.sidebar .download {
	margin-bottom: 10px;
	padding: 30px 20px;
	font-size: 22px;
	background: #eeeeee;
	border-radius: 5px;
	border: 4px solid #d5d6e1;
}
.sidebar .pricing {
	margin-bottom: 10px;
	padding: 15px 0;
	border-bottom: 4px solid #d5d6e1;
}
.pricing .pricing-entry {
	margin-bottom: 2px;
	font-size: 14px;
	font-weight: 600;
}
.pricing .pricing-entry:last-child {
	margin-bottom: 0;
}
.pricing .pricing-red {
	color: #fa0404;
}
.text-d-right {
	text-align: right;
}
.sidebar .pricing-total {
	color: #00c75e;
	font-weight: 600;
}
.select {
	position: relative;
}
.select .dropdown select {
	padding-right: 25px;
}
.select .arrow {
	position: absolute;
	top: 13px;
	right: 10px;
	z-index: 3;
}
#payment-method-form .select .arrow {
	top: 19px;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid black;
}
.pricing-total select {
	color: #bbbbbb;
	display: block;
	padding: 5px;
	border-radius: 3px;
	border-color: #c1c1c1;
	font-weight: 400;
	-webkit-appearance: none;
}
.pricing-title {
	padding-top: 7px;
	font-size: 16px;
	font-weight: 400;
}
.pricing-figure {
	padding-top: 3px;
	font-size: 19px;
}
.form-title {
	font-size: 22px;
	color: #3f3f3f;
	line-height: 1;
	margin-bottom: 15px;
	width: calc(66.66666667% - 10px);
}
#payment-method-form {
	border-radius: 3px;
	overflow: hidden;
	border: 1px solid #d5d6e1;
}
#payment-method-form .method {
	padding: 25px 30px;
	background: #ffffff;
	border-bottom: 1px solid #d5d6e1;
}
#payment-method-form .method:nth-of-type(2n) {
	background: #f3f5f6;
}
#payment-method-form .method input[type="radio"] {
	position: relative;
	top: 2px;
	margin-right: 10px;
	cursor: pointer;
}
#payment-method-form .method label {
	margin: 0;
	font-weight: 400;
	font-size: 17px;
	cursor: pointer;
}
#payment-method-form .method:last-child {
	border: none;
}
#payment-method-form .payment-details label {
	margin-bottom: 5px;
	font-weight: 600;
	font-size: 16px;
	color: #3f3f3f;
	text-transform: uppercase;
}
#payment-method-form .payment-details select,
#payment-method-form .payment-details input[type="text"],
#payment-method-form .payment-details input[type="email"] {
	-webkit-appearance: none;
	margin-bottom: 30px;
	padding: 10px;
	width: 100%;
	font-size: 15px;
	border-radius: 3px;
	border: 1px solid #c1c1c1;
	font-weight: 600;
	color: #bbbbbb;
	display: block;
}
#payment-method-form .payment-details select {
	padding: 11px 10px 12px;
	-webkit-appearance: none;
}
#payment-method-form .payment-details select:focus,
#payment-method-form .payment-details input[type="text"]:focus,
#payment-method-form .payment-details input[type="email"]:focus {
	outline: none;
	border: 1px solid #3f3f3f;
}
#payment-method-form .payment-details select.verified,
#payment-method-form .payment-details input.verified {
	color: #727473;
	background: #f8fefb;
	border: 1px solid #66e0a3;
}
.sidebar-block {
	margin-bottom: 15px;
	padding: 20px 30px;
	background: #f2f3f5;
	font-size: 17px;
	line-height: 22px;
}
.sidebar-block .testimonial .source {
	margin-top: 15px;
	font-style: italic;
}
strong {
	font-weight: 600;
}
.quality-img {
	margin-top: 10px;
	margin-left: 55px;
	margin-bottom: 10px;
}
.text-d-center {
	text-align: center;
}
.sidebar .money-back {
	margin-bottom: 30px;
	text-align: left;
}
.sidebar .money-back:last-child {
	margin-bottom: 25px;
}
.sidebar .money-back strong {
	margin: 0 0 4px;
	display: block;
}
.button-submit {
	padding: 20px 0;
}
.submit-btn {
	margin: 0 auto;
	padding: 25px 15px;
	text-align: center;
	background: #79e05d;
	color: #ffffff;
	font-size: 22px;
	display: block;
	border: none;
	width: 70%;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 0px 0px #6dd052;
	-moz-box-shadow: 0px 4px 0px 0px #6dd052;
	box-shadow: 0px 4px 0px 0px #6dd052;
}
.submit-btn:hover,
.submit-btn:active {
	margin: 0 auto;
	padding: 25px 15px;
	text-align: center;
	background: #79e05d;
	color: #ffffff;
	font-size: 22px;
	display: block;
	border: none;
	width: 70%;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 0px 0px #6dd052;
	-moz-box-shadow: 0px 4px 0px 0px #6dd052;
	box-shadow: 0px 4px 0px 0px #6dd052;
	text-decoration: none;
}
.security {
	padding: 20px 15px;
	text-align: center;
}
#content #form {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e6eaed;
}
.list {
	padding: 10px 15px;
}
.security2 {
	padding: 40px 15px;
	border-right: 1px solid #e6eaed;
}
.list .entry {
	padding-left: 7px;
	margin-bottom: 10px;
	line-height: 18px;
	font-size: 15px;
	color: #3f3f3f;
}
.list .entry:last-child {
	margin-bottom: 0;
}
.list .entry .circle {
	position: relative;
	top: -2px;
	margin-right: 10px;
	display: inline-block;
	padding: 3px;
	border-radius: 5px;
	background: #55d5be;
}
#footer {
	padding: 25px 0;
	text-align: center;
}
#main-cta {
	padding: 25px 15px;
	background: #ea6f5f;
	color: #ffffff;
	min-width: 575px;
	font-size: 35px;
}
#main-cta:hover {
	background: #d67063;
	color: #ffffff;
}
p {
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 1.8;
}
.main ul li,
.main ol li,
.main .entry {
	margin-bottom: 15px;
	line-height: 1.8;
	font-size: 18px;
}
.main .list {
	margin-bottom: 10px;
}
#footer {
	text-align: center;
}
#footer a {
	margin: 0 15px;
	font-size: 16px;
	font-weight: 600;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #d4d4d4;
}
@media all and (min-width: 1300px) {
	.container {
		width: 1280px;
	}
}
@media all and (max-width: 991px) {
	.sidebar .money-back {
		text-align: center;
	}
	.text-d-right {
		text-align: left;
	}
}