body {
	background: #55d5be;
	background-size: cover;
	font-family: 'Proxima Nova', sans-serif;
}
.img-responsive {
	display: inline-block;
}
#content {
	margin-top: 0px;
	text-align: center;
	color: #ffffff;
	background:  url('../img/bg.jpg') top center no-repeat;
	background-size: cover;
}
.bedroom #content {
	background: transparent !important;
}
.bedroom {
	background:  url('../img/bedroom.jpg') top center no-repeat !important;
	background-size: cover !important;
}
#content .man-right {
	padding-top: 30px;
}
#content .title {
	margin-bottom: 5px;
	font-size: 50px;
	font-weight: 600;
}
.bedroom #content .title {
	max-width: none;
}
#content .subtitle {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 300;
}
#content .subtitle strong {
	font-weight: 600;
}
.bedroom #content .subtitle {
	margin-bottom: 30px;
}
#content .video {
	margin: 0 auto 30px;
	max-width: 744px;
	height: auto;
	width: 100%;
}
.btn {
	margin: 0 15px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
	-webkit-box-shadow: 0px 8px 0px 0px #c7675b;
	-moz-box-shadow: 0px 8px 0px 0px #c7675b;
	box-shadow: 0px 8px 0px 0px #c7675b;
}
#main-cta {
	padding: 25px 15px;
	background: #ea6f5f;
	color: #ffffff;
	min-width: 575px;
	font-size: 35px;
}
#main-cta:hover {
	background: #d67063;
	color: #ffffff;
}
#content .cards {
	padding: 35px 0;
}
#content .cards img {
	margin: 0 10px;
}
#content .disclaimer {
	margin-bottom: 35px;
	font-size: 22px;
	font-weight: 300;
}
.bedroom #asseenon {
	background: rgba(0,0,0,.5) !important;
}
#asseenon {
	padding: 45px 0;
	background: #4dcbb4;
	text-align: center;
}
#asseenon .title {
	margin-bottom: 50px;
	font-size: 28px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
}
.bedroom #footer {
	background: rgba(0,0,0,.7) !important;
}
#footer {
	padding: 45px 0;
	background: #ffffff;
	text-align: center;
	color: #848484;
	font-weight: 400;
}
#footer p {
	margin-bottom: 20px;
	font-size: 20px;
}
#footer .links {
	margin-bottom: 20px;
	font-size: 17px;
}
#footer a {
	display: inline-block;
	text-decoration: none;
	color: #848484;
	margin: 0 20px;
}
#footer a:hover {
	color: #848484;
	text-decoration: underline;
}
@media all and (max-width: 1450px) {
	#content .title,
	#content .subtitle {
		margin: 0 auto;
		line-height: normal;
	}
	#content .title {
		margin-bottom: 10px;
		max-width: 500px;
	}
	#content .subtitle {
		margin-bottom: 10px;
		font-size: 16px;
	}
	#content .video {
		max-width: 670px;
	}
	#main-cta {
		min-width: 500px;
		font-size: 28px;
	}
}
@media all and (max-width: 1280px) {
	#content .video {
		max-width: 525px;
	}
	#main-cta {
		padding: 20px 15px;
		min-width: 400px;
		font-size: 26px;
	}
}
@media all and (max-width: 991px) {
	body {
		background-image: none;
	}
	#content .title {
		line-height: 1;
	}
	#main-cta {
		padding: 10px 15px;
		min-width: 0;
		font-size: 24px;
	}
	.button img {
		display: none;
	}
	#content .cards {
		padding: 15px 0;
	}
	#content .cards img {
		margin-top: 5px;
		margin-bottom: 5px;
		width: 64px;
		height: auto;
	}
	#asseenon img {
		margin: 10px 0;
	}
}