body {
	font-family: "Open Sans", sans-serif;
	background-color: #ffffff;
	background-image: url(http://www.transparenttextures.com/patterns/arches.png);
}
#header {
	padding: 30px 0;
}
#header h1 {
	margin: 0;
}
#header img {
	max-width: 100%;
	height: auto;
	display: inline-block;
}
#content {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.1);
	background: #fafafa;
	font-size: 17px;
}
#content .inner {
	border-radius: 5px;
	padding: 0px 25px;
	border: 1px solid rgba(0,0,0,.1);
	background: #ffffff;
}
#content h1,
#content h2,
#content h3 {
	margin: 30px 0;
}
#content h1,
#content h2 {
	font-weight: 700;
}
#content h1 {
	color: #CA2D22;
	font-size: 48px;
}
#content h1 span {
	color: #000000;
}
#content h2 {
	font-size: 36px;
	color: #000000;
}
#content p {
	font-size: 17px;
	line-height: 1.5em;
	margin-bottom: 20px;
}
#content p strong {
	color: #000000;
}
#content .lead {
	font-size: 20px;
	font-weight: 400;
}
#content .alt {
	color: #CA2D22;
	font-size: 1.2em;
	font-weight: 600;
}
#content img.pull-right {
	margin-left: 15px;
	margin-bottom: 10px;
	margin-top: 15px;
}
#content img.pull-left {
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 15px;	
}
#content .upgrade {
	margin: 35px auto;
	padding: 25px 30px;
	border-radius: 5px;
	border: 5px dotted #CA2D22;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5d599+0,e2c65f+100 */
	background: #e5d599; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #e5d599 0%, #e2c65f 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e5d599), color-stop(100%,#e2c65f)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #e5d599 0%,#e2c65f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #e5d599 0%,#e2c65f 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #e5d599 0%,#e2c65f 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #e5d599 0%,#e2c65f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5d599', endColorstr='#e2c65f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	max-width: 800px;
	width: 75%;
}
#main-cta {
	padding: 20px 25px;
	font-size: 28px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #cca929;
	background: #ddbf4f;
	color: #000000;
	font-weight: 600;
	font-style: italic;
}
#main-cta i {
	margin-right: 10px;
}
#main-cta:hover {
	border: 2px solid #be9b1c;
	background: #c6a732;
	text-decoration: none;
}
#content .upgrade .title {
	margin: 0 0 20px;
	font-size: 26px;
	color: #CA2D22;
	font-weight: 700;
}
#content .upgrade .subtitle {
	margin: 0 0 20px;
	font-size: 22px;
	font-weight: 600;
}
.strike {
	text-decoration:line-through;
	color: #CA2D22;
}
#footer {
	padding: 30px;
	text-align: center;
	color: #958282;
}
#footer div {
	margin-bottom: 10px;
}
#footer a {
	color: #958282;
}
@media all and (max-width: 991px) {
	#content h1 {
		font-size: 36px;
	}
	#content h2 {
		font-size: 32px;
	}
	#content .upgrade {
		width: auto;
	}
}