/*
 * Custom Styles for Exposely
 */

/* Framework */

.page-header {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 0;
}
.page-header-tabs {
	margin-left: 10px;
	margin-right: 10px;
}
.page-header-tabs div {
	padding-left: 0;
	padding-right: 0;
}
.tab-content {
	box-shadow: none;
}
.nav.campaign-view {
	box-shadow: none;
}
@media all and (max-width: 768px) {
	.nav.campaign-view {
		float: left !important;
	}
}
.nav.campaign-view > li:first-child {
    background-color: transparent;
    border: none;
    color: #98a6ad !important;
    cursor: pointer;
    line-height: 41px;
    font-weight: 400;
	padding-left: 15px;
	padding-right: 5px;
	cursor: default;
	margin-left: 15px;
	margin-right: 5px;
    font-family: 'Roboto', sans-serif;
}
@media all and (max-width: 768px) {
	.nav.campaign-view > li:first-child {
		margin-left: 0;
		padding-left: 0;
	}
}
.nav.campaign-view > li > a {
	line-height: 41px;
	border: none;
	margin-bottom: -1px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	color: #98a6ad !important;
	border-bottom: 2px solid #dddddd;
}
.nav.campaign-view > li > a:hover {
	color: #505458 !important;
	border-bottom-color: #505458;
}
.nav.campaign-view > li.active > a {
	background: transparent;
	color: #29abdc !important;
	border-bottom: 2px solid #29abdc;
}
@media all and (min-width: 1480px) {
	#grid .col-lg-4 {
		width: 25%;
	}
}

/* Campaign List */

#list .card-box {
	padding: 15px;
}
.campaign-header {
	font-size: 16px;
	color: #afc1c8;
	font-weight: 600;
	text-transform: uppercase;
}
.campaign-grid-item {
	margin: 10px 0;
	border-radius: 5px;
	overflow: hidden;
	border-left: 1px solid rgba(54, 64, 74, 0.08);
	border-right: 1px solid rgba(54, 64, 74, 0.08);
	border-bottom: 1px solid rgba(54, 64, 74, 0.08);
}
.campaign-list-item {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid rgba(54, 64, 74, 0.08);
}
.campaign-list-item:first-child {
	padding-top: 0;
}
.campaign-list-item:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}
.campaign-header {
	position: relative;
	color: #ffffff !important;
	display: block;
	background-size: cover;
	background-position: center;
}
.campaign-summary {
	padding: 100px 20px 15px;
	position: relative;
	text-shadow: 0px 0px 9px rgba(0, 0, 0, .5);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 61%, rgba(0,0,0,0.44) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(61%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.44))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.44) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.44) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.44) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.44) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#70000000',GradientType=0 ); /* IE6-9 */
}
.campaign-summary:hover {
	background:transparent !important;
}
.campaign-value {
	line-height: 1.2;
	font-size: 26px;
	font-weight: 600;
}
.campaign-type {
	line-height: 1;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}
.campaign-social {
	position: absolute;
	bottom: 15px;
	right: 20px;
	text-align: right;
}
#list .campaign-pay,
#list .campaign-devices,
#list .campaign-social {
	position: static;
	text-align: right;
}
@media all and (max-width: 991px) {
	#list .campaign-pay,
	#list .campaign-devices,
	#list .campaign-social {
		text-align: center;
	}
}
#list .text-muted {
	margin-top: 5px;
	line-height: 1;
}
@media all and (max-width: 991px) {
	#list .campaign-description {
		margin-top: 6px;
		margin-bottom: 10px !important;
	}
}
#list .campaign-devices i,
.campaign-social i {
	display: inline-block;
	margin: 0;
	width: 25px;
	height: 25px;
	background: rgba(0,0,0,.7);
	color: #ffffff;
	border-radius: 500px;
	text-align: center;
	padding: 6px 0;
}
.campaign-body {
	padding: 10px 20px 15px;
	background: #ffffff;
}
.campaign-title {
	display: inline-block;
	font-size: 18px;
	color: #333333 !important;
	margin-bottom: 5px;
}
#list .campaign-title {
	margin-bottom: 0;
	line-height: 1;
}
.campaign-title:hover {
	opacity: .75;
}
.campaign-description p {
	color: #98a6ad;
	font-size: 14px;
	margin-bottom: 5px;
}
.campaign-description {
	margin-bottom: 5px;
}
.campaign-footer {
	margin-bottom: 10px;
	font-size: 13px;
}
.campaign-footer i {
	margin-right: 1px;
	color: #afc1c8;
}
.campaign-footer strong {
	color: #f7b236;
	font-weight: 600;
}
.campaign-footer .campaign-end-date {
	text-align: right;
}
@media all and (max-width: 764px) {
	.campaign-footer .campaign-end-date {
		margin-top: 5px;
		margin-bottom: 3px;
		text-align: left;
	}
}
.campaign-button a {
	padding: 10px;
	text-align: center;
	display: block;
	border-radius: 3px;
	background: #29abdc;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none !important;
}
.campaign-button a:hover {
	background: #2498c4;
}

/* Campaign Details */
/* Notes: Add id='details' to BODY tag to override certain styles */

.campaign-photo {
	position: relative;
	margin-bottom: 15px;
	border-radius: 5px;
	height: 310px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.campaign-photo-actions {
	position: absolute;
	z-index: 3;
	bottom: 20px;
	left: 20px;
	right: 20px;
}
.campaign-photo .campaign-photo-gradient {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, .5);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 61%, rgba(0,0,0,0.44) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(61%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.44)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.44) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.44) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.44) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 61%,rgba(0,0,0,0.44) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#70000000',GradientType=0 );
}
#details .campaign-title {
	color: #ffffff !important;
	font-size: 30px;
	font-weight: 600;
}
#details .campaign-description {
	font-size: 15px;
}
#details .campaign-description strong {
	color: #46555e;
	font-weight: 600;
}
.campaign-photo-actions i {
	margin-right: 10px;
	padding: 10px;
	width: 40px;
	font-size: 20px;
	text-align: center;
	border-radius: 500px;
	background: #29abdc;
	color: #ffffff;
	cursor: pointer;
}
.campaign-photo-actions i:hover {
	color: #29abdc;
	background: #ffffff;
}
.campaign-info {
	font-size: 15px;
	line-height: 1.4;
	color: #46555e;
}
.campaign-info strong {
	font-weight: 600;
}
.campaign-details {
	padding-top: 15px;
}
.campaign-specifics {
    color: #797979;
}
.campaign-specifics .panel-body i,
.campaign-specifics .portlet-body i {
	font-size: 22px;
	margin-right: 5px;
}
.campaign-guidelines-container {
	float: left;
}
.campaign-specifics-container {
	float: right;
}
@media all and (max-width: 768px) {
	.campaign-guidelines-container,
	.campaign-specifics-container {
		float: none;
	}
}
.campaign-message-container {
	position: relative;
}
.campaign-message-container textarea {
	background: transparent;
	border: none;
	padding: 0;
	display: block;
	width: 100%;
	margin-bottom: 16px;
}
.campaign-message-container .char-counter {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 12px;
	color: #797979;
	font-weight: 600;
}
.campaign-message-account {
	margin-top: 15px;
	font-size: 12px;
	font-weight: 600;
	color: #333333;
}
.campaign-message-account select {
	padding: 5px;
	border: 2px solid #e5eaec;
	border-radius: 5px;
	display: inline-block;
	margin: 0 10px 0 5px;
	font-size: 14px;
}
.campaign-message-account .total-reach {
	position: relative;
	top: 2px;
	left: 2px;
	font-size: 20px;
}
.campaign-submit {
	padding: 8px 20px;
	border-radius: 5px;
	background: #29abdc;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
}
.campaign-submit:hover {
	color: #ffffff;
	text-decoration: none;
	background: #233a52;
}
.campaign-message-account .submission-link {
	text-align: right;
}
@media all and (max-width: 768px) {
	.campaign-message-account .submission-link {
		text-align: left;
		margin-top: 15px;
	}
}
#details .portlet-heading,
#details .panel-heading {
	background: #fafafa;
}
#details .panel-color .panel-title,
.portlet .portlet-heading .portlet-title {
	color: #797979;
}
.panel,
.portlet {
	border-radius: 5px;
	overflow: hidden;
}
.tablesaw thead {
	background: #fafafa;
}