/*

COLORS
Main Background: #ffffff;
Logo & Accent: #33acda
Main Text: #323232;
Dividers & Alt. Text: #999999;

*/

html,
body {
	background: #ffffff;
	color: #323232;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
}

a {
	color: #33acda;
}

a:hover {
	color: #2092bc;
}

.form-control,
.input-group-addon {
	border-radius: 0;
}

.form-control {
	border-right-color: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom-color: #999999;
	transition: all ease-in-out .25s;
}

.form-control:active,
.form-control:focus {
	box-shadow: none;
	border-right-color: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: #33acda;
}

label {
	margin-bottom: 6px;
	font-size: 11px;
	text-transform: uppercase;
	text-align: left;
	color: #999999;
	display: block;
	font-weight: 600;
    letter-spacing: 0.5px;
	cursor: pointer;
}

.input-group-addon {
	border-color: transparent;
	color: #33acda;
	background: transparent;
}

:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #ffffff;
}

.valign-container {
	display: table;
	width: 100%;
}

.valign-container .valign-center {
	display: table-cell;
	vertical-align: middle;
}

.btn {
	display: inline-block;
	width: 100%;
	max-width: 150px;
	border-radius: 100px;
	padding: 8px 12px;
	color :#ffffff;
	background: #33acda;
	border-color: #33acda;
}

.btn:hover {
	color: #ffffff;
	background: #2092bc;
	border-color: #2092bc;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: none;
	color: #ffffff;
	background: #33acda;
	border-color: #33acda;
}

@media all and (max-width: 1500px) {
	
}

@media all and (max-width: 768px) {
	.visible-xs-block {
		display: block!important;
	}
	
	#mobile-navigation {
		padding: 10px 0;
	}
	
	#mobile-navigation i {
		color: #33acda;
	}
	
	#mobile-navigation .page-title {
		margin-top: 2px;
		font-size: 18px;
		display: inline-block;
	}
}