/*

COLORS
Main Background: #ffffff;
Logo & Accent: #33acda
Main Text: #323232;
Alt. Text: #888b8c;

*/

.login .hero {
	position: relative;
	padding: 50px 50px;
	color: #ffffff;
	height: 100vh;
	background: rgba(51, 172, 218, .75);
	z-index: 2;
}

.login .hero:first-child {
	position: absolute;
	top: 0;
	right: 16px;
	left: 0;
	z-index: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #33acda;
}

.login h1 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 2em;
	line-height: 1;
	font-weight: 400;
	color: #33acda;
}

.login h1 img {
	max-width: 100%;
	display: inline-block;
}

.login h2 {
	font-size: 1em;
	margin-bottom: 20px;
	color: #323232;
}

.login h3 {
	margin: 0;
	line-height: 1.2;
	font-size: 2.5em;
	font-weight: 300;
	opacity: .85;
}

.login h3:first-child {
	font-size: 4em;
	font-weight: 400;
	color: #ffffff;
	opacity: 1;
}

.login #right .valign-container {
	padding: 25px 100px;
}

.login #left {
	padding-left: 0;
}

.login .valign-container {
	height: 100vh;
}

.login .divider {
	margin-top: 20px;
	margin-bottom: 20px;
}

.login .divider .float {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.login .divider hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border-color: #dddddd;
}

.login .divider span {
	display: inline-block;
	background: #999999;
	padding: 5px 10px;
	background: #ffffff;
	position: relative;
	z-index: 2;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #aaaaaa;
}

.login .form-group a {
	display: inline-block;
	font-size: 11px;
}

.login .form-submission {
	margin-top: 20px;
}

.login .form-submission a {
	font-size: 13px;
	font-weight: 600;
	display: inline-block;
}

.login .form-links {
	margin-top: 15px;
	font-size: 12px;
}

.login .bottom-row {
	position: absolute;
	bottom: 30px;
	left: 15px;
	right: 30px;
	font-size: 12px;
}

.login .social-link {
	margin-top: 10px;
	position: relative;
	border-radius: 3px;
	color: #ffffff;
	display: block;
	padding-top: 9px;
	padding-left: 36px;
	padding-right: 12px;
	padding-bottom: 8px;
	font-size: 12px;
	text-align: center;
}

.login .social-link:hover {
	text-decoration: none;
	opacity: .8;
}

.login .social-facebook {
	background: #3B5997;
}

.login .social-twitter {
	background: #6CADDE;
}

.login .social-snapchat {
	background: #FFFC03;
	color: #000000;
}

.login .social-instagram {
	background: #D82A7D;
}

.login .social-link i {
	position:absolute;
	left: 12px;
	top: 5px;
}

.login .btn {
	max-width: none;
}

@media all and (min-width: 1281px) and (max-width: 1500px) {
	.login .login-social .col-md-6 {
		width: 100%;
		float: none;
		text-align: center !important;
	}
}

@media all and (max-width: 1280px) {
	.login #right .valign-container {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.login .hero {
		padding-left: 30px;
		padding-right: 30px;
	}

	.login h3 {
		font-size: 2em;
		line-height: 1.3;
	}
	
	.login h3:first-child {
		font-size: 3em;
	}
}

@media all and (min-width: 992px) and (max-width: 1146px) {
	.login .login-social .col-md-6 {
		width: 100%;
		float: none;
		text-align: center !important;
	}
}

@media all and (max-width: 991px) {
	.login .hero {
		padding: 50px 25px;
	}
	
	.login #right .valign-container {
		padding-left: 0;
		padding-right: 0;
	}

	.login h3 {
		font-size: 1.75em;
		line-height: 1.25;
	}
}

@media all and (max-width: 768px) {
	.login #right .valign-container {
		display: block;
		height: auto;
	}
	
	.login #right .valign-center {
		display: block;
	}

	.login .bottom-row {
		margin-top: 20px;
		margin-bottom: 20px;
		position: static;
	}
}