h1,h2 {color: #1f2125; font-weight: 700;}
a, a:visited,{font-weight: 700;}
#footer, .btn-primary { word-wrap: break-word}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
	}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.6;
	color: #2e3138
	}
/*---------------------
HEADER PART CSS
-----------------------*/	
.top-text{
	font-size: 19px;
	font-weight: 400;
	text-align: center;
	background: #f4f4f6;
	color: #5c6270;
	text-transform:uppercase;
	}	
.header {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    padding: 20px 0;
    border-bottom: 1px solid #ebecef
	}
.logo{
	float:left;
    width: 310px;
    margin-left: 0;
	}
.logo img{width:100%;}
ul.top-menu{
	float:right;
	margin:5px -15px 0 0;
	padding:0;
	}
ul.top-menu li{
	float:left;
	list-style:none;
	}
ul.top-menu li a{
	display:block;
	color: #5c6270;
    text-transform: uppercase;
    font-weight: 400;
	padding:10px 15px;
	font-size:14px;
	}
ul.top-menu li a.select{
    color: #2e3138;
    border-bottom: 2px solid #e6a422;
    padding-bottom: 5px
	}
ul.top-menu li a:hover{
	color:#000;
	text-decoration:none;
	}

/*----------------------
MAIN CONTENT CSS
------------------------*/
.man-content{
	padding:30px 0 60px 0;
	}
.man-content P{
	font-size:14px;
	margin:0 0 20px 0;
	}
.man-content h1{ font-size:36px; margin-top: 0} 
h2{font-size: 24px;margin: 20px 0}
h3{font-size: 20px; margin-bottom: 20px; color: #bf3116}
.date-text{
	border-bottom: 1px solid #ebecef;
	padding-bottom: 10px;
	color: #5c6270;
	}
.man-content a{
	font-weight: 700;color: #2264e6;
    cursor: pointer;
    outline: 0 none;
    text-decoration: none;
	}
.content-img {margin: 5px 0 20px}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 16px;
    border-left: 3px solid #e6a422;
    background: #fbefd9;
    color: #362606
	}
.map{margin: 0 0 30px}
.btn-primary {
    background: #e6a422 none repeat scroll 0 0;
    border-color: #e6a422;
    border-radius: 6px;
    color: #fff !important;
    font-size: 24px;
    line-height: 1.33333;
    margin-bottom: 30px;
    padding: 10px 16px;
    white-space: normal;
	}
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
	background-color: #bf8616;
	border-color: #bf8616;
	color: #fff !important;
	}

/*-----------------------
FOOTER CSS
------------------------*/
#footer {
	padding: 60px 0;
	margin-top: 30px;
	background: #2e3138;
	}
.footer-disclaimer {
	font-size: 27px;
	font-weight:bold;
	text-align: left;
	background: 0 0;
	color: #abb0ba;
	font-style: normal
	}
#footer p{
	color: #abb0ba;
	font-size: 14px;
	}
#footer a, #footer a:hover, #footer a:visited {
	color: #abb0ba;
	font-weight: 400
	}
#footer hr {
    margin: 20px 0;
    border-top: 1px solid #454a54
	}

/*-------------
MEDIA SETTING
--------------*/

@media (min-width: 1200px) {
.container {width: 992px}
}
@media (min-width: 992px) {
.content-img {float: right;margin-left: 20px}
}
@media (max-width: 992px) {
.top-text{font-size:15px;}
.logo{width:260px;}
ul.top-menu li a{font-size: 14px;padding: 10px 5px;}
@media (max-width: 767px) {
.man-content h1, h1 {font-size: 24px}
.logo{width:290px;}
}



