html,
body {
	position: relative;
	font-family: "Montserrat", sans-serif;
	height: 100%;
}
video {
	background: transparent;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: #374850 url('../assets/images/ring.gif') 50% 25% no-repeat;
	overflow: hidden;
}
#preloader video {
	width: 100%;
	height: auto;
}
#navigation {
	padding: 20px 15px 20px 40px;
	position: fixed;
	z-index: 10;
	background: rgba(255,255,255,.9);
	left: 0;
	right: 0;
}
#navigation #responsive-btn {
	display: none;
}
#navigation #island-navigation-responsive {
	display: none;
}
#navigation #island-navigation {
	float: right;
}
#navigation #island-navigation-responsive li a,
#navigation #island-navigation li a {
	margin-left: 40px;
	font-size: 13px;
	color: #354750;
	text-transform: uppercase;
	font-weight: 700;
}
#island-container {
	position: relative;
	height: 100vh;
	overflow: hidden;
	color: #354750;
	font-weight: 700;
}
#island-source {
	margin: 80px auto 0;
	position: relative;
	transform-origin: 0 0;
	-webkit-transition: ease 500ms transform;
	-moz-transition: ease 500ms transform;
	-ms-transition: ease 500ms transform;
	-o-transition: ease 500ms transform;
	transition: ease 500ms transform;
}
#island-source video {
	margin: 0 auto;
	display: block;
	width: 4096px;
}
#island-source-mobile {
	margin: 40px auto 0;
	display: block;
	height: 2304px;
}
#island-source section {
	position: absolute;
	cursor: pointer;
	z-index: 2;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
	-webkit-transition: ease 250ms opacity;
	-moz-transition: ease 250ms opacity;
	-ms-transition: ease 250ms opacity;
	-o-transition: ease 250ms opacity;
	transition: ease 250ms opacity;
}
#island-source section:hover {
	opacity: 1 !important;
}
#island-source .ux-ui {
	top:  1243px;
	left: 468px;
	width: 435px;
	height: 262px;
	display: inline-block;
	background-image: url('../assets/images/departments/ux-ui/hover.png')
}
#island-source .digital-marketing {
	top:  1511px;
	left: 1258px;
	width: 453px;
	height:  304px;
	background-image: url('../assets/images/departments/digital/hover.png')
}
#island-source .app-development {
	top:  1512px;
	left: 2491px;
	width: 430px;
	height: 211px;
	background-image: url('../assets/images/departments/app/hover.png')
}
#island-source .branding {
	top:  875px;
	left: 2482px;
	width: 483px;
	height: 290px;
	background-image: url('../assets/images/departments/branding/hover.png')
}
#island-source .illustration {
	top: 466px;
	left: 1990px;
	width: 210px;
	height: 252px;
	background-image: url('../assets/images/departments/illustration/hover.png')
}
#island-source .web-development {
	top: 300px;
	left: 920px;
	width: 439px;
	height: 281px;
	background-image: url('../assets/images/departments/web/hover.png')
}
#side-wrapper {
	padding: 8px 10px;
	border-radius: 3px;
	background: rgba(255,255,255,.9);
	position: absolute;
	top: calc(50% - 100px);
	left: 40px;
	z-index: 5;
	text-align: center;
	font-size: 20px;
}
#side-wrapper #click-drag-wrapper {
	margin-bottom: 15px;
}
#side-wrapper #click-drag-wrapper small {
	margin-top: 8px
}
#side-wrapper #zoom {
	margin: 10px auto 8px;
	width: 8px;
	background: #b55d17;
	border: none;
	border-radius: 0;
	height: 80px;
}
#side-wrapper #zoom .ui-slider-handle {
	padding: 14px;
	left: -.45em;
	background: transparent url('../assets/images/zoom-bush.png') center center no-repeat;
	border-radius: 0;
	border: none;
	-webkit-transition: ease 500ms bottom;
	-moz-transition: ease 500ms bottom;
	-ms-transition: ease 500ms bottom;
	-o-transition: ease 500ms bottom;
	transition: ease 500ms bottom;
	cursor: pointer;
}
#side-wrapper #zoom .ui-slider-handle:focus {
	outline: none;
}
#side-wrapper #center-island {
	margin-top: 15px;
	padding: 5px 10px;
	background: #ffffff;
	display: inline-block;
	border: 1px solid #aaaaaa;
	color: #797979;
	border-radius: 3px;
	text-decoration: none;
}
#side-wrapper #center-island:hover {
	text-decoration: none;
	background: #aaaaaa;
	color: #ffffff;
}
#side-wrapper small {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}
#bg-cover {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: rgba(255,255,255,.7);
	display: none;
}
.modal {
	position: fixed;
	top: calc(50% - 280px);
	left: calc(50% - 400px);
	z-index: 10;
	width: 800px;
	height: 580px;
	background: transparent url('../assets/images/modal-bg.png') center center no-repeat;
	display: none;
	-webkit-transition: ease 250ms top;
	-moz-transition: ease 250ms top;
	-ms-transition: ease 250ms top;
	-o-transition: ease 250ms top;
	transition: ease 250ms top;
}
.modal .modal-close {
	margin-bottom: 40px;
	font-size: 18px;
	text-align: right;
	font-weight: 700;
}
.modal .modal-close span {
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}
.modal .modal-content {
	margin: 0 90px 0 110px;
	max-height: 400px;
	text-align: center;
	color: #354750;
}
.modal .modal-buttons {
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
}
.modal .modal-buttons .modal-call {
	position: absolute;
	padding-top: 24px;
	left: 142px;
	display: inline-block;
	width: 223px;
	height: 77px;
	font-size: 15px;
	font-weight: 700;
	color: #ead6ad;
	text-align: center;
	background: transparent url('../assets/images/call-button.png') center no-repeat;
	opacity: 0.965;
	cursor: pointer;
	z-index: 11;
	text-decoration: none;
}
.modal .modal-buttons .modal-contact {
	position: absolute;
	padding-top: 24px;
	right: 130px;	
	display: inline-block;
	width: 215px;
	height: 84px;
	font-size: 15px;
	font-weight: 700;
	color: #ead6ad;
	text-align: center;
	background: transparent url('../assets/images/contact-button.png') center no-repeat;
	opacity: 0.965;
	cursor: pointer;
	z-index: 11;
	text-decoration: none;
}
.modal .modal-buttons .modal-call:hover,
.modal .modal-buttons .modal-contact:hover {
	opacity: 1;
	text-decoration: none;
}
.modal .modal-buttons .modal-call-dropdown {
	padding: 37px 15px;
	position: absolute;
	top: 60px;
	left: 82px;
	width: 322px;
	height: 137px;
	background: transparent url('../assets/images/call-bg.png') center no-repeat;
	display: none;
}
.modal .modal-buttons .modal-call-dropdown input {
	margin-bottom: 5px;
	padding: 11px 10px 9px;
	font-weight: 15px;
	font-weight: 700;
	color: #37474f;
	border: none;
	display: none;
}
.modal .modal-buttons .modal-call-dropdown input:focus {
	outline: none;
}
.modal .modal-buttons .modal-call-dropdown input[name="full-name"] {
	padding-left: 12px;
	padding-right: 12px;
	width: 286px;
	background-size: cover;
	background: transparent url('../assets/images/full-name-input.png') center no-repeat;
}
.modal .modal-buttons .modal-call-dropdown input[name="phone-number"] {
	background: transparent url('../assets/images/phone-number-input.png') center no-repeat;
	width: 199px;
}
.modal .modal-buttons .modal-call-dropdown input[type="submit"] {
	border: none;
	text-transform: uppercase;
	width: 83px;
	color: #ffffff;
	background: transparent url('../assets/images/submit-input.png') center no-repeat;
}
.modal .modal-buttons .modal-call-dropdown .sent {
	border: none;
	text-transform: uppercase;
	width: 83px;
	color: #ffffff;
	background: transparent url('../assets/images/submit-input-alt.png') center no-repeat;
}
.modal .modal-buttons .modal-call-dropdown ::-webkit-input-placeholder {
	color: #37474f;
}
.modal .modal-buttons .modal-call-dropdown :-moz-input-placeholder {
	color: #37474f;
}
.modal .modal-buttons .modal-call-dropdown ::-moz-input-placeholder {
	color: #37474f;
}
.modal .modal-buttons .modal-call-dropdown :-ms-input-placeholder {
	color: #37474f;
}
.department-image {
	margin-bottom: 10px;
}
.department-title {
	font-weight: 700;
	font-size: 30px;
}
.department-subtitle {
	font-weight: 700;
	font-size: 15px;
}
.department-description {
	margin: 15px auto;
	font-size: 13px;
}
.department-areas-title {
	margin-bottom: 15px;
	font-weight: 700;
}
.department-areas-list {
	margin: 0 -10px;
}
.department-areas-list .col-nr-2 {
	padding: 0 10px;
}
.department-area-image {
	background-position: center;
	background-repeat: no-repeat;
	height: 40px;
}
.department-area-title {
	display: block;
	line-height: 1.2;
	font-size: 12px;
}
@media all and (max-width: 1366px) {
	.modal{
		transform: scale(.9);
	}
	.department-description {
		font-size: 15px;
	}
}
@media all and (max-width: 1280px) {
	.modal{
		transform: scale(.8);
	}
	.modal .modal-buttons {
		bottom: 90px;
	}
}
@media all and (max-width: 1200px) {
	#navigation {
		padding: 15px 5px 15px 30px;
	}
	#navigation #island-navigation li a {
		margin-left: 20px;
	}
	#side-wrapper {
		left: 16px;
	}
	.department-subtitle {
		font-size: 17px;	
	}
	.department-description {
		margin: 10px auto;
		font-size: 15px;
	}
	.department-areas-title {
		font-size: 15px;
	}
	.department-area-title  {
		font-size: 13px;
	}
}

@media all and (max-width: 991px) {
	#preloader,
	#island-source video,
	#side-wrapper {
		display: none;
	}
	#navigation {
		padding: 10px 0;
		left: 0;
		right: 0;
		z-index: 11;
	}
	#navigation .col-r-2 img {
		max-width: 75%;
		height: auto;
	}
	#navigation #responsive-btn {
		margin: 10px 0;
		display: inline-block;
	}
	#navigation #island-navigation {
		display: none;
	}
	#navigation #island-navigation-responsive {
		padding: 10px 0;
		display: none;
		float: none;
		background: rgba(255,255,255,.7);
	}	
	#navigation #island-navigation-responsive li {
		display: block;
		float: none;
	}
	#navigation #island-navigation-responsive li a {
		padding: 5px 15px;
		margin: 10px 0;
	}
	#side-wrapper {
		top: calc(30% - 100px);
	}
	#island-container {
		height: 100%;
	}
	#island-source-mobile {
		background: url('../assets/images/island.jpg') center center no-repeat;
		background-size: contain;
	}
	.modal {
		padding: 15px;
		position: absolute;
		top: 71px;
		left: 0;
		right: 0;
		bottom: 0;
		width: auto;
		height: auto;
		background: rgba(255,255,255,.45);
		transform: scale(1);
	}
	.modal .modal-close {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 16px;
	}
	.modal .modal-close span {
		display: inline-block;
		padding: 10px 15px;
		cursor: pointer;
	}
	.modal .modal-content {
		margin: 0;
		max-height: none;
	}
	.department-image {
		margin-bottom: 0;
	}
	.department-areas-list .col-nr-2 {
		margin: 10px 0;
		width: 33.3333333333%;
		min-height: 70px;
	}
	.department-description {
		margin: 15px 0 20px;
		font-size: 13px;
	}
	.department-areas-title {
		margin-bottom: 0;
	}
	.modal .modal-buttons {
		margin-bottom: 0;
		position: static;
		text-align: center;
	}
	.modal .modal-buttons .modal-call,
	.modal .modal-buttons .modal-contact {
		position: static;
		margin: 15px;
		background: none;
		padding: 15px 20px;
		text-align: center;
		color: #374850; 
		border: 1px solid #374850;
		border-radius: 5px;
		display: block;
		width: auto;
		height: auto;
	}
	.modal .modal-buttons .modal-call {
		display: none;
	}
	br {
		display: none;
	}
}