/*
	NOTES
	
	Gutters: 85px
	

	FONTS
	
	Body: Proxima Nova
	Headers: Nexa Bold

*/

html,
body {
	height: 100%;
	background: #ffffff;
	font-family: "Proxima Nova", sans-serif;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

::selection {
	background: #eb6a01;
	color: #ffffff;
}

::-moz-selection {
	background: #eb6a01;
	color: #ffffff;
}


/* MAIN NAVIGATION */

#main-navigation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	padding: 10px 0;
}

#footer ul,
#main-navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	float: right;
}

#footer ul li,
#main-navigation ul li {
	display: inline-block;
	margin-left: 20px;
}

#footer ul li a,
#main-navigation ul li a,
#main-navigation ul li i {
	padding: 10px;
	font-size: 14px;
	color: rgba(255, 255, 255, .8);
	cursor: pointer;
}

#main-navigation ul .search {
	display: none;
}

#main-navigation ul .search form {
	display: inline-block;
}

#main-navigation ul .search input[type="text"] {
	padding: 5px 10px;
	background: rgba(255, 255, 255, .5);
	color: #ffffff;
	border-radius: 500px;
	border: none;
	border: 1px solid rgba(255, 255, 255, 0);
}

#main-navigation ul .search input[type="text"]:focus {
	outline: none;
	background: rgba(255, 255, 255, .6);
	border-color: rgba(255, 255, 255, 1);
}

#main-navigation ul li a:hover,
#main-navigation ul li i:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}


/* HERO IMAGES */

#hero {
	position: relative;
	z-index: 1;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
}

#hero .tint {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, .7);
}

#hero .container-fluid {
	position: relative;
	z-index: 3;
}

.main-hero {
	padding-top: 200px;
	padding-bottom: 60px;
	background-image: url('../img/shutterstock_298625369.jpg');
}

.collection-hero {
	padding-top: 175px;
	padding-bottom: 20px;
	background: url('../img/collection_bg.jpg');
}

.item-hero {
	height: 490px;
	background: url('../img/item_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#hero h1 {
	font-family: "Nexa", sans-serif;
	margin: 0 0 20px;
	color: #ffffff;
	font-weight: 700;
	font-size: 54px;
	line-height: 1.1em;
	width: 100%;
	max-width: 770px;
	display: block;
}

#hero h2 {
	margin: 0 0 40px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.9em;
	color: rgba(255, 255, 255, .75);
}

.main-hero .cta,
.main-hero .cta a {
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
}

.main-hero .cta a {
	text-decoration: underline;
}

.main-hero .cta a:hover {
	text-decoration: none;
}

.main-hero .cta .btn {
	margin-right: 30px;
}


/* REUSABLE HELPERS CLASSES AND CONTAINERS */

.content {
	padding: 60px 0 50px;
	letter-spacing: normal;
}

.content h2 {
	font-family: "Nexa", sans-serif;
	margin: 0 0 10px;
	color: #eb6a01;
	font-size: 33px;
	text-align: center;
}

.content h3 {
	margin: 0 0 50px;
	color: #9C9C9C;
	font-size: 18px;
	text-align: center;
	font-weight: 400;
}

.content h3 a {
	font-weight: 600;
	color: #9C9C9C;
	text-decoration: none;
}

.content h3 a:hover {
	text-decoration: underline;
}

.cta-container {
	margin: 60px 0 0;
}

.btn,
.btn:focus {
	padding: 12px 30px;
	border-radius: 500px;
	text-decoration: none;
	background: #eb6a01;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none !important;
	border: 2px solid #eb6a01;
}

.btn:hover {
	background: #cb5b00;
	border-color: #cb5b00;
	color: #ffffff;
}

.btn-alt,
.btn-alt:focus {
	color: #9C9C9C;
	border-color: #D3D3D3;
	background: transparent;
}

.btn-alt:hover {
	background: transparent;
	color: #cb5b00;
}

.dropdown-container {
	padding: 0 15px;
	border: 2px solid #e5e5e5;
	border-radius: 500px;
	display: inline-block;
	margin-right: 30px;
}

.dropdown-container label {
	display: inline-block;
	font-size: 16px;
	color: #c1c1c1;
	font-weight: 400;
	margin: 0;
	cursor: pointer;
}

.dropdown-container select {
	border: none;
	font-size: 16px;
	color: #000000;
	font-weight: 400;
	text-align: right;
	padding: 10px 5px;
	margin-left: 15px;
	cursor: pointer;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	min-width: 160px;
}

.dropdown-container select:focus {
	outline: 0;
	border-left-color: #e5e5e5;
	border-right-color: #e5e5e5;
}

.dropdown-container select:focus {}

.dropdown-container select option {
	text-align: right;
}

.stars {
	padding: 0 5px;
	display: inline-block;
}

.star-gold {
	color: #fab50f;
}

.star-grey {
	color: #D7D7D7;
}


/* STEPS */

#steps {
	padding-bottom: 730px;
	background: url('../img/steps_bg.jpg') bottom center no-repeat;
	background-size: cover;
}

#steps .circles {
	margin-bottom: 20px;
	width: 115px;
	height: 115px;
	display: inline-block;
	border-radius: 500px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

#steps .step-1 {
	background-image: url('../img/step_search.png');
}

#steps .step-2 {
	background-image: url('../img/step_rent.png');
}

#steps .step-3 {
	background-image: url('../img/step_celebrate.png');
}

#steps .col-md-1 {
	background: url('../img/step_arrow.png') center no-repeat;
	height: 115px;
}

#steps .row .no-arrow {
	background: none;
}

#steps .circles:hover {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}

#steps .step-title {
	margin-bottom: 15px;
	color: #000000;
	font-size: 24px;
	font-weight: 600;
}

#steps .step-description {
	font-size: 14px;
	color: #9C9C9C;
}

#steps .cta-container .btn {
	margin: 0 15px;
}


/* SUGGESTIONS */

#suggestions {
	padding-bottom: 0;
}

.suggestion-type {
	margin: 10px 10px 0;
	position: relative;
	height: 250px;
	display: block;
}

.suggestion {
	margin: 10px 10px 0;
	position: relative;
}

.suggestion-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background: #000000;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.suggestion-price,
.suggestion-details {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 40px 25px 25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 80%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 80%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 80%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
	/* IE6-9 */
}

.suggestion-price,
.suggestion-title {
	color: #ffffff;
	font-size: 24px;
	font-weight: 600;
}

.suggestion-description {
	margin-top: 8px;
	color: #9C9C9C;
	font-size: 14px;
	font-weight: 600;
}

.suggestion-stack {
	margin: 0 0 20px;
	width: 100%;
}

.suggestion .suggestion-bg {
	position: relative;
	height: 250px;
	background: #000000;
}

.suggestion-type:hover,
.suggestion .suggestion-bg:hover {
	opacity: .75;
}

.suggestion .suggestion-price {
	padding-bottom: 20px;
	font-size: 20px;
	bottom: 0;
}

.suggestion .suggestion-details {
	position: relative;
	padding: 10px 0 25px;
	background: transparent;
}

.suggestion .suggestion-title,
.suggestion .suggestion-title a {
	color: #000000;
	font-size: 18px;
}

.suggestion .suggestion-description {
	margin-top: 8px;
}

#suggestions .cta-container {
	margin-top: 20px;
}


/* TESTIMONIAL */

#testimonial {
	padding-top: 180px;
	padding-bottom: 80px;
	background: url('../img/testimonial_bg.jpg') top left;
	background-size: cover;
}

#testimonial .col-md-6 {
	position: relative;
}

#testimonial .testimonial-icon {
	position: absolute;
	top: -48px;
	left: -37px;
	color: rgba(0, 0, 0, .12);
	font-size: 200px;
	z-index: 1;
}

#testimonial .testimonial-quote {
	position: relative;
	z-index: 2;
}

#testimonial .testimonial-quote p {
	font-size: 22px;
	color: #000000;
	font-weight: 600;
	margin-bottom: 20px;
	line-height: 36px;
}

#testimonial .testimonial-quote p:last-child {
	margin-bottom: 50px;
}

#testimonial .testimonial-source {
	margin-bottom: 20px;
	font-size: 20px;
	color: rgba(0, 0, 0, .5);
}


/* BRAND HASHTAG */

#hashtag {
	font-family: "Nexa", sans-serif;
	padding: 90px 0 0;
	background: url('../img/hashtag_bg.jpg') center repeat-x;
	height: 155px;
	font-size: 40px;
	font-weight: 700;
	color: #ffffff;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, .75);
}


/* FOOTER */

#footer {
	padding: 45px 0;
	background: #262729;
	color: #ffffff;
}

#footer ul {
	float: none;
	display: block;
}

#footer ul li a {
	margin: 0 5px;
	color: #aaaaab;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: 600;
}

#footer ul li a:hover {
	text-decoration: none;
	color: #ffffff;
}

#footer .social {
	text-align: right;
}

#footer .social a {
	margin-left: 15px;
	color: #616163;
}

#footer .social a:hover {
	color: #aaaaab;
	text-decoration: none;
}


/* SUB FOOTER */

#subfooter {
	padding: 20px 0;
	background: #262729;
	border-top: 1px solid #3c3d3f;
	font-size: 12px;
	color: #68686a;
}

#subfooter .links {
	text-align: right;
}

#subfooter .links a {
	color: #68686a;
}


/* COLLECTION */

#spot .spot-img {
	height: 420px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#spot .spot-title {
	text-align: left;
	font-family: "Proxima Nova", sans-serif;
	margin: 80px 0 10px;
	font-size: 24px;
	color: #000000;
}

#item,
.item-spec,
#spot .spot-spec {
	color: #c0c0c0;
	margin: 0 0 20px;
	font-size: 14px;
}

#spot .spot-description {
	color: #000000;
}

#spot .spot-description p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 20px;
}

#spot .spot-cta {
	margin-top: 30px;
}


/* ITEM */

#item {
	position: relative;
	z-index: 4;
	padding-top: 0;
	margin-top: -65px;
}

#item h2 {
	color: #000000;
	font-family: "Proxima Nova", sans-serif;
	text-align: left;
	margin: 90px 0 15px;
	font-size: 36px;
	font-weight: 600;
}

#item .item-spec {
	font-size: 16px;
	margin-bottom: 62px;
}

#item .item-content .nav-tabs {
	margin-bottom: 20px;
	border-color: #e5e5e5;
}

#item .item-content p {
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 1.4;
	color: #000000;
	font-weight: 500;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	border-color: transparent;
	border-bottom: 2px solid #eb6a01;
	border-radius: 0;
	color: #eb6a01;
}

.nav-tabs>li>a {
	padding: 10px 0;
	margin-right: 25px;
	border-radius: 0;
	font-size: 14px;
	color: #c0c0c0;
}

.nav-tabs>li>a:hover {
	background: transparent;
	color: #a3a3a3;
	border-color: transparent;
	border-bottom-color: #a3a3a3;
}

#item .item-sidebar {
	margin-bottom: 30px;
	position: relative;
	background: #ffffff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10);
}

#item .item-price {
	padding: 20px 0;
	color: #000000;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

#item .item-dates {
	text-align: center;
	padding: 20px 0 40px;
}

#item .btn {
	padding: 9px 25px;
}

#item .btn-alt {
	margin: 5px 0;
	padding: 7px 15px;
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	border-color: #e5e5e5;
}

#item .btn-alt i {
	margin-right: 3px;
	color: #B5B5B5;
	display: none;
}

#item .item-dates .date {
	color: #eb6a01;
	font-weight: 600;
	margin: 0 5px;
}

#item .item-cta {
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	text-align: center;
}

#item .item-stats .stat-row {
	margin: 0 15px;
	padding: 22px 0;
	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
	color: #c0c0c0;
}

#item .item-stats .row:last-child .stat-row {
	border-bottom: 0;
}

#item .item-stats .stat-row .col-md-6 {
	padding: 0;
}

#item .item-stats .row .col-md-6:last-child {
	text-align: right;
	font-weight: 600;
	color: #000000;
}

#item .item-stats .row .col-md-6:last-child div {
	margin-bottom: 10px;
}

#item .item-stats .row .col-md-6:last-child div:last-child {
	margin-bottom: 0;
}

/* Laptops & Small Screens */
@media screen and (max-width: 1199px) {
	#main-navigation,
	#hero,
	#hashtag,
	#footer,
	#subfooter {
		padding-left: 30px;
		padding-right: 30px;
	}
	#steps {
		padding-bottom: 440px;
	}
	.dropdown-container {
		display: none;
	}
}


/* Tablets */
@media screen and (max-width: 991px) {
	#main-navigation,
	#hero,
	#hashtag,
	#footer,
	#subfooter {
		padding-left: 15px;
		padding-right: 15px;
	}
	#hero {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	#steps {
		padding-bottom: 420px;
	}
	#steps .circles {
		margin-bottom: 15px;
		width: 90px;
		height: 90px;
	}
	#testimonial {
		background: #ffffff;
		margin-top: 50px;
		padding: 50px 0;
		text-align: center;
		-webkit-box-shadow: inset 0px 0px 63px -20px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 63px -20px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 63px -20px rgba(0,0,0,0.75);
	}
	#testimonial .testimonial-quote p {
		margin-bottom: 10px;
		line-height: 1.4;
		font-size: 20px;
		font-weight: 400
	}
	#testimonial .testimonial-quote p:last-child {
		margin-bottom: 20px;
	}
	#testimonial .testimonial-source {
		margin-bottom: 0;
	}
	.dropdown-container {
		margin-bottom: 5px;
	}
	#spot .spot-title {
		margin-top: 20px;
	}
	#item .item-spec {
		margin-bottom: 20px;
	}
	#hashtag {
		padding: 50px 0;
		height: auto;
		font-size: 42px;
	}
	#hashtag .text-right {
		text-align: center;
	}
	#footer {
		text-align: center;
		padding: 30px 0 25px;
	}
	#subfooter {
		padding: 20px 0;
		text-align: center;
	}
	#footer .col-sm-12,
	#subfooter .col-md-6 {
		padding: 5px 0;
	}
	#footer .col-sm-12 a {
		padding: 5px 0;
		display: inline-block;
	}
	#footer .col-sm-12:first-child {
		margin-bottom: 20px;
	}
	#footer .col-sm-12:last-child {
		padding-top: 5px;
	}
	#footer .col-sm-12:last-child,
	#subfooter .col-md-6:last-child {
		text-align: center;
	}
}

/* Phones */
@media screen and (max-width: 767px) {
	#main-navigation {
		padding-left: 0;
		padding-right: 0;
	}
	#hero {
		padding-top: 100px;
		text-align: center;
	}
	#hero h1 {
		font-size: 36px;
	}
	#hero h2 { 
		margin-bottom: 20px;
	}
	#steps .step-title {
		font-size: 20px;
	}
	.content {
		padding: 35px 0;
	}
	.content h2 {
		font-size: 30px;
	}
	.content h3 {
		fonts-size: 24px;
		margin-bottom: 30px;
	}
	.cta-container {
		margin-top: 30px;
	}
	#steps .cta-container .btn {
		margin-bottom: 10px;
	}
	#testimonial .testimonial-icon {
		display: none;
	}
	#testimonial .testimonial-quote p {
		font-size: 16px;
	}
	#item h2 {
		font-size: 28px;
	}
	#item .item-spec {
		margin-bottom: 20px;
	}
	.stars {
		padding: 5px;
	}
	#hashtag {
		padding: 32px 0;
		height: auto;
		font-size: 36px;
	}
	.nav-tabs>li>a {
		margin-right: 8px;
	}
	#footer ul, #main-navigation ul {
		display: block;
		float: none;
		text-align: center;
	}
	#footer ul li, #main-navigation ul li {
		margin: 0;
	}
}

/* Desktops & Large Screens */
@media screen and (min-width: 1200px) {
	#main-navigation,
	#hero,
	#hashtag,
	#footer,
	#subfooter {
		padding-left: 50px;
		padding-right: 50px;
	}
}