#update-signup {
	padding: 60px 0;
	color: #ffffff;
	font-size: 30px;
	font-weight: 300;
	background: #43c3ef;
}
#update-signup .col-md-6:first-child {
	padding-top: 15px;
}
.update-input-container {
	position: relative;
}
.update-input-container .update-input {
	padding: 20px 40px;
	border-radius: 500px;
	background: #ffffff;
	border: 2px solid transparent;
	font-size: 21px;
}
.update-input-container .update-input:focus {
	outline: none;
	border-color: #139FCE;
}
.update-input-container img {
	position: absolute;
	top: 20px;
	right: 35px;
}
#testimonials-rotator {
	padding: 90px 0;
	color: #ffffff;
	background: #28baec;
}
.flexslider {
	margin: 0;
	background: transparent;
	border: none;
	border-radius: 0;
	overflow: hidden;
}
.flex-control-paging li a {
	background: rgba(255,255,255,0);
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
	border: 2px solid #ffffff;
}
.flex-control-paging li a:hover {
	background: rgba(255,255,255,.5);
}
.flex-control-paging li a.flex-active {
	background: rgba(255,255,255,1);
}
.flexslider .slides img,
.testimonial-img {
	width: auto;
	display: inline-block;
	height: auto;
}
.testimonial-copy {
	font-size: 36px;
	font-weight: 300;
}
.testimonial-source {
	margin-top: 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 600;
}
.flex-direction-nav {
	display: none;
}
.flex-control-nav {
	position: absolute;
	top: 25%;
	bottom: 0;
	right: 5px;
	display: inline-block;
	width: 15px;
	height: 25px;
	z-index: 500;
}
#footer {
	padding: 30px 0 24px;
	background: #2d3537;
	color: #d6d6d6;
	font-weight: 300;
	font-size: 11px;
}
#footer .logo {
	padding-top: 4px;
}
.social-btn {
	padding: 7px 0 5px;
	margin-right: 10px;
	display: inline-block;
	background: #242b2d;
	color: #586467;
	border-radius: 4px;
	min-width: 34px;
	text-align: center;
}
.social-btn:hover {
	background: #1e2527;
	color: #455053;
}
#footer i {
	font-size: 16px;
}
#footer .navigation li a {
	padding: 5px 10px;a
	margin: 0 0 0 10px;
	display: inline-block;
	border-radius: 500px;
	border: 2px solid transparent;
	text-decoration: none;
	font-size: 13px;
	font-weight: 300;
	color: #d6d6d6;
}
#footer .navigation li a:hover {
	border-color: #495153;
}
#footer .navigation li .cta {
	margin-left: 30px;
	color: #ffffff;
	border-color: #80cd64;
	background: #80cd64;
	font-weight: 600;
}
#footer .navigation li .cta:hover {
	color: #ffffff;
	border-color: #61db36;
	background: #61db36;
}
@media all and (min-width: 1280px) {
	#footer .container-fluid {
		padding-left: 0;
		padding-right: 0;
		width: 1170px;
	}
}
@media all and (max-width: 991px) {
	#update-signup,
	#footer {
		text-align: center;
	}
	#update-signup {
		padding: 30px 0;
		font-size: 22px;
	}
	.update-input-container img {
		top: 30px;
	}
	#update-signup .col-md-6 {
		padding: 10px 15px;
	}
	#footer .logo {
		padding-bottom: 10px;	
	}
	#footer .copyright {
		padding: 10px 0;
	}
	#footer .navigation {
		display: none;
		float: none;
	}
	#footer .navigation li,
	#footer .navigation li a,
	#footer .navigation li .cta {
		margin: 10px 0;
		display: block;
		
	}
	.flexslider {
		text-align: center;
	}
	.flex-control-nav {
		display: none;
	}
}