#footer {
	padding: 15px 0;
	background: #595959;
	color: #ffffff;
	font-weight: 300;
}
#footer .share {
	text-align: left;
}
#footer .share a {
	margin-left: 15px;
	padding: 5px 0;
	width: 30px;
	border-radius: 500px;
	background: #ffffff;
	text-align: center;
	display: inline-block;
	color: #595959;
	-webkit-transition: background 150ms ease-out;
	-moz-transition: background 150ms ease-out;
	-o-transition: background 150ms ease-out;
	transition: background 150ms ease-out;
}
#footer .share a:hover {
	background: rgba(255,255,255,.8);
}
#footer .copyright {
	padding: 7px 0 0;
	text-align: right;
}

@media all and (max-width: 991px) {
	#footer .share,
	#footer .copyright {
		margin: 0 auto;
		text-align: center;
		float: none;
	}
}