#middle {
	padding: 60px 0;
	background: #aee3eb url('../img/middle-bg.jpg') bottom center repeat-x;
}
#middle .phone img {
	max-width: 100%;
	height: auto;
}
#middle .content {
	padding: 12% 0;
	float: right;
}
#middle h1 {
	margin: 0 0 30px;
	color: #278f9f;
	font-size: 109px;
	line-height: 89px;
}
#middle h2 {
	margin: 0;
	font-size: 43px;
	color: #000000;
}
#middle h3 {
	margin: 0;
	font-size: 25px;
	color: #000000;
}
#middle .description {
	padding: 30px 0 60px;
}
#middle .button img {
	max-width: 100%;
	height: auto;
}
#middle .button a {
	display: inline-block;
	-webkit-transition: background 150ms ease-out;
	-moz-transition: background 150ms ease-out;
	-o-transition: background 150ms ease-out;
	transition: background 150ms ease-out;
	border-radius: 15px;
}
#middle .button a:hover {
	background: rgba(0,0,0,.2);
}

@media all and (max-width: 991px) {
	#middle .content {
		float: none;
	}
	#middle {
		padding: 175px 0 60px;
		text-align: center;
	}
	#middle h1 {
		font-size: 80px;
	}
}