body {
	background-color: #35528c;
	font-family: Tahoma, sans-serif;
	color: #ffffff;
}

.container {
	margin: 0 auto;
}
.bold {
	font-weight: bold;
}

.main-header {
	margin-top: 30px;
	border-radius: 10px 10px 0 0;
	background: #ffffff;
}
.main-header .col-md-7 {
	color: #666;
	background: url('../img/tbg.png') no-repeat center center;
	padding: 17px 15px;
}
.main-header .col-md-7 h1 {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 33px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	line-height: 40px;
	margin: 0 0 17px 0;
}
.main-header .col-md-7 p {
	padding: 0 22px;
	font-size: 16px;
	margin: 0 0 20px 0;
}
.questions {
	background: #000000;
	padding: 0 0 20px;
	margin-bottom: 30px;
	text-align: center;
	border-radius: 0 0 10px 10px;
}
#step2,
#step3,
#step4,
.r2, .r3, .r4, .congrats, .li1, .li2, .li3, .li4, .li5, #showEnd {
	display: none;
}
.questions div h1 {
	color: #ffc241;
	font-family: "Trebuchet MS", Tahoma;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 0 0;
}
.questions div h2 {
	color: #ffffff;
	font-family: "Trebuchet MS", Tahoma;
	font-size: 28px;
	font-weight: normal;
	margin: 0 auto 50px;
	width: 50%;
}
#step4,
#showEnd {
	margin: 0 auto;
	padding: 20px 0 0;
	text-align: left;
	width: 580px;
}
#showEnd {
	padding: 20px 0;
	margin: 0 auto 30px;
	text-align: center;
}
.r1,
.r2,
.r3,
.r4,
.i1,
.i2,
.i3,
.i4,
.congrats {
	color: #ffc241;
	font-family: "Trebuchet MS";
	font-size: 22px;
	padding: 0 0 10px;
	margin: 0;
	line-height: 20px;
	text-align: center;
}
.loading {
	padding: 10px 0;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.check-mark {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.check-mark li {
	background: url('../img/marker.png') no-repeat scroll left center transparent;
	color: #ccc;
	font-family: "Trebuchet MS", Tahoma;
	font-size: 15px;
	padding: 6px 5px 6px 25px;
	line-height: 17px;
}
.decimal {
	margin: 0 0 20px;
	padding: 0;
	list-style-type: none;
}
.decimal li {
	background: url('../img/decimal.png') no-repeat scroll 0 0 transparent;
	color: #ccc;
	font-family: "Trebuchet MS", Tahoma;
	font-size: 14px;
	padding: 7px 5px 7px 42px;
	line-height: 17px;
	text-align: left;
}
.decimal .one {
	background-position: 1px 8px;
}
.decimal .two {
	background-position: 1px -115px;
}
.decimal .three {
	background-position: 1px -240px;
}
.disclaimer {
	font-size: 11px;
	color: #ccc;
	text-align: center;
}
#agree {
	margin: 0 auto;
}

.yellow-btn {
	background: #ffdd76;
	background: -moz-linear-gradient(top, #ffdd76 0%, #ffc241 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdd76), color-stop(100%, #ffc241));
	background: -webkit-linear-gradient(top, #ffdd76 0%, #ffc241 100%);
	background: -o-linear-gradient(top, #ffdd76 0%, #ffc241 100%);
	background: -ms-linear-gradient(top, #ffdd76 0%, #ffc241 100%);
	background: linear-gradient(to bottom, #ffdd76 0%, #ffc241 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffdd76', endColorstr='#ffc241', GradientType=0 );
	border: 0 none;
	border-radius: 8px;
	color: #000;
	text-shadow: 0px 1px #fbeec7;
	cursor: pointer;
	display: inline-block;
	font-family: "Trebuchet MS", Tahoma;
	font-size: 36px;
	font-weight: bold;
	height: 70px;
	line-height: 70px;
	outline: 0 none;
	text-align: center;
	text-decoration: none;
	width: 420px;
	margin: 0 22px 0 auto;
}
.yellow-btn:hover {
	color: #000;
	text-decoration: none;
}

@media all and (min-width: 970px) {
	.container {
		width: 980px;
	}
}