html,
body {
	font-family: 'Roboto', sans-serif;
}
.btn {
	padding: 15px 35px;
	font-size: 28px;
	font-weight: 500;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(0,0,0,.1) !important;
}
.btn-primary,
.btn-primary:active {
	background: #6BBF7B;
}
.btn-primary:hover {
	background: #5ca56a;
}
a {
	color: #6BBF7B;
}
a:hover {
	color: #5ca56a;
}
.img-responsive {
	display: inline-block;
}