#header {
	margin-top: 90px;
	padding: 150px 0;
	/*background: #6BBF7B url('../img/header-compressor.jpg') center no-repeat;
	background-size: cover;*/
}
#header h2,
#header h3 {
	margin: 0;
	text-align: center;
	display: block;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
	line-height: normal;
}
#header h2 {
	font-size: 52px;
	font-weight: 700;
}
#header h3 {
	margin: 30px 0 0;
	font-size: 30px;
	font-weight: 300;
	text-decoration: italic;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.parallax-mirror {
	background: #333333;
}
.parallax-mirror .parallax-slider {
	opacity: .75;
}

@media all and (max-width: 991px) {
	#header h2 {
		font-size: 36px;
	}
	#header h3 {
		font-size: 28px;
	}
}