
#media-player {
	float:left;
}

video {
	width:100%;
	height:auto;
}

.pause {
	background:url(../images/player_icon_play.png) no-repeat;
	width:14px;
	padding:0px;
	height:17px;
	text-indent:-9999px;
	cursor:pointer;
}

.pause:hover {
	background:url(../images/player_icon_play.png) no-repeat;
}


.stop { background-position:-38px 0; }
.volume-plus { background-position:-57px 0; }
.volume-minus { background-position:-76px 0; }
.mute { background-position:-95px 0; }
.unmute { background-position:-114px 0; }
.replay { background-position:-133px 0; }

progress {
	color:#fff;
	font-size:12px;
	height:7px;
	border:none;
	margin-right:5px;
	background:#000000;
	border-radius:5px;
}
progress::-moz-progress-bar { background:#1a96d9; }

#media-play-list {
	float:left;
	clear:both;
	color:#aaa;
	width:100%;
	margin-top:10px;
	border-top:1px solid #2e52a4;
}
#media-play-list  h2 { font-size:12px; }
#play-list {
	padding:0;
	font-size:12px;
	list-style-type:none;
}
#play-list li {
	cursor:pointer;
	padding-left:15px;
	background:transparent url('../images/item.png') no-repeat 0 4px;
}




