/* Css document */

body {
	background: #fff;
	font-family: 'montserratlight';
}

.top-bar,
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section ul li {
	background: none;
}

.clearfix {
	clear: both;
}

@font-face {
	font-family: 'montserratlight';
	src: url('../fonts/montserrat-light-webfont.eot');
	src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat-light-webfont.woff') format('woff'), url('../fonts/montserrat-light-webfont.ttf') format('truetype'), url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrathairline';
	src: url('../fonts/montserrat-hairline-webfont.eot');
	src: url('../fonts/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-hairline-webfont.woff2') format('woff2'), url('../fonts/montserrat-hairline-webfont.woff') format('woff'), url('../fonts/montserrat-hairline-webfont.ttf') format('truetype'), url('../fonts/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
	font-weight: normal;
	font-style: normal;
}

.cd-hero-slider li {
	background: url(../images/bg_header.png) 50% 50% no-repeat !important;
	background-size: cover !important;
}

#header {
	width: 100%;
	padding: 30px 0px 0px 0px;
	z-index: 999;
	position: relative;
}

#header ul {
	margin: 0px;
}

.top-bar-section {
	padding-right: 0px;
}

#slider {
	width: 100%;
	position: relative;
	margin-top: -91px;
	display: inline-block;
}

#slider ul {
	margin: 0px;
}

#videoPlayer {
	background: #151617;
	width: 100%;
	position: relative;
	margin-top: -91px;
	display: inline-block;
	padding: 135px 0px 0px 0px;
}

#slider ul {
	margin: 0px;
}

#header ul.right li a {
	color: #ffffff;
	font-size: 11px;
	font-family: 'montserratlight';
	font-weight: 400;
	line-height: 37px;
	padding-top: 0px;
}

#header ul li a.login {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	line-height: 35px;
}

#header ul.right li {
	margin-right: 12px;
}

#header ul li a.signup {
	background: #1a96d9;
	border-radius: 4px;
	line-height: 35px;
}

#header ul.right li:nth-child (5) {
	margin-right: 20px;
}

#header ul.right li:last-child {
	margin-right: 0px;
}

#slider h1.heading {
	color: #ffffff;
	font-size: 42px;
	font-family: 'montserratlight';
	font-weight: 300;
	margin-top: 112px;
}

#slider h1.heading span {
	font-family: 'montserrathairline';
	font-weight: Hairline;
}

#slider h3 {
	color: rgba(255, 255, 255, 0.5);
	font-size: 10px;
	font-family: 'montserratlight';
}

#slider ul li {
	list-style: none;
}

#slider ul li a {
	color: #ffffff;
	font-size: 11px;
	font-family: 'montserratlight';
	font-weight: 100;
	line-height: 37px;
	padding-top: 8px;
}

#slider .none {
	padding-left: 0px;
	padding-right: 0px;
}


/* bxslider css */

.bx-wrapper .bx-viewport {
	background: none;
	padding: 0px;
	border: 0px;
	box-shadow: none;
}

.bx-wrapper .bx-controls-direction a {
	margin-top: -9px;
}

.bx-wrapper .bx-pager {
	display: none;
}

#featuredbox {
	width: 100%;
	background: #fff;
	padding: 60px 0px;
}

#featuredbox h5 {
	color: #9da6ac;
	font-size: 12px;
	font-family: 'montserratlight';
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#featuredbox img {
	margin-bottom: 15px;
}

#featuredbox a img {
	margin-bottom: 0px;
}

#featuredbox h4 {
	color: #30373a;
	font-size: 18px;
	line-height: 25px;
	font-family: 'montserratlight';
	font-weight: 300;
}

#featuredbox .large-video {
	padding-bottom: 51%;
	border-radius: 5px;
}

#featuredbox .small-video {
	padding-bottom: 45%;
	border-radius: 5px;
}

#featuredbox a {
	color: #849097;
	font-size: 12px;
	font-family: 'montserratlight';
	font-weight: 300;
	margin-bottom: 15px;
	display: inline-block;
}

#featuredbox a img {
	margin-right: 10px;
}

#featuredbox h3 {
	color: #30373a;
	font-size: 12px;
	font-family: 'montserratlight';
	font-weight: 300;
	margin-bottom: 0px;
}

#featuredbox a.small {
	color: #849097;
	font-size: 10px;
	font-family: 'montserratlight';
	font-weight: 300;
}

#featuredbox a.small img {
	margin-right: 5px;
}

#featuredbox .none {
	padding-left: 0px;
	padding-right: 0px;
}

#video-feed {
	width: 100%;
	background: #fff;
	border: 1px solid #e6e9ec;
	padding: 28px 20px 10px 20px;
}

#content.videoPage #video-feed {
	margin-bottom: 40px;
}

#content.videoPage #video-feed {
	padding: 15px 10px 15px 20px;
}

#content .loginsignup {
	background: #fff;
	border: 1px solid #e6e9ec;
	padding: 25px 0px;
	font-size: 16px;
	font-family: 'montserratlight';
	font-weight: 400;
}

#content .loginsignup h3 {
	margin-bottom: 0px;
}

#content .loginsignup a {
	font-size: 16px;
	font-family: 'montserratlight';
	font-weight: 400;
	color: #1a96d9;
}

#video-feed h3 {
	color: #9da6ac;
	font-size: 12px;
	font-family: 'montserratlight';
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 10px;
}

#video-feed h3 span {
	color: #1a96d9;
}

#video-feed h4 {
	color: #9da6ac;
	font-size: 10px;
	font-family: 'montserratlight';
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 10px;
}

#video-feed ul {
	width: 100%;
	text-align: left;
	margin: 0px;
}

.videoPage #video-feed ul {
	text-align: right;
}

#video-feed ul li {
	display: inline-block;
	list-style: none;
	margin-right: 15px;
}

#video-feed ul li:first-child {
	margin-right: 46px;
}

#video-feed ul li:nth-child(4) {
	margin-right: 18px;
	border-right: 1px solid #e6e9ec;
	padding-right: 20px;
}

#video-feed ul li:nth-child(5),
#video-feed ul li:nth-child(6) {
	margin-right: 9px;
}

#video-feed ul li:nth-child(6) {
	margin-right: 65px;
	border-right: 1px solid #e6e9ec;
	padding-right: 20px;
}

#video-feed ul li a {
	color: #30373a;
	font-size: 10px;
	font-family: 'montserratlight';
	font-weight: 400;
}

#video-feed ul li a.recent {
	color: #1a96d9;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 8px 10px;
	border: 1px solid rgba(30, 102, 141, 0.3);
	border-radius: 3px;
}

#video-feed ul li:last-child {
	width: 38%;
	border-radius: 5px;
	margin-right: 0px;
}

.videoPage #video-feed ul li {
	width: 24%;
	margin: 0px;
}

.videoPage #video-feed ul li:last-child {
	border-right: 0;
}

#video-feed ul li h6 {
	width: auto;
	display: inline-block;
	color: #ffffff;
	font-size: 11px;
	background: #1a96d9;
	padding: 11px 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

#video-feed ul li select {
	width: 76%;
	display: inline-block;
	margin-left: -5px;
	color: #849097;
	font-size: 11px;
	font-family: 'montserratlight';
	font-weight: 400;
	appeareance: none;
}

.videoPage ul.authorinfo,
.videoPage ul.authorinfo li {
	display: inline-block;
	list-style: none;
	margin-left: 0px;
}

.videoPage ul.authorinfo li {
	margin-right: 20px;
}

.videoPage ul.authorinfo .author {
	color: #849097;
	font-size: 13px;
	font-family: 'montserratlight';
}

.videoPage ul.authorinfo .timeline {
	color: #849097;
	font-size: 11px;
	font-family: 'montserratlight';
}

#content {
	width: 100%;
	background: #f7f8f9;
}

#content .border {
	border-right: 1px solid #e6e9ec;
	display: inline-block;
	padding: 50px 40px 80px 0px;
}

#content .bottom {
	margin-bottom: 40px;
}

#content h3 {
	color: #30373a;
	font-size: 15px;
	font-family: 'montserratlight';
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 15px;
}

#content.videoPage #video-feed h3 {
	margin-bottom: 0px;
}

#content p {
	color: #849097;
	font-size: 10px;
	font-family: 'montserrathairline';
	font-weight: 400;
	margin-bottom: 15px;
}

#content .comments p {
	color: #30373a;
	font-size: 14px;
	font-family: 'montserratlight';
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 15px;
}

#content a {
	color: #849097;
	font-size: 12px;
	font-family: 'montserratlight';
	font-weight: 300;
}

#content.videoPage ul.replylist {
	display: inline-block;
	list-style: none;
	margin-left: 0px;
}

#content.videoPage ul.replylist li {
	display: inline-block;
	margin-left: 20px;
}

#content.videoPage ul.replylist .replyme a {
	color: #1a96d9;
	font-size: 13px;
	font-family: 'montserratlight';
	line-height: 10px;
}

#content.videoPage ul.replylist .likeme a {
	color: #849097;
	font-size: 11px;
	font-family: 'montserratlight';
	line-height: 10px;
}

#content.videoPage ul.replylist .likeme.active a {
	color: #ff5165;
	font-size: 11px;
	font-family: 'montserratlight';
	line-height: 10px;
}

#content a img {
	margin-right: 8px;
}

#content .search {
	width: 100%;
	background: #1a96d9;
	padding: 10px 10px 0px 10px;
	display: inline-block;
	border-radius: 3px;
	margin-top: 50px;
}

#content input[type="text"] {
	color: #ffffff;
	font-size: 12px;
	background: #1a96d9 url(../images/icon_search.png) 97% 50% no-repeat;
	border-radius: 3px;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #1382be;
	font-family: 'montserratlight';
}

::-webkit-input-placeholder {
	color: #fff;
}

#content .news {
	width: 100%;
	padding: 40px 0px;
	border-top: 1px solid #e6e9ec;
	margin: 40px 0px 0px 0px;
}

#content .none {
	padding-left: 0px;
	padding-right: 0px;
}

#content .content {
	width: 100%;
	margin-bottom: 12px;
	display: inline-block;
}

#content h6 {
	color: #9da6ac;
	font-size: 10px;
	font-family: 'montserratlight';
}

#content a.arrow {
	width: 100%;
	display: inline-block;
	background: url(../images/arrow.png) 100% 50% no-repeat;
	margin: 0px;
	padding: 0px;
}

#content a.arrow h5 {
	color: #30373a;
	font-size: 10px;
	font-family: 'montserratlight';
}

#content a.link {
	color: #1a96d9;
	font-size: 9px;
	font-family: 'montserratlight';
}

#footer {
	width: 100%;
	background: #202227;
	padding: 65px 0px 15px 0px;
}

#footer p {
	color: #42444a;
	font-size: 12px;
	font-family: 'montserrathairline';
	margin: 0px;
	line-height: 1;
}

#footer .footerlinks li {
	display: inline-block;
	margin: 0px 25px;
}

#footer .footerlinks li a {
	color: #73767f;
	font-size: 14px;
	font-family: 'montserrathairline';
	font-weight: 400;
}


/* VIDEO PAGE */

#videoContent {
	margin-top: -6px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #e6e9ec;
}

#videoContent .leftcol {
	border-right: 1px solid #e6e9ec;
	padding-right: 50px;
	padding-top: 50px;
}

#videoContent h3 {
	font-size: 26px;
	font-family: 'montserratlight';
	line-height: 34px;
}

#videoContent p {
	font-size: 16px;
	font-family: 'montserrathairline';
	color: #849097;
	line-height: 28px;
}

#videoContent .featureSet {
	margin-left: 0px;
	list-style: none;
}

#videoContent .featureSet li:first-child {
	border-right: 1px solid #849097;
	padding-right: 20px;
}

#videoContent .featureSet li,
#videoContent .featureSet li a {
	display: inline-block;
	font-size: 16px;
	font-family: 'montserratlight';
	color: #849097;
	line-height: 1;
	margin-right: 25px;
}

#videoContent .featureSet li img {
	margin-right: 10px;
	vertical-align: top;
}

#videoContent .featureSet li.watchlist a {
	color: #f04545;
	font-weight: bold;
}

#videoContent .rightcol h3 {
	color: #9da6ac;
	font-size: 12px;
	font-family: 'montserratlight';
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 10px;
}

#videoContent .rightcol {
	border-right: 1px solid #e6e9ec;
	padding: 0px 30px;
	padding-top: 50px;
}

#videoContent .rightcol p {
	color: #30373a;
	font-size: 13px;
	font-family: 'montserratlight';
	font-weight: 300;
}

#similarVideos {
	padding: 35px 0px;
	border-bottom: 1px solid #e6e9ec;
}

#similarVideos h4 {
	color: #30373a;
	font-size: 13px;
	font-family: 'montserratlight';
	font-weight: 300;
}

#similarVideos h3 {
	color: #9da6ac;
	font-size: 12px;
	font-family: 'montserratlight';
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 10px;
}

#similarVideos ul {
	margin-left: 0px;
}

#similarVideos li {
	width: 19%;
	margin-right: 1.25%;
	float: left;
	list-style: none;
}

#similarVideos li:last-child {
	margin-right: 0px;
}

#similarVideos a {
	display: inline-block;
	font-size: 13px;
	font-family: 'montserratlight';
	color: #849097;
	line-height: 1;
	margin-right: 25px;
}

#similarVideos a img {
	margin-right: 10px;
	vertical-align: top;
}

.switch {
	margin-bottom: 0px;
	margin-top: 15px;
	color: #9da6ac;
}

.switch input + label {
	margin-left: -20px;
}

.switch label {
	background: #bfc4c8 url(../images/icon_switchoff.png) 80% 50% no-repeat;
	;
	border-radius: 5px;
	width: 3rem;
	height: 23px;
}

.switch input:checked + label:after {
	left: 1.75rem;
}

.switch input:checked + label {
	background: #7cc734 url(../images/icon_switchon.png) 10px 50% no-repeat;
}

.switch label:after {
	background: url(../images/bg_switch.png) no-repeat;
}


/* PROFILE PAGE */

.profile #header {
	background: #1a96d9;
}

#profileView {
	background: #1a8fcf;
	padding: 60px 0px 45px 0px;
}

#profileView .avatar img {
	border-radius: 100%;
}

#profileView .personalinfo h3 {
	color: #fff;
	font-size: 28px;
	font-family: 'montserratlight';
	margin-bottom: 0px;
	line-height: 1.3;
}

#profileView .personalinfo .username {
	font-size: 15px;
	font-family: 'montserrathairline';
	color: #fff;
	display: inline-block;
}

#profileView .personalinfo .email {
	color: #6fccff;
	font-size: 15px;
	font-family: 'montserrathairline';
	display: inline-block;
	margin-left: 18px;
}

#profileView .profilestats ul {
	list-style: none;
	margin-left: 0px;
}

#profileView .profilestats ul li {
	display: inline-block;
	margin-left: 18px;
	padding: 13px;
	line-height: 1;
}

#profileView .profilestats ul li a {
	color: #eaf7fe;
	font-size: 18px;
	font-family: 'montserratlight';
}

#profileView .profilestats ul li.link {
	border: 1px solid #5ec0f5;
	border-radius: 5px;
}

#profileView .profilestats ul li.link a {
	font-size: 14px;
	line-height: 1;
}

#profileView .profilestats img {
	vertical-align: top;
	margin-right: 7px;
}

.profile #similarVideos {
	border-bottom: none;
}

.profile #similarVideos .title a {
	font-size: 12px;
	color: #1a96d9;
	font-family: 'montserratlight';
	margin-right: 0px;
}


/* SEARCH PAGE */

.search #header {
	background: #1a96d9;
}

.search #profileView input[type="text"] {
	background: none;
	border: none;
	box-shadow: none;
	color: #fff;
	font-size: 30px;
	font-family: 'montserrathairline';
	border-bottom: 1px solid #117ab4;
	padding-bottom: 20px;
}

.search #profileView input[type="submit"] {
	background: url(../images/icon_search_form.png) no-repeat;
	border: none;
	width: 24px;
	box-shadow: none;
	padding-bottom: 20px;
	position: absolute;
	right: 20px;
	margin-top: -50px;
	cursor: pointer;
}

.search #profileView .profilestats ul li.link a {
	font-size: 13px;
}

.search #similarVideos {
	background: #f7f8f9;
}

.search #similarVideos a {
	margin-bottom: 35px;
}

#video-feed .notification p {
	font-size: 15px;
	color: #9da6ac;
	font-family: 'montserratlight';
	margin-top: 10px;
}

#video-feed .notification p b {
	color: #30373a;
}


/* MODAL WINDOWS */

.reveal-modal {
	background-color: #1a96d9;
	border: none;
	box-shadow: none;
	width: 35%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3rem;
}

.reveal-modal .modallogo {
	margin: 17px 0px 50px 0px;
}

.reveal-modal input {
	background: rgba(255, 255, 255, 0.2);
	padding: 12px 15px 12px 15px;
	height: 52px;
	line-height: 52px;
	border: none;
	box-shadow: none;
	color: #fff;
	font-family: 'montserratlight';
	font-size: 16px;
}

.reveal-modal input.username {
	background: rgba(255, 255, 255, 0.2) url(../images/icon_username_field.png) 15px 12px no-repeat;
	padding: 12px 15px 12px 65px;
	height: 52px;
	line-height: 52px;
	border: none;
	box-shadow: none;
	color: #fff;
	font-family: 'montserratlight';
	font-size: 16px;
}

.reveal-modal input.password {
	background: rgba(255, 255, 255, 0.2) url(../images/icon_password_field.png) 15px 12px no-repeat;
	padding: 12px 15px 12px 65px;
	height: 52px;
	line-height: 52px;
	border: none;
	box-shadow: none;
	color: #fff;
	font-family: 'montserratlight';
	font-size: 16px;
}

.reveal-modal input[type="submit"] {
	background: #fff;
	width: 100%;
	text-align: center;
	color: #1374c0;
	font-family: 'montserratlight';
	font-size: 16px;
	height: 52px;
	line-height: 52px;
	font-weight: bold;
	border: none;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 40px;
	padding: 0px;
}

.reveal-modal .links {
	background: #187fb8;
	width: 90%;
	margin-left: 5%;
	border-radius: 46px;
	height: 46px;
	padding: 0px 32px;
}

.reveal-modal label {
	line-height: 1;
	color: #fff;
	font-family: 'montserratlight';
	font-size: 10px;
	margin-bottom: 30px;
}

.reveal-modal .links p {
	line-height: 46px;
	color: #7cd1ff;
	font-family: 'montserratlight';
	font-size: 14px;
}

.reveal-modal .links p a {
	color: #fff;
	margin-left: 25px;
}

.reveal-modal .close-reveal-modal {
	color: #fff;
}

.reveal-modal .file-upload {
	position: relative;
	overflow: hidden;
	margin: 0px;
	border: 0px;
	width: 100%;
	/* New CSS */
	background: none;
	padding: 0px;
}

.reveal-modal .file-upload input.file-input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 55px;
}

.reveal-modal .file-upload input[type="text"] {
	/* New Css */
	width: 50%;
	float: right;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	color: #fff;
	/* line-height: 62px; */
	height: 62px;
}

.reveal-modal .file-upload button[type="file"] {
	float: left;
	width: 50%;
	padding: 20px 0px;
}

.jfilestyle {
	display: none !important;
}


/* NEWS PAGE */

.news #header {
	background: #1a96d9;
}

#news {
	width: 100%;
	background: #fff;
	padding: 60px 0px;
}

#news h5 {
	color: #9da6ac;
	font-size: 12px;
	font-family: 'montserratlight';
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#news .category {
	position: absolute;
	top: 22px;
	margin-left: 22px;
	background: #72c048;
	color: #fff;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 11px;
	font-family: 'montserratlight';
	font-weight: 300;
	text-transform: uppercase;
}

#news .category.red {
	background: #f25241;
}

#news .category.blue {
	background: #299ddc;
}

#news .featurednews img {
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 5px;
	position: relative;
}

#news .news img {
	max-height: 180px;
	height: 180px;
	overflow: hidden;
	width: auto;
	max-width: 100%;
	margin-bottom: 15px;
	border-radius: 5px;
	position: relative;
}

#news .newspost {
	position: absolute;
	bottom: 30px;
	left: 0px;
	margin-left: 30px;
	margin-right: 30px;
}

#news .news .newspost {
	margin-left: 15px;
	margin-right: 15px;
	bottom: 20px;
}

#news .newspost h4 {
	color: #fff;
	font-size: 30px;
	line-height: 1.2;
	font-family: 'montserratlight';
	font-weight: 300;
}

#news .news h4 {
	font-size: 17px;
}

#news .newslink {
	display: table;
	text-align: right;
	vertical-align: bottom;
}

#news .newspost a {
	display: table-cell;
	height: 100%;
	vertical-align: bottom;
	font-size: 12px;
	line-height: 3;
}

#news .news .newslink {
	padding-left: 0px;
}

#content.news h3 {
	font-size: 20px;
	color: #30373a;
	line-height: 1.3;
}

#content.news p {
	font-size: 14px;
	color: #849097;
}

#content.news a {
	font-size: 14px;
	color: #1a96d9;
	font-family: 'montserrathairline';
}

#content.news a.link {
	font-family: 'montserratlight';
	font-weight: 300;
	font-size: 12px;
}

#content.news a.arrow {
	background: none;
}

#content.news .content img {
	width: 90%;
}

#content.news .content a img {
	width: auto;
	vertical-align: middle;
}

#content.news a.arrow h5 {
	font-size: 13px;
	color: #30373a;
}

#content.news h6 {
	text-transform: uppercase;
}

#content.news .content a {
	font-size: 13px;
	color: #849097;
	font-family: 'montserratlight';
	font-weight: 300;
	line-height: 14px;
}

.nopadding {
	padding: 0px;
}


/* ARTICLE PAGE */

.article #banner {
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	margin-top: -91px;
}

.article #banner h1 {
	position: absolute;
	bottom: 50px;
	color: #fff;
	font-size: 48px;
	font-family: 'montserrathairline';
	font-weight: 300;
	line-height: 1.2;
}

#content.article {
	background: #fff;
}

#content.article hr {
	margin-bottom: 50px;
}

#content.article .leftcol {
	padding-top: 40px;
	border-right: 1px solid #e6e9ec;
}

#content.article.videoPage p {
	color: #30373a;
	font-size: 18px;
	font-family: 'montserratlight';
	font-weight: 300;
	line-height: 1.5;
	margin: 20px 0px;
}

#content.article .blue,
#content blockquote p span {
	color: #1a96d9;
}

#content.article.videoPage .comments p {
	font-size: 14px;
	margin: 0px;
	margin-bottom: 15px;
}

#content.article .border {
	border-right: none;
}

#content blockquote {
	border: none;
}

#content blockquote p {
	font-size: 14px;
}

#content blockquote p i {
	font-size: 16px;
	font-family: 'montserrathairline';
	font-weight: 500;
}

#content.article .news {
	padding: 0px;
}

#content .noborder {
	border: none;
}

.game-feed #header {
    background: #1a96d9;
}

@media only screen and (max-width: 40em) {
	#header ul.right li {
		margin-right: 0px;
	}
	#header {
		background: #1b2733;
		padding: 15px 0px;
	}
	.top-bar-section {
		width: 100%;
	}
	#header ul li a.login,
	#header ul li a.signup {
		padding-bottom: 0px;
	}
	.top-bar {
		height: 3rem;
		background: #1b2733;
	}
	.cd-slider-nav li {
		width: 25%;
	}
	.cd-slider-nav .cd-marker {
		width: 25%;
	}
	.top-bar .name h1 {
		line-height: 48px;
		;
	}
	.cd-hero-slider {
		height: 435px;
	}
	#slider h1.heading {
		font-size: 32px;
		margin: 150px 0px 0px 0px;
	}
	#header ul.right li:last-child {
		margin-top: 15px;
	}
	#featuredbox .large-video {
		padding-bottom: 45%;
	}
	#featuredbox .small-video {
		padding-bottom: 35%;
	}
	#featuredbox h4 {
		font-size: 14px;
		line-height: 22px;
	}
	#featuredbox a {
		margin-bottom: 20px;
		display: inline-block;
	}
	.top-bar.expanded .title-area {
		background: none;
	}
	#video-feed ul li:first-child {
		margin-right: 20px;
	}
	#video-feed ul li {
		margin-right: 16px;
	}
	#video-feed ul li:last-child {
		width: 100%;
		margin-top: 15px;
	}
	#video-feed ul li select {
		width: 74%;
	}
	#similarVideos li {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 15px;
		float: left;
		list-style: none;
	}
	.profile .top-bar,
	.search .top-bar,
	.news .top-bar {
		background: none;
	}
	#profileView .profilestats ul li {
		margin-left: 5px;
	}
	#footer .footerlinks li {
		width: 100%;
		text-align: center;
		margin: 10px 0px;
	}
	#footer .columns {
		margin: 10px 0px;
	}
	.reveal-modal {
		width: 100%;
	}
	#news .newspost h4 {
		font-size: 17px;
	}
	#news .featurednews img {
		min-height: 200px;
	}
	#content.article .leftcol {
		border-right: none;
	}
	#content .border {
		padding-right: 0px;
		border-right: none;
	}
	#content.article .gallery .columns {
		margin-bottom: 15px;
	}
	#content.article .gallery img {
		width: 100%;
	}
}

@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
	.cd-slider-nav li {
		width: 103px;
	}
	.cd-slider-nav .cd-marker {
		width: 103px;
	}
	.top-bar .title-area {
		max-width: 33%;
		margin: 0px;
	}
	.top-bar .name h1 {
		line-height: 40px;
		;
	}
	#header ul.right li {
		margin-right: 5px;
	}
	#header ul.right li a {
		padding: 0px 10px;
	}
	#slider,
	.article #banner {
		margin-top: -121px;
	}
	.cd-hero-slider {
		height: 500px;
	}
	.top-bar ul {
		width: auto;
	}
	#slider h1.heading {
		margin-top: 9.6875rem;
	}
	#featuredbox .large-video {
		padding-bottom: 42%;
	}
	#featuredbox .small-video {
		padding-bottom: 32%;
	}
	#featuredbox a {
		margin-bottom: 20px;
		display: inline-block;
	}
	#featuredbox h4 {
		font-size: 14px;
		line-height: 21px;
	}
	#similarVideos li {
		width: 45%;
		margin-left: 0%;
		margin-right: 5%;
		margin-bottom: 15px;
		float: left;
		list-style: none;
	}
	#header {
		padding-bottom: 30px;
	}
	.reveal-modal {
		width: 100%;
	}
}

@media only screen and (min-width: 48em) and (max-width: 64em) {
	#slider h1.heading {
		margin-top: 50px;
	}
	.reveal-modal {
		width: 80%;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 48.25em) {
	#video-feed ul li:last-child {
		width: 46%;
		margin-top: 15px;
	}
	.reveal-modal {
		width: 80%;
	}
}