div#signup_step2_tab,div#signup_step3_tab  {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: rgb(79,137,209);
}

div#signup_step1_tab,div#signup_step2_tab,div#signup_step3_tab {
	background-color:rgb(91, 157, 233);
}

div#signup_step4_tab {
	border-left-width: 0px;
	border-left-style: none;
	border-left-color: transparent;
}

.input_style {
	width:100px;
	height: 38px;
	display:inline-block;
}

input[type=text] {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

ul {
	list-style-type: none;
	padding-left:0px;
	width: 100%;
}

li {
	background-color: rgb(249,249,249);
	margin-top:10px;
	border-radius: 4px;
	padding: 15px;
	font-size: 14px;
}

.sub_head_text {
	font-size: 12px;
	color: rgb(194,194,194);
	margin-left: 24px;
}

.span_text {
	color: rgb(194,194,194);
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
}

.feature {
	width:100%;
	display:table;
	vertical-align:middle;
}

.feature_content {
	display: table-row;
}

.about_feature_wrap {
	width:22px;
	display:table-cell;
}

.about_feature {
	width:100%;
	height:22px;
	line-height:22px;
	color: rgb(187,187,187);
	background-color:rgb(255, 255, 255);
	border-radius:3px;
	text-align:center;
	font-weight: bold;
	cursor: help;
}

.feature label {
	font-size: 12px;
	font-family: gotham_mediumregular;
	padding-left: 20px;
	display:table-cell;
}

#config_options {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: rgb(249,249,249);
	border-width: 1px;
	border-color: rgb(240,240,240);
	border-style: solid;
}

#options_head {
	display: table;
}

.options_tab {
	color: rgb(194,194,194);
	margin-bottom: -1px;
	padding: 15px 30px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgb(237,237,237);
	font-size: 12px;
	cursor: pointer;
	display: table-cell;
}

.options_tab_active {
	color: rgb(61,61,61);
	padding-bottom: 6px;
	background-color: rgb(255,255,255);
	border-color: rgb(240,240,240);
}

.options_tab span{
	font-size: 12px;
	font-family: gotham_mediumregular;
}

#options_body {
	padding: 20px;
	background-color: rgb(255,255,255);
}

#premium_body,#theme_body,#domains_body {
	display: none;
}

.content_right {
	width: 200px;
	display:table-cell;
}

#color_picker span {
	color: rgb(196,196,196);
	font-size: 12px;
}

#colourWheel {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url(/static/images/config_colorwheel.png);
}

.checkbox_wrap {
	width: 12px;
	position: relative;
	top: -2px;
	padding-left: 50px;
	padding-right: 10px;
	display:table-cell;
}

.checkbox_text {
	font-size: 14px;
	font-family: gotham_mediumregular;
	display:table-cell;
	width: 70px;
	padding-left: 10px;
	vertical-align: middle;
}

#logo_upload input {
	display: none;
}

.logo_img_container {
	width: 134px;
	height: 75px;
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(237,237,237);
	border-radius: 5px;
	margin-left: 40px;
	display: inline-block;
	vertical-align: middle;
}

.logo_img_background {
	width: 124px;
	height: 65px;
	position: relative;
	top: 5px;
	left: 5px;
	background-color: rgb(243,243,243);
}

#logo_img {
	width: 32px;
	height: 32px;
	position: relative;
	top: 16px;
	margin: auto;
	background-image: url(/static/images/config_logo_img.png);
}

#browse_button {
	margin-left: 45px;
}

.upload_buttons {
	font-family: gotham_mediumregular;
	padding: 8px 20px;
	color: rgb(137,137,137);
	font-size: 14px;
	text-align: center;
	border-radius: 4px;
	border-color: rgb(237,237,237);
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
}

.upload_buttons:hover {
	color: #FFFFFF;
	background-color: rgb(248,190,39);
	border-color: rgb(248,190,39);

}

#logo_upload .content_right {
	width: 172;
}

.info_box{
	position: absolute;
	width: 300px;
	display: none;
}

.info_box_point{
	position: absolute;
	left: 16px;
	top: -7px;
	width: 0px;
	height: 0px;
	background-color: transparent;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #FFFFFF ;
}

.info_box_point_outer{
	position: absolute;
	left: 15px;
	top: -9px;
	width: 0px;
	height: 0px;
	background-color: transparent;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 10px solid rgb(239,239,239);
}

.info_box_wrap {
	padding: 25px 15px 20px;
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(239,239,239);
	border-radius: 5px;
}

.info_box_title {
	font-size: 14px;
	text-align: center;
	margin-bottom: 20px;
}

.info_box_body {
	font-size: 12px;
	text-align: left;
	color: rgb(167,167,167);
}

.custom_checkbox {
	width: 22px;
	height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(216,216,216);
	border-radius: 4px;
	cursor: pointer;
	display: table-cell;
}

.custom_checkbox_tick {
	width: 100%;
	height: 100%;
 	background-image: url(/static/images/custom_checkbox_tick.png);
 	display: none;
}

input[type="checkbox"]{
	display: none;
}

.color_select {
	width: 73px;
	height: 73px;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
	margin-right: 14px;
	cursor: pointer;
	display: inline-block;
}

.color_select_or {
	width: 55px;
	height: 78px;
	font-size: 12px;
	line-height: 78px;
	text-align: center;
	margin-right: 15px;
	vertical-align: top;
	display: inline-block;
}

#color_blue {
	background-color: rgb(97,157,231);
	border-color: rgb(97,157,231);
	margin-left: 25px;
}

#color_red {
	background-color: rgb(232,87,91);
	border-color: rgb(232,87,91);
}

#color_yellow {
	background-color: rgb(248,190,39);
	border-color: rgb(248,190,39);
}

#color_green {
	background-color: rgb(142,204,100);
	border-color: rgb(142,204,100);
}

#color_purple {
	background-color: rgb(166,87,181);
	border-color: rgb(166,87,181);
}

#color_custom {
	width: 77px;
	height: 77px;
	border-radius: 4px;
	margin-right: 14px;
	display: inline-block;
	background-color: rgb(235,235,235);
	background: -moz-linear-gradient(top,  rgb(235,235,235) 0%, rgb(184,184,184) 100%);
	background: -webkit-linear-gradient(top,  rgb(235,235,235) 0%, rgb(184,184,184) 100%);
	background: -ms-linear-gradient(top,  rgb(235,235,235) 0%, rgb(184,184,184) 100%);
	background: linear-gradient(to bottom,  rgb(235,235,235) 0%, rgb(184,184,184) 100%);
}

#color_custom_foreground {
	width: 74px;
	height: 74px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	border-radius: 4px;
}

#color_blue.color_selected, #color_red.color_selected, #color_yellow.color_selected,
#color_green.color_selected, #color_purple.color_selected, #color_custom_foreground.color_selected {
	border-color: rgb(0,0,0);
}

.custom_color_wrap {
	vertical-align: top;
	display: inline-block;
}

#custom {
	vertical-align: middle;
}

.custom_color_submit {
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	width: 80px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: rgb(235,235,235);
	margin-top: 15px;
	margin-bottom: 30px;

}

.sub_header{
	position: absolute;
	top: 137px;
}

.example_button_wrap {
	width: 796px;
	margin: auto;
}

.example_button {
	width: 176px;
	height: 41px;
	font-size: 16px;
	font-family: gotham_bookregular;
	color: #FFFFFF;
	line-height: 41px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 5px;
	margin-left: 9px;
	margin-right: 9px;
	display: inline-block;
}

#example_blue {
	border-color: rgb(70,118,184);
	background: -moz-linear-gradient(top,  rgb(121,171,226) 0%, rgb(95,153,221) 3%, rgb(80,131,213) 100%);
	background: -webkit-linear-gradient(top,  rgb(121,171,226) 0%,rgb(95,153,221) 3%,rgb(80,131,213) 100%);
	background: -ms-linear-gradient(top,  rgb(121,171,226) 0%,rgb(95,153,221) 3%,rgb(80,131,213) 100%);
	background: linear-gradient(to bottom,  rgb(121,171,226) 0%,rgb(95,153,221) 3%,rgb(80,131,213) 100%);
}

#example_red {
	border-color: rgb(186,66,69);
	background: -moz-linear-gradient(top,  rgb(237,124,126) 0%, rgb(234,97,126) 3%, rgb(230,78,82) 100%);
	background: -webkit-linear-gradient(top,  rgb(237,124,126) 0%,rgb(234,97,126) 3%,rgb(230,78,82) 100%);
	background: -ms-linear-gradient(top,  rgb(237,124,126) 0%,rgb(234,97,126) 3%,rgb(230,78,82) 100%);
	background: linear-gradient(to bottom,  rgb(237,124,126) 0%,rgb(234,97,126) 3%,rgb(230,78,82) 100%);
}

#example_yellow {
	border-color: rgb(221,171,36);
	background: -moz-linear-gradient(top,  rgb(250,207,65) 0%, rgb(249,196,41) 3%, rgb(247,187,37) 100%);
	background: -webkit-linear-gradient(top,  rgb(250,207,65) 0%,rgb(249,196,41) 3%,rgb(247,187,37) 100%);
	background: -ms-linear-gradient(top,  rgb(250,207,65) 0%,rgb(249,196,41) 3%,rgb(247,187,37) 100%);
	background: linear-gradient(to bottom,  rgb(250,207,65) 0%,rgb(249,196,41) 3%,rgb(247,187,37) 100%);
}

#example_green {
	border-color: rgb(81,179,79);
	background: -moz-linear-gradient(top,  rgb(171,217,133) 0%, rgb(153,209,108) 3%, rgb(131,199,92) 100%);
	background: -webkit-linear-gradient(top,  rgb(171,217,133) 0%,rgb(153,209,108) 3%,rgb(131,199,92) 100%);
	background: -ms-linear-gradient(top,  rgb(171,217,133) 0%,rgb(153,209,108) 3%,rgb(131,199,92) 100%);
	background: linear-gradient(to bottom,  rgb(171,217,133) 0%,rgb(153,209,108) 3%,rgb(131,199,92) 100%);
}

.auth_domain_img {
	position: absolute;
	left: -18px;
	top: 19px;
	width: 8px;
	height: 8px;
	background-image: url(/static/images/authed_domain_add.png);
}

.auth_domain_li {
	margin-left: 20px;
}

#add_domains {
	width: 450px;
	display: inline-block;
}

.existing_domain_li {
	position: relative;
}


#add_domains_input {
	width: 380px;
	height: 42px;
}

.submit {
	display: inline-block;
	width: 58px;
	height: 44px;
	line-height: 48px;
	font-size: 12px;
	border-radius: 4px;
	margin-left: 5px;
	color: white;
	text-align: center;
}

label span {
	color: rgb(194,194,194);
	font-size: 12px;
	margin-right: 88px;
}

input.forward {
	font-size: 16px;
	width: 240px;
	padding: 0;
}

#custom_button_link {
	position: relative;
	top: -5px;
	left: 658px;
	color: rgb(73,128,195);
}

#auth_domain_form {
	display: inline-block;
}

#navbuttons a div, #navbuttons input {
	font-size: 15px;
	font-family: gotham_mediumregular;
}