.input_style {
	position:relative;
}

.input_validate_icon {
	width:24px;
	height:24px;
	position:absolute;
	right:20px;
	top:10px;	
}

.input_tick {
	background-image:url(/static/images/form_tick.png);
	width:24px;
	height:24px;
	position:absolute;
	top:0px;
	left:0px;	
	display:none;
}

.input_cross {
	background-image:url(/static/images/form_cross.png);
	width:24px;
	height:24px;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}

.input_style {
	width:100%;
	height:44px;
	background-color:white;
	border-radius:4px;
	border-width:1px;
	border-style:solid;
	margin-top:7px;
	border-color:rgb(216, 216, 216);
}

.input_style_borderless {
	position: relative;
	width:100%;
	height:44px;
	border-radius:4px;
	margin-top:7px;
}
	
.input_style_error {
	border-color:rgb(230, 92, 94); 
	border-width:2px;
}
.input_style_success {
	border-color:rgb(127, 203, 117); 
	border-width:2px;
}
.input_style_success input[type=text], .input_style_success input[type=password] {
	color:rgb(57,63,67);
}

.input_style_error input[type=text], .input_style_error input[type=password] {
	color:rgb(230, 92, 94);
}

input[type=text], input[type=password] {
	width:100%;
	height:100%;
	font-size: 115%;
	background-color:transparent;
	padding-left: 20px;
	padding-right: 60px;
/* 	color:rgb(150,150,150); */
}

#continue {
	display:table;
	background-color:rgb(231, 111, 79);
	height:60px;
	width:188px;	
	border-radius:4px;
	border-color:rgb(188, 89, 63);
	border-style:solid;
	border-width:1px;
}

#continue div {
	color:white;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.errors {
	background-color:rgb(247, 213, 213);
    border-color:rgb(237, 169, 170);	
	border-style:solid;
	border-radius:10px;
	width:100%;
	display:table;
}

.error {
	height:42px;
	display:none;
}

.vis_error {
	display:table-row;
}

.error div {
	display:table-cell;
	vertical-align:middle;
	padding-left:20px;
	font-size:80%;
	color:rgb(178, 137, 137);
}	


.forward {
	display:inline-block;
	width:340px;
	height:54px;
	color:white;
	text-align:center;
	line-height:54px;
}
.back {
	display:inline-block;
	width:143px;
	height:54px;
	color:white;
	text-align:center;
	line-height:54px;
}

#navbuttons {
	position: relative;
	height: 56px;
	margin-top: 20px;
	margin-bottom: 90px;
}
#navbuttons:after {
	clear:both;
}

.navbuttons_align {
	float: right;
}

.existing_domain_remove_icon {
	width: 30px;
	height: 30px;
	background-image: url(/static/images/domain_remove.png);
}

.existing_domain_remove_icon_hover {
	background-image: url(/static/images/domain_remove_hover.png);
}


.existing_domain_remove {
	position: absolute;
	top: 7px;
	right: 10px;
	border-radius:4px;
	width:30px;
	height:30px;
	cursor:pointer;
	display: inline-block;
}
