.banner {
	background-color:rgb(251, 251, 251);
	height:121px;
	border-bottom:1px;
	border-style:solid;
	border-color:rgb(222, 222, 222);
}

.banner_main {
	font-size:180%;
	width:916px;
	margin:0 auto;
	display:table;
	height:100%;
}

.banner_title {
	display:table-cell;
	vertical-align:middle;
	color:rgb(61, 61, 61);
 	text-shadow: 1px 1px 1px rgb(255, 255, 255); 
}

#signup_step_tabs {
	text-shadow: none;
}

.centre_content {
	width:916px;
	margin:0 auto;
	color: rgb(61,61,61);
	position:relative;
}

.button_red {
	border-radius: 4px;
	background-color: rgb(232,87,91);
	cursor: pointer;
}
.button_red:hover {
	background-color: rgb(235,102,105);
	background: -moz-linear-gradient(top, rgb(235,102,105) 0%, rgb(229,73,78) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(235,102,105)), color-stop(100%,rgb(229,73,78)));
	background: -webkit-linear-gradient(top, rgb(235,102,105) 0%, rgb(229,73,78) 100%);
	background: -ms-linear-gradient(top, rgb(235,102,105) 0%, rgb(229,73,78) 100%);
	background: linear-gradient(to bottom, rgb(235,102,105) 0%, rgb(229,73,78) 100%);
}
.button_red:active {
	background-color: rgb(229,73,78);
	background: -moz-linear-gradient(top, rgb(229,73,78) 0%, rgb(235,102,105) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(229,73,78)), color-stop(100%,rgb(235,102,105)));
	background: -webkit-linear-gradient(top, rgb(229,73,78) 0%, rgb(235,102,105)) 100%);
	background: -ms-linear-gradient(top, rgb(229,73,78) 0%, rgb(235,102,105) 100%);
	background: linear-gradient(to bottom, rgb(229,73,78) 0%, rgb(235,102,105) 100%);
}

.button_blue {
	color: #FFFFFF;
	border-radius: 4px;
	background-color: rgb(97,157,231);
	cursor: pointer;
}
.button_blue:hover {
	background-color: rgb(110,172,234);
	background: -moz-linear-gradient(top, rgb(110,172,234) 0%, rgb(85,143,228) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(110,172,234)), color-stop(100%,rgb(85,143,228)));
	background: -webkit-linear-gradient(top, rgb(110,172,234) 0%, rgb(85,143,228) 100%);
	background: -ms-linear-gradient(top, rgb(110,172,234) 0%, rgb(85,143,228) 100%);
	background: linear-gradient(to bottom, rgb(110,172,234) 0%, rgb(85,143,228) 100%);
}
.button_blue:active {
	background-color: rgb(85,143,228);
	background: -moz-linear-gradient(top, rgb(85,143,228) 0%, rgb(110,172,234) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(85,143,228)), color-stop(100%,rgb(110,172,234)));
	background: -webkit-linear-gradient(top, rgb(85,143,228) 0%, rgb(110,172,234)) 100%);
	background: -ms-linear-gradient(top, rgb(85,143,228) 0%, rgb(110,172,234) 100%);
	background: linear-gradient(to bottom, rgb(85,143,228) 0%, rgb(110,172,234) 100%);
}

.button_black {
	color: #FFFFFF;
	border-radius: 4px;
	background-color: rgb(41,46,50);
	cursor: pointer;
}
.button_black:hover {
	background-color: rgb(47,53,57);
	background: -moz-linear-gradient(top, rgb(47,53,57) 0%, rgb(35,39,43) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(47,53,57)), color-stop(100%,rgb(35,39,43)));
	background: -webkit-linear-gradient(top, rgb(47,53,57) 0%, rgb(35,39,43) 100%);
	background: -ms-linear-gradient(top, rgb(47,53,57) 0%, rgb(35,39,43) 100%);
	background: linear-gradient(to bottom, rgb(47,53,57) 0%, rgb(35,39,43) 100%);
}
.button_black:active {
	background-color: rgb(35,39,43);
	background: -moz-linear-gradient(top, rgb(35,39,43) 0%, rgb(47,53,57) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(35,39,43)), color-stop(100%,rgb(47,53,57)));
	background: -webkit-linear-gradient(top, rgb(35,39,43) 0%, rgb(47,53,57)) 100%);
	background: -ms-linear-gradient(top, rgb(35,39,43) 0%, rgb(47,53,57) 100%);
	background: linear-gradient(to bottom, rgb(35,39,43) 0%, rgb(47,53,57) 100%);
}

.button_grey {
	border-radius: 4px;
	background-color: rgb(232,232,232);
	cursor: pointer;
}

.button_yelloW {
	color: #FFFFFF;
	border-radius: 4px;
	background-color: rgb(248,190,39);
	cursor: pointer;
}
