@font-face {
  font-family: 'www-samesurf';
  src: url('http://font2.samesurf.com/new/proximanova-black-webfont.eot');
  src: url('http://font2.samesurf.com/new/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://font2.samesurf.com/new/proximanova-black-webfont.woff') format('woff'),
       url('http://font2.samesurf.com/new/proximanova-black-webfont.ttf') format('truetype'),
       url('http://font2.samesurf.com/new/proximanova-black-webfont.svg#proxima_nova_blregular') format('svg');
  font-weight: 900;
  font-style: normal;

}

@font-face {
  font-family: 'www-samesurf';
  src: url('http://font2.samesurf.com/new/proximanova-extrabold-webfont.eot');
  src: url('http://font2.samesurf.com/new/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://font2.samesurf.com/new/proximanova-extrabold-webfont.woff') format('woff'),
       url('http://font2.samesurf.com/new/proximanova-extrabold-webfont.ttf') format('truetype'),
       url('http://font2.samesurf.com/new/proximanova-extrabold-webfont.svg#proxima_nova_thbold') format('svg');
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: 'www-samesurf';
  src: url('http://font2.samesurf.com/new/proximanova-bold-webfont.eot');
  src: url('http://font2.samesurf.com/new/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://font2.samesurf.com/new/proximanova-bold-webfont.woff') format('woff'),
       url('http://font2.samesurf.com/new/proximanova-bold-webfont.ttf') format('truetype'),
       url('http://font2.samesurf.com/new/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: 700;
  font-style: normal;

}


@font-face {
  font-family: 'www-samesurf';
  src: url('http://font2.samesurf.com/new/proximanova-semibold-webfont.eot');
  src: url('http://font2.samesurf.com/new/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://font2.samesurf.com/new/proximanova-semibold-webfont.woff') format('woff'),
       url('http://font2.samesurf.com/new/proximanova-semibold-webfont.ttf') format('truetype'),
       url('http://font2.samesurf.com/new/proximanova-semibold-webfont.svg#proxima_nova_ltbold') format('svg');
  font-weight: 600;
  font-style: normal;

}


@font-face {
  font-family: 'www-samesurf';
  src: url('http://font2.samesurf.com/new/proximanova-regular-webfont.eot');
  src: url('http://font2.samesurf.com/new/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://font2.samesurf.com/new/proximanova-regular-webfont.woff') format('woff'),
       url('http://font2.samesurf.com/new/proximanova-regular-webfont.ttf') format('truetype'),
       url('http://font2.samesurf.com/new/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: 500;
  font-style: normal;

}


@font-face {
  font-family: 'www-samesurf';
  src: url('http://font2.samesurf.com/new/proximanova-light-webfont.eot');
  src: url('http://font2.samesurf.com/new/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://font2.samesurf.com/new/proximanova-light-webfont.woff') format('woff'),
       url('http://font2.samesurf.com/new/proximanova-light-webfont.ttf') format('truetype'),
       url('http://font2.samesurf.com/new/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
  font-weight: 400;
  font-style: normal;

}

* {
	padding:0px;
	margin:0px;
	font-family: www-samesurf, Helvetica;
}

html, body {
	width:100%;
}

.Box {
    background: rgb(245,245,245);
    border: 1px solid rgb(213,213,213);
    border-radius: 5px 5px 5px 5px;
    width: 915px;
    margin-top: 10px;
}

.Box h1 {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	font-weight: normal;
}	

.Box p {
	font-size: 13px;
	font-weight: normal;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}	

.Box span {
	font-size: 13px;
	font-weight: normal;
	padding-left: 10px;
	vertical-align: middle;
}

.centrepage	{
	width: 915px;
	margin: 0 auto;
}

.number1, .number2, .number3, .number4, .number5, .number6 {
	width:24px;
	height:24px;
	margin-left: 20px;	
	display: inline-block;
	 
}

.number1 {
	background: url(/static/images/one.png);
}	

.number2 {
	background: url(/static/images/two.png);
}

.number3 {
	background: url(/static/images/three.png);
}

.number4 {
	background: url(/static/images/four.png);
}

.number5 {
	background: url(/static/images/five.png);
}

.number6 {
	background: url(/static/images/six.png);
}

.table	{
	display:table;
	margin-bottom: 8px;
}

.introinfo	{
	height:	30px;	
    display:table-row;
}

.introinfo > * {
    display:table-cell;
    vertical-align:middle;
}

.reginfo	{
	height:	40px;	
    display:table-row;
}

.reginfo > * {
    display:table-cell;
    vertical-align:middle;
}	

input {
	background-color: transparent;
	border: 0px;
	margin-left: 10px;
}	

input:focus {
	outline: none;
}

.tick	{
	background: url(/static/images/tick.png);
	width: 10px;
	height: 8px;
	display: none;
}	

#firstname	{
	width: 270px;
}	

#firstname_background	{
	border: 1px;
	border-color: rgb(213,213,213);
	background-color: rgb(255,255,255);
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	border-style: solid;
	height: 35px;
	width: 150px;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 8px;
}	

#firstname_background input	{
	line-height: 35px;
	width: 140px;
}

#lastname_background	{
	border: 1px;
	border-color: rgb(213,213,213);
	background-color: rgb(255,255,255);
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	border-style: solid;
	height: 35px;
	width: 150px;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 8px;
}	

#lastname_background input	{
	line-height: 35px;
	width: 140px;
}

#domain_background	{
	border: 1px;
	border-color: rgb(213,213,213);
	background-color: rgb(255,255,255);
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	border-style: solid;
	height: 35px;
	width: 300px;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 8px;
}	

#domain_background input	{
	line-height: 35px;
	width: 280px;
}

#email_background	{
	border: 1px;
	border-color: rgb(213,213,213);
	background-color: rgb(255,255,255);
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	border-style: solid;
	height: 35px;
	width: 300px;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 8px;
}	

#email_background input	{
	line-height: 35px;
	width: 280px;
}

.checkbox	{
	border: 1px;	
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	border-style: solid;
	height: 22px;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 8px;
	padding: 0px;
	border-color: rgb(213,213,213);
	background :rgb(92,158,234);
	background :-webkit-linear-gradient(top,rgb(237,237,237) 0%,rgb(244,244,244) 2%, rgb(224,224,224) 100%);
	background :-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(237,237,237)), color-stop(2%,rgb(244,224,244)), color-stop(100%,rgb(224,224,224)));
	background :-moz-linear-gradient(top,rgb(237,237,237) 0%, rgb(244,244,244) 2%, rgb(224,224,224) 100%);
	background :-o-linear-gradient(top,rgb(237,237,237) 0%, rgb(244,244,244) 2%, rgb(224,224,224) 100%);
	background :-ms-linear-gradient(top,rgb(237,237,237) 0%, rgb(244,244,244) 2%, rgb(224,224,224) 100%);
	background :linear-gradient(to bottom,rgb(237,237,237)0%, rgb(244,244,244)2%, rgb(224,224,224) 100%);
}

.checkbox input	{
	margin-left: 5px;
	margin-top: 0px;
	height: 14px;
	width: 14px;
	
}	
	
.checkbox span	{
	margin-right: 10px;
	font-size: 11px;
	color: rgb(98,98,98);
	font-weight: 600;
	text-shadow: 1px 0 0 rgb(255,255,255);
	line-height: 24px;
}

.error span	{
	color: rgb(255,0,0);
	font-size: 11px;
	margin-left: 10px;
	display: none;
}	

.nextstep	{
	width: 266px;
	height: 60px;
	position: relative;
	top: 10px;
	left: 635px;
	border: 1px;	
	border-radius: 10px 10px 10px 10px;
	display: inline-block;
	border-style: solid;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 8px;
	padding: 0px;
	border-color :rgb(22,88,164);
	background :rgb(92,158,234);
	background :-webkit-linear-gradient(top,rgb(255,255,255) 0%, rgb(109,176,238) 2%,rgb(75,140,230) 100%);
	background :-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(2%,rgb(109,176,238)), color-stop(100%,rgb(75,140,230)));
	background :-moz-linear-gradient(top,rgb(255,255,255) 0%, rgb(109,176,238) 2%,rgb(75,140,230) 100%);
	background :-o-linear-gradient(top,rgb(255,255,255) 0%, rgb(109,176,238) 2%,rgb(75,140,230) 100%);
	background :-ms-linear-gradient(top,rgb(255,255,255) 0%, rgb(109,176,238) 2%,rgb(75,140,230) 100%);
	background :linear-gradient(to bottom,rgb(255,255,255)0%,rgb(109,176,238)2%,rgb(75,140,230) 100%);
}

.nextstep:hover{
	background :rgb(112,178,254);
	background :-webkit-linear-gradient(top,rgb(255,255,255) 0%, rgb(129,196,255) 2%,rgb(95,160,250) 100%);
	background :-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(2%,rgb(129,196,255)), color-stop(100%,rgb(95,160,250)));
	background :-moz-linear-gradient(top,rgb(255,255,255) 0%, rgb(129,196,255) 2%,rgb(95,160,250) 100%);
	background :-o-linear-gradient(top,rgb(255,255,255) 0%, rgb(129,196,255) 2%,rgb(95,160,250) 100%);
	background :-ms-linear-gradient(top,rgb(255,255,255) 0%, rgb(129,196,255) 2%,rgb(95,160,250) 100%);
	background :linear-gradient(to bottom,rgb(255,255,255)0%,rgb(129,196,255)2%,rgb(95,160,250) 100%);
}
.nextstep:active{
	background :rgb(72,138,214);
	background :-webkit-linear-gradient(top,rgb(255,255,255) 0%, rgb(89,155,218) 2%,rgb(55,120,210) 100%);
	background :-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(2%,rgb(89,155,218)), color-stop(100%,rgb(55,120,210)));
	background :-moz-linear-gradient(top,rgb(255,255,255) 0%, rgb(89,155,218) 2%,rgb(55,120,210) 100%);
	background :-o-linear-gradient(top,rgb(255,255,255) 0%, rgb(89,155,218) 2%,rgb(55,120,210) 100%);
	background :-ms-linear-gradient(top,rgb(255,255,255) 0%, rgb(89,155,218) 2%,rgb(55,120,210) 100%);
	background :linear-gradient(to bottom,rgb(255,255,255)0%,rgb(89,155,218)2%,rgb(55,120,210) 100%);
}

#nextsteptext	{
	color: white;
	font-size: 18px;
	font-weight: 600;
	margin-left: 32px;
	padding-top: 20px;
	display: inline-block;
	margin-right: 15px;
	text-shadow: 1px 1px 0 rgb(63,112,215);
}

#validatetext	{
	color: white;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	margin-right: 40px;
	text-shadow: 1px 1px 0 rgb(63,112,215);
}

strong{
	font-weight: 600;
}
