/* html body */
html, body {
	margin: 0 auto;
    padding: 0;
    min-height: 100%;
    height: 100%;
    border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
    color: #ffffff;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

    body {
        background: #54565b;
    }

    body.pages {
        background: #fbfbfb;
        color: #666666;
    }
    
    body.lightbox {
        overflow: hidden;
    }

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea, select, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    outline: 0;
	font: inherit;
	font-size: 100%;
    text-decoration: none;
	vertical-align: baseline;
}

    strong {
        font-weight: 600;
    }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1.7em;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::selection {
    background: #444444;
    color: #dddddd;
}

::-moz-selection {
    background: #444444;
    color: #dddddd;
}

/* anchor */
a {
    color: #ffffff;
}

    a:hover {
        color: #ffffff;
    }
    
    a span, form input[type='submit'], form button {
        cursor: pointer;
    }
    
    body.pages a {
        color: #fe8974;
    }
    
        body.pages a:hover {
            color: #fd907e;
        }
    
/* form */
form label, form input[type='text'], form input[type='password'], form select, form textarea {
    padding: 0.625em 1.000em;
    width: 338px;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.313em;
    color: #a3a6af;
    font-weight: 300;
    line-height: 1.313em;
}

    form label {
        padding: 0;
        border: 0;
    }
    
    form textarea {
        float: left;
        height: 8em;
        max-height: 8em;
    }
    
    form input[type='text']:focus, form input[type='password']:focus, form select:focus, form textarea:focus {
        border-color: #a6a9b2;
        color: #8c8c8c;
    }
    
    form input[type='text'].error, form input[type='password'].error, form select.error, form textarea.error {
        border-color: #ff5377;
        color: #ff5377;
    }

form input[type='submit'] {
    width: 140px !important;
    height: 55px !important;
    text-transform: uppercase;
}

form input::-moz-placeholder, form textarea::-moz-placeholder {
    color: #cccccc;
}

form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
    color: #cccccc;
}

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
    color: #cccccc;
    padding: 2px 0 0 0;
}

/* button */
a.button, input[type='submit'].button {
    float: left;
    padding: 0 1em;
    width: auto;
    background: #fe8974;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff !important;
    font-weight: 600;
}

    a.button:hover, input[type='submit'].button:hover {
        background: #fd907e;
    }
    
    a.button.current, input[type='submit'].button.active {
        background: #fe917d;
        color: #c65c4b;
    }