/* container */
div.container {
    margin: 0 auto;
    width: 82.222%;
    max-width: 1200px;
}

    body.pages div#wrapper div.container {
        overflow: hidden;
        margin-top: 5.500em;
        margin-bottom: 5.500em;
        min-height: 1%;
    }

/* header */
div#header {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.375em;
    background: #ffffff;
    -moz-box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.5);
    color: #666666;
}

    /* header mobile navigation */
    div#header div.mobile-navigation {
        display: none;
        float: left;
        width: 10%;
    }
    
        div#header div.mobile-navigation a {
            float: left;
            margin: 14px 0 0 0;
            width: 21px;
            height: 18px;
            background: transparent
                        url(../images/header-mobile-navigation.png) 0 0 no-repeat;
            text-indent: -99999px;
        }
    
    /* header logo */
    div#header h1 a {
        float: left;
        width: 120px;
        height: 70px;
        background: transparent
                    url(../images/h1.png) 0 center no-repeat;
        text-indent: -99999px;
    }
    
    /* header slogan */
    div#header div.slogan {
        float: left;
        margin: 0 0 0 1.5em;
        font-size: 1.3em;
        line-height: 70px;
    }
    
        body.pages div#header div.slogan {
            display: none;
        }
    
    /* header navigation */
    div#header ul.navigation, div#header ul.navigation li {
        float: left;
    }
    
        div#header ul.navigation {
            display: none;
        }
        
            body.pages div#header ul.navigation {
                display: block;
            }
    
            div#header ul.navigation li {
                margin: 0 0 0 1.5em;
                font-weight: 600;
                line-height: 70px;
            }
            
                div#header ul.navigation li a {
                    color: #666666;
                }
                
                    div#header ul.navigation li a:hover, div#header ul.navigation li a.current {
                        color: #333333;
                    }
    
    /* header account */
    div#header div.account {
        float: right;
        font-weight: 600;
    }
    
        /* header account logged out */
        div#header div.account.logged-out a {
            float: left;
            margin: 15px 0 0 0;
            padding: 0 1em;
            height: 40px;
            color: #666666;
            line-height: 40px;
        }
        
            div#header div.account.logged-out a:hover {
                color: #333333;
            }
            
        /* header account logged in */
        div#header div.account.logged-in div.user {
            position: relative;
            float: right;
            margin: 0.375em 0 0 0;
            width: 68px;
            height: 58px;
        }
        
            div#header div.account.logged-in div.user a {
                position: relative;
                float: right;
                margin: 0 5px 0 0;
            }
        
                div#header div.account.logged-in div.user a img {
                    float: left;
                    width: 46px;
                    height: auto;
                    border: 2px solid #444444;
                    -moz-border-radius: 5px;
                    -o-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                }
                
                div#header div.account.logged-in div.user a span.notifications {
                    position: absolute;
                    right: -5px;
                    bottom: -2px;
                    width: 13px;
                    height: 13px;
                    background: #f70000;
                    -moz-border-radius: 3px;
                    -o-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                    font-size: 0.625em;
                    color: #ffffff;
                    font-weight: 600;
                    text-align: center;
                    line-height: 13px;
                }
                
                div#header div.account.logged-in div.user a.user-notifications:after {
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: 20px;
                    width: 0;
                	height: 0;
                	border-top: 5px solid #444444;
                	border-right: 5px solid transparent;
                	border-left: 5px solid transparent;
                }
                
                /* header account logged in notifications */
                div#header div.account.logged-in div.user div.notifications {
                    z-index: 99999;
                    display: none;
                    position: absolute;
                    top: 71px;
                    right: 0;
                    padding: 0.438em 0 0 0;
                    width: 284px;
                    background: #ffffff;
                    -moz-border-radius: 5px;
                    -o-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
                    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
                    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
                }
                
                    div#header div.account.logged-in div.user div.notifications:before {
                        content: '';
                        position: absolute;
                        top: -10px;
                        right: 20px;
                        width: 0;
                    	height: 0;
                    	border-right: 10px solid transparent;
                    	border-bottom: 10px solid #ffffff;
                    	border-left: 10px solid transparent;
                    }
                
                    div#header div.account.logged-in div.user div.notifications h3, div#header div.account.logged-in div.user div.notifications div.user-actions {
                        float: left;
                        margin: 0 0 0.438em 0;
                        padding-left: 0.625em;
                        font-size: 0.813em;
                        text-transform: uppercase;
                    }
                    
                    div#header div.account.logged-in div.user div.notifications div.user-actions {
                        float: right;
                        padding-left: 0;
                    }
                    
                        div#header div.account.logged-in div.user div.notifications div.user-actions a {
                            float: left;
                            padding-right: 0.625em;
                            color: #fe8974;
                        }
                        
                            div#header div.account.logged-in div.user div.notifications div.user-actions a:after {
                                border: 0;
                            }
                        
                            div#header div.account.logged-in div.user div.notifications div.user-actions a:hover {
                                color: #fd907e;
                            }
                        
                    div#header div.account.logged-in div.user div.notifications ul li {
                        position: relative;
                        clear: both;
                        padding: 10px 10px;
                        height: 65px;
                        background: #ffffff;
                        border-top: 1px solid #e2e2e2;
                        border-left: 4px solid #ffffff;
                        font-size: 0.813em;
                        color: #777777;
                        line-height: 1.500em;
                        -moz-box-shadow: inset 0 1px 0 #ffffff;
                        -o-box-shadow: inset 0 1px 0 #ffffff;
                        -webkit-box-shadow: inset 0 1px 0 #ffffff;
                        box-shadow: inset 0 1px 0 #ffffff;
                    }
                    
                        div#header div.account.logged-in div.user div.notifications ul li:hover {
                            background: #f1f1f1;
                        }
                        
                        div#header div.account.logged-in div.user div.notifications ul li.new {
                            border-left-color: #f70000;
                        }
                        
                        div#header div.account.logged-in div.user div.notifications ul li div.user-photo {
                            float: left;
                            width: 30px;
                        }
                            
                            div#header div.account.logged-in div.user div.notifications ul li div.user-photo a img {
                                float: left;
                                width: 30px;
                                height: 30px;
                                border: 0;
                            }
                            
                        div#header div.account.logged-in div.user div.notifications ul li div.notification {
                            float: right;
                            width: 220px;
                        }
                        
                            div#header div.account.logged-in div.user div.notifications ul li div.notification strong {
                                color: #666666;
                                font-weight: 600;
                            }
                            
                            div#header div.account.logged-in div.user div.notifications ul li div.notification a.action {
                                float: left;
                                margin: 0 0.625em 0 0;
                                width: 79px;
                                height: 19px;
                                background: #ffffff;
                                border: 1px solid #f3f3f3;
                                font-size: 0.813em;
                                color: #aaaaaa;
                                font-weight: 600;
                                text-transform: uppercase;
                                line-height: 19px;
                            }
                            
                                div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.approved {
                                    color: #6acf75;
                                }
                                
                                    div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.approved span {
                                        background-position: -22px 0 !important;
                                    }
                                
                                div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.rejected {
                                    width: 69px;
                                    color: #df4545;
                                }
                                
                                    div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.rejected span {
                                        background-position: -14px 0 !important;
                                    }
                                
                                div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.approve { }
                                
                                    div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.approve span, div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.approved span {
                                        float: left;
                                        margin: 5px 5px 0 8px;
                                        width: 11px;
                                        height: 9px;
                                        background: transparent
                                                    url(../images/dashboard/notification-action-approve.png) 0 center no-repeat;
                                    }
                                
                                    div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.approve:hover {
                                        background: #6acf75;
                                        border-color: #4cb858;
                                        color: #ffffff;
                                    }
                                    
                                        div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.approve:hover span {
                                            background-position: -11px 0;
                                        }
                                    
                                div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.reject {
                                    width: 69px;
                                }
                                    
                                    div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.reject span, div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.rejected span {
                                        float: left;
                                        margin: 5px 5px 0 11px;
                                        width: 7px;
                                        height: 8px;
                                        background: transparent
                                                    url(../images/dashboard/notification-action-reject.png) 0 0 no-repeat;
                                    }
                                    
                                    div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.reject:hover {
                                        background: #df4545;
                                        border-color: #c13434;
                                        color: #ffffff;
                                    }
                                    
                                        div#header div.account.logged-in div.user div.notifications ul li div.notification a.action.reject:hover span {
                                            background-position: -7px 0;
                                        }
                            
                            div#header div.account.logged-in div.user div.notifications ul li div.notification span.date {
                                font-size:0.813em;
                                color: #bbbbbb;
                                font-weight: 600;
                            }
                            
                                div#header div.account.logged-in div.user div.notifications ul li div.notification span.date.right {
                                    float: right;
                                }
                        
                        div#header div.account.logged-in div.user div.notifications ul li:last-child {
                            -moz-border-radius: 0 0 5px 5px;
                            -o-border-radius: 0 0 5px 5px;
                            -webkit-border-radius: 0 0 5px 5px;
                            border-radius: 0 0 5px 5px;
                        }
                        
                        div#header div.account.logged-in div.user div.notifications ul li:before {
                            content: '';
                            position: absolute;
                            top: -1px;
                            left: -4px;
                            width: 284px;
                            height: 1px;
                            background: #e2e2e2;
                            border-bottom: 1px solid #ffffff;
                        }

/* wrapper */
div#wrapper {
    margin-top: 4.375em;
    margin-bottom: -382px;
    min-height: 100%;
}

    /* mobile navigation */
    ul.mobile-navigation {
        display: none;
        z-index: 99999;
        position: fixed;
        top: 48px;
        left: 0;
        width: 100%;
    }
    
        ul.mobile-navigation li a {
            clear: both;
            display: block;
            padding: 1.000em 0;
            background: #ebebeb;
            background-image: -moz-linear-gradient(top, #e1e1e1, #ebebeb);
            background-image: -o-linear-gradient(top, #e1e1e1, #ebebeb);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#ebebeb));
            border-bottom: 1px solid #cccccc;
            font-size: 0.938em;
            color: #666666;
            text-transform: uppercase;
            text-align: center;
        }
        
            ul.mobile-navigation li a:hover {
                color: #fe8974;
            }
        
            ul.mobile-navigation li:last-child a {
                border-radius: 0 0 5px 5px;
                -moz-box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.5);
                -o-box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.5);
                box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.5);
            }

    /* home mobile slogan */
    div.mobile-slogan {
        display: none;
        margin-top: 48px;
        padding: 2.000em 0;
        background: #54565b;
        font-size: 0.938em;
        color: #fbfbfb;
        text-align: center;
    }
    
    /* home account type */
    div#account-type {
        overflow: hidden;
        padding: 86px 0 157px 0;
        background: #cbd7fd
                    url(../images/home/account-type.png) center 198px no-repeat;
        background-size: auto 443px;
        color: #54565b;
        font-weight: 300;
    }
    
        div#account-type div.im-a, div#try-it h2, body.pages div#wrapper div.about.container div.try-it.block h3 {
            display: block;
            height: 50px;
            font-size: 2.6em;
            color: #54565b;
            font-weight: 300;
            text-align: center;
            line-height: 50px;
        }
        
        div#account-type div.musician {
            float: left;
            margin: 8.125em 0 0 0;
            width: 340px;
        }
        
            div#account-type h2 {
                position: relative;
                font-size: 2.750em;
            }
            
                div#account-type div.musician h2 {
                    padding: 0 0 0 45px;
                }
            
                div#account-type h2:before, div#account-type h2 span {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 37px;
                    background: transparent
                                url(../images/home/account-type-h2.png) 0 bottom no-repeat;
                }
                
                    div#account-type h2 span {
                        display: none;
                        position: relative;
                        top: 10px;
                        margin-right: 15px;
                    }
                
                    div#account-type div.musician h2:before, div#account-type div.musician h2 span {
                        width: 29px;
                    }
            
            div#account-type p {
                clear: both;
                padding: 1.875em 0 2.813em 0;
                font-size: 1.375em;
                line-height: 1.375em;
            }
            
            div#account-type a.button {
                height: 64px;
                text-transform: uppercase;
                text-align: center;
                line-height: 64px;
            }
        
        div#account-type div.creator {
            float: right;
            margin: 8.125em 0 0 0;
            width: 340px;
            text-align: right;
        }
        
            div#account-type div.creator h2 {
                float: right;
                padding-left: 60px;
            }
        
                div#account-type div.creator h2:before, div#account-type div.creator h2 span {
                    top: -2px;
                    width: 46px;
                    background-position: -29px center;
            }
            
                div#account-type div.creator h2 span {
                    top: 7px;
                }
        
            div#account-type div.creator a.button {
                float: right;
            }
            
        div#account-type div.or {
            display: none;
            padding-top: 1.000em;
            font-size: 0.938em;
            color: #aaaaaa;
            text-transform: uppercase;
        }
    
    /* home features */
    div#features {
        overflow: hidden;
        padding: 96px 0;
        min-height: 1%;
    }
    
        div#features ul li {
            overflow: hidden;
            display: block;
            margin: 96px 0 0 0;
            min-height: 1%;
        }
        
            div#features ul li:first-child {
                margin-top: 0;
            }
            
            div#features ul li h3, div#footer ul li h3 {
                display: block;
                font-size: 0.875em;
                color: #90e2af;
                font-weight: 700;
                text-transform: uppercase;
            }
            
                div#features ul li h3 {
                    margin: 40px 0 0 60px;
                }
                
                    div#features ul li:nth-child(even) h3 {
                        margin: 40px 60px 0 0;
                    }
                    
                div#features ul li span.h3-sub {
                    display: block;
                    margin: 0.500em 0 0 60px;
                    font-size: 2.000em;
                    font-weight: 300;
                }
                
                    div#features ul li:nth-child(even) span.h3-sub {
                        margin-left: 0;
                    }
        
            div#features ul li span.img {
                float: left;
                width: 50%;
                height: 384px;
                background: #ffffff;
            }
        
                div#features ul li:nth-child(even) span.img {
                    float: right;
                }
        
            div#features ul li div {
                float: left;
                width: 50%;
            }
            
                div#features ul li div p {
                    margin: 1em 0 0 60px;
                }
                
                    div#features ul li:nth-child(even) p {
                        margin: 1em 60px 0 0;
                    }
                    
                    div#features ul li div p a {
                        color: #fe8974;
                    }
    
    /* home try it */
    div#try-it {
        padding: 96px 0;
        background: #fbfbfb;
    }
    
        div#try-it h2 {
            margin: -5px 0 24px 0;
        }
        
        div#try-it a.button {
            display: block;
            float: none;
            margin: 0 auto;
            width: 192px;
            height: 64px;
            text-transform: uppercase;
            text-align: center;
            line-height: 64px;
        }
        
    /* pages title */
    body.pages div.page-title {
        padding: 66px 0 0 0;
        height: 148px;
        background: transparent
                    url(../images/pages/h2.jpg) center 0 no-repeat;
        background-size: 100% 100%;
        text-align: center;
    }
    
        body.pages div.page-title h2 {
            font-size: 2.750em;
            color: #fefefe;
            font-weight: 300;
        }
        
        body.pages div.page-title form {
            margin: 0 auto;
            margin-top: 3.000em;
            width: 532px;
        }
        
            body.pages div.page-title form input[type='text'] {
                float: left;
            }
            
            body.pages div.page-title form input[type='submit'] {
                margin: 0 0 0 5px;
            }
    
    /* pages defaults */
    body.pages div#wrapper div.container div.page {
        float: left;
        width: 46.668%;
    }
    
    body.pages div#wrapper div.container div.sidebar {
        float: right;
        width: 28.888%;
    }
        
    /* about page */
    body.pages div#wrapper div.about.container div.block {
        clear: both;
        margin: 6.000em 0 0 0;
    }
    
        body.pages div#wrapper div.about.container div.block:first-child {
            margin: 0;
        }
    
        body.pages div#wrapper div.about.container div.block h3 {
            margin: 0 0 1.000em 0;
            font-size: 0.875em;
            color: #90e2af;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }
        
        /* about page nutshell */
        body.pages div#wrapper div.about.container div.nutshell.block p {
            font-size: 1.625em;
            text-align: center;
        }
        
        /* about page the team */
        body.pages div#wrapper div.about.container div.team.block h3 {
            margin: 0;
        }
        
        body.pages div#wrapper div.about.container div.team.block ul {
            overflow: hidden;
            margin: 0 auto;
            min-height: 1%;
            width: 80%;
        }
        
            body.pages div#wrapper div.about.container div.team.block ul li {
                position: relative;
                float: left;
                margin: 1.000em 0 0 5%;
                width: 30%;
                text-align: center;
            }
            
                body.pages div#wrapper div.about.container div.team.block ul li:first-child, body.pages div#wrapper div.about.container div.team.block ul li:nth-child(4) {
                    margin-left: 0;
                }
                
                body.pages div#wrapper div.about.container div.team.block ul li img {
                    width: 100%;
                    max-width: 173px;
                    height: auto;
                }
                
                body.pages div#wrapper div.about.container div.team.block ul li h4 {
                    clear: both;
                    font-size: 1.625em;
                }
                
                body.pages div#wrapper div.about.container div.team.block ul li span.job {
                    clear: both;
                    font-size: 0.813em;
                    color: #cccccc;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                
                body.pages div#wrapper div.about.container div.team.block ul li div.social-networks {
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    margin-right: auto;
                    margin-left: auto;
                    width: 100%;
                    max-width: 173px;
                    height: 173px;
                    background: rgba(255, 255, 255, 0.8);
                    opacity: 0;
                    -moz-transition: all 250ms ease-in-out;
                    -ms-transition: all 250ms ease-in-out;
                    -o-transition: all 250ms ease-in-out;
                    -webkit-transition: all 250ms ease-in-out;
                    transition: all 250ms ease-in-out;
                }
                
                    body.pages div#wrapper div.about.container div.team.block ul li:hover div.social-networks {
                        visibility: visible;
                        opacity: 1;
                    }
                    
                        body.pages div#wrapper div.about.container div.team.block ul li div.social-networks div {
                            position: relative;
                            top: 50%;
                            margin: 0 auto;
                            margin-top: -10px;
                            width: 67px;
                            height: 20px;
                        }
                    
                            body.pages div#wrapper div.about.container div.team.block ul li div.social-networks a {
                                float: left;
                                height: 20px;
                                background: transparent
                                            url(../images/pages/team-social-networks.png) 0 0 no-repeat;
                                text-indent: -99999px;
                            }
                            
                                body.pages div#wrapper div.about.container div.team.block ul li div.social-networks a.twitter {
                                    width: 22px;
                                    background-position: 0 0;
                                }
                                
                                body.pages div#wrapper div.about.container div.team.block ul li div.social-networks a.facebook {
                                    float: right;
                                    margin: 0 0 0 25px;
                                    width: 20px;
                                    background-position: -22px 0;
                                }
                                
        /* about page our mission */
        body.pages div#wrapper div.about.container div.our-mission.block {
            overflow: hidden;
            min-height: 1%;
        }
        
            body.pages div#wrapper div.about.container div.our-mission.block div.info, body.pages div#wrapper div.about.container div.our-mission.block div.img {
                float: left;
                width: 45%;
            }
            
                body.pages div#wrapper div.about.container div.our-mission.block div.info h3 {
                    text-align: left;
                }
                
                    body.pages div#wrapper div.about.container div.our-mission.block div.info h4 {
                        margin-bottom: 0.500em;
                        font-size: 2.000em;
                        font-weight: 300;
                        line-height: 1.125em;
                    }
            
            body.pages div#wrapper div.about.container div.our-mission.block div.img {
                float: right;
                margin: 1.875em 0 0 0;
            }
            
                body.pages div#wrapper div.about.container div.our-mission.block div.img img {
                    float: right;
                    width: 100%;
                    max-width: 455px;
                    height: auto;
                }
        
        /* about page our investors, who uses songsly and press kit */
         body.pages div#wrapper div.about.container div.our-investors.block ul {
            overflow: hidden;
            margin: 0 auto;
            min-height: 1%;
            width: 100%;
         }
         
            body.pages div#wrapper div.about.container div.our-investors.block ul li {
                float: left;
                margin: 0 0 0 5%;
                width: 30%;
                text-align: center;
            }
            
                body.pages div#wrapper div.about.container div.our-investors.block ul li:first-child {
                    margin: 0;
                }
                
                body.pages div#wrapper div.about.container div.our-investors.block ul li h3 {
                    margin-bottom: 0.500em;
                }
        
        /* about page as seen on */
        body.pages div#wrapper div.about.container div.seen-on.block {
            text-align: center;
        }
        
            body.pages div#wrapper div.about.container div.seen-on.block a {
                margin: 0 0 0 3.125em;
            }
            
                body.pages div#wrapper div.about.container div.seen-on.block a.first-child {
                    margin: 0;
                }
        
        /* about page try it */
        body.pages div#wrapper div.about.container div.try-it.block h3 {
            margin: 0 0 24px 0;
        }
        
        body.pages div#wrapper div.about.container div.try-it.block a.button {
            display: block;
            float: none;
            margin: 0 auto;
            width: 192px;
            height: 64px;
            text-transform: uppercase;
            text-align: center;
            line-height: 64px;
        }
    
    /* blog page */
    body.pages div#wrapper div.blog.container div.page div.block {
        margin: 4.500em 0 0 0;
    }
    
        /* blog page posts */
        body.pages div#wrapper div.blog.container div.page div.block:first-child {
            margin: 0;
        }
        
        body.pages div#wrapper div.blog.container div.page div.block h3 a {
            display: block;
            margin: 0 0 0.500em 0;
            font-size: 2.000em;
            color: #666666;
        }
        
            body.pages div#wrapper div.blog.container div.page div.block h3 a:hover {
                color: #333333;
            }
            
        body.pages div#wrapper div.blog.container div.page div.block span.posted {
            display: block;
            margin: 0 0 1.875em 0;
            font-size: 0.813em;
            color: #aaaaaa;
            font-weight: 600;
            line-height: 0.813em;
        }
        
        body.pages div#wrapper div.blog.container div.page div.block img.full {
            width: 100%;
            max-width: 560px;
            height: auto;
        }
        
        body.pages div#wrapper div.blog.container div.page div.block h4 {
            clear: both;
            margin: 1.000em 0 0 0;
            font-weight: 600;
        }
        
        body.pages div#wrapper div.blog.container div.page div.block div.share-comments {
            margin: 1.000em 0 0 0;
        }
        
            body.pages div#wrapper div.blog.container div.page div.block div.share-comments div.share {
                float: left;
            }
            
            body.pages div#wrapper div.blog.container div.page div.block div.share-comments div.comments {
                float: right;
                text-align: right;
            }
            
        /* blog page pagination */
        body.pages div#wrapper div.blog.container div.page div.pagination.block a {
            color: #666666;
            font-weight: 600;
        }
        
            body.pages div#wrapper div.blog.container div.page div.pagination.block a.previous {
                float: left;
            }
            
            body.pages div#wrapper div.blog.container div.page div.pagination.block a.next {
                float: right;
            }
            
            body.pages div#wrapper div.blog.container div.page div.pagination.block a:hover {
                color: #333333;
            }
    
    /* blog sidebar */
    body.pages div#wrapper div.blog.container div.sidebar div.block {
        margin: 3.000em 0 0 0;
    }
    
        body.pages div#wrapper div.blog.container div.sidebar div.block:first-child {
            margin: 0;
        }
    
        body.pages div#wrapper div.blog.container div.sidebar div.block h3 {
            margin: 0 0 0.500em 0;
            font-size: 1.625em;
        }
        
        /* blog sidebar popular posts */
        body.pages div#wrapper div.blog.container div.sidebar div.popular-posts.block a, body.pages div#wrapper div.blog.container div.sidebar div.archives.block a {
            display: block;
            line-height: 1.750em;
        }
        
        /* blog sidebar tag cloud */
        body.pages div#wrapper div.blog.container div.sidebar div.tag-cloud.block a {
            line-height: 1.750em;
        }
        
            body.pages div#wrapper div.blog.container div.sidebar div.tag-cloud.block a.medium {
                font-size: 1.313em;
            }
            
            body.pages div#wrapper div.blog.container div.sidebar div.tag-cloud.block a.large {
                font-size: 1.625em;
            }
        
        /* blog sidebar connect with us */
        body.pages div#wrapper div.blog.container div.sidebar div.connect.block p {
            color: #fe8974;
        }
        
        /* blog sidebar search */
        body.pages div#wrapper div.blog.container div.sidebar div.search.block { }
        
            body.pages div#wrapper div.blog.container div.sidebar div.search.block form input[type='text'] {
                float: left;
                width: 50% !important;
                max-width: 250px !important;
            }
            
            body.pages div#wrapper div.blog.container div.sidebar div.search.block form input[type='submit'] {
                margin: 0 0 0 5px;
                width: 50% !important;
                max-width: 104px !important;
            }
    
    /* privacy and terms page */
    body.pages div#wrapper div.privacy-terms.container div.page {
        
    }
        
        body.pages div#wrapper div.privacy-terms.container span.updated, body.pages div#wrapper div.privacy-terms.container h3 {
            font-weight: 600;
        }
        
        body.pages div#wrapper div.privacy-terms.container div.page div.block {
            margin: 2.000em 0 0 0;
        }
        
            body.pages div#wrapper div.privacy-terms.container div.page div.block h3 {
                margin: 0 0 1.000em 0;
                font-size: 1.625em;
            }
    
    /* privacy and terms sidebar */
    body.pages div#wrapper div.privacy-terms.container div.sidebar div.block {
        margin: 9.125em 0 0 0;
    }
    
        body.pages div#wrapper div.privacy-terms.container div.sidebar div.block:first-child {
            margin: 0;
        }
    
    /* help and support page */
    body.pages div#wrapper div.help-support.container div.page h3, body.pages div#wrapper div.help-support.container div.sidebar h3 {
        display: block;
        font-size: 1.625em;
    }
    
    body.pages div#wrapper div.help-support.container div.page div.block {
        margin: 1.000em 0 0 0;
    }
    
        body.pages div#wrapper div.help-support.container div.page div.block:first-child {
            margin: 0;
        }
        
        body.pages div#wrapper div.help-support.container div.page div.block h4 {
            clear: both;
            margin: 1.000em 0 0 0;
            font-weight: 600;
        }
        
    /* help and support sidebar */
    body.pages div#wrapper div.help-support.container div.sidebar div.block {
        margin: 3.000em 0 0 0;
    }
    
        body.pages div#wrapper div.help-support.container div.sidebar div.block:first-child {
            margin: 0;
        }
    
        body.pages div#wrapper div.help-support.container div.sidebar div.block h3 {
            margin: 0 0 0.500em 0;
            font-size: 1.625em;
        }
        
        /* help and support sidebar contact */
        body.pages div#wrapper div.help-support.container div.sidebar div.contact.block form input {
            margin: 0.500em 0 0 0;
            width: 100% !important;
        }
        
            body.pages div#wrapper div.help-support.container div.sidebar div.contact.block form input:first-child {
                margin: 0;
            }
            
            body.pages div#wrapper div.help-support.container div.sidebar div.contact.block form input[type='text'], body.pages div#wrapper div.help-support.container div.sidebar div.contact.block form textarea {
                width: -moz-calc(100% - 2.125em) !important;
                width: -o-calc(100% - 2.125em) !important;
                width: -webkit-calc(100% - 2.125em) !important;
                width: calc(100% - 2.125em) !important;
            }
        
        /* help and support sidebar address */
        body.pages div#wrapper div.help-support.container div.sidebar div.address.block div.inner-block {
            overflow: hidden;
            clear: both;
            margin: 1.000em 0 0 0;
            min-height: 1%;
        }
        
            body.pages div#wrapper div.help-support.container div.sidebar div.address.block div.inner-block:first-child {
                margin: 0;
            }
        
            body.pages div#wrapper div.help-support.container div.sidebar div.address.block div.inner-block div.title {
                float: left;
                width: 35%;
                font-weight: 600;
            }
            
            body.pages div#wrapper div.help-support.container div.sidebar div.address.block div.inner-block div.info {
                float: right;
                width: 64%;
            }
            
    /* sign up page */
    body.pages div#wrapper div.sign-up.container div.famous.block h3 {
        font-size: 2.000em;
        line-height: normal;
        text-align: center;
    }
    
    body.pages div#wrapper div.sign-up.container div.famous.block div.inner {
        position: relative;
        margin: 0 auto;
        width: 832px;
        min-height: 180px;
    }
    
        body.pages div#wrapper div.sign-up.container div.famous.block div.inner span.line {
            z-index: 1;
            position: absolute;
            top: 68px;
            left: 0;
            width: 100%;
            height: 2px;
            background: #e2e2e2;
        }
        
        body.pages div#wrapper div.sign-up.container div.famous.block div.inner span.number {
            z-index: 2;
            position: absolute;
            top: 51px;
            left: 0;
            padding: 0 0 0 8px;
            width: 20px;
            height: 28px;
            background: #fbfbfb;
            border: 2px solid #e2e2e2;
            -moz-border-radius: 30px;
            -o-border-radius: 30px;
            -webkit-border-radius: 30px;
            border-radius: 30px;
            font-size: 1.313em;
            color: #a6a9b2;
            font-weight: 600;
            line-height: 26px;
        }
        
            body.pages div#wrapper div.sign-up.container div.famous.block div.inner span.number.two {
                left: 286px;
            }
            
            body.pages div#wrapper div.sign-up.container div.famous.block div.inner span.number.three {
                left: 604px;
            }
        
        body.pages div#wrapper div.sign-up.container div.famous.block div.inner div.number {
            z-index: 3;
            position: absolute;
            top: 20px;
            left: 32px;
            width: 254px;
            color: #6c7285;
        }
        
            body.pages div#wrapper div.sign-up.container div.famous.block div.inner div.number.two {
                left: 334px; /* 318px */
                width: 254px; /* 286px */
            }
            
            body.pages div#wrapper div.sign-up.container div.famous.block div.inner div.number.three {
                left: 656px;
                width: 254px; /* 196px */
            }
            
            body.pages div#wrapper div.sign-up.container div.famous.block div.inner div.number span {
                display: block;
                margin: 0 auto;
                width: 98px;
                height: 98px;
                background: #54565b;
                border-radius: 98px;
            }
            
            body.pages div#wrapper div.sign-up.container div.famous.block div.inner div.number p {
                padding: 0 2.000em;
                text-align: center;
            }
    
    body.pages div#wrapper div.sign-up.container form {
        margin: 0 auto;
        margin-top: 4.000em;
        width: 370px;
    }
    
        body.pages div#wrapper div.sign-up.container form div {
            position: relative;
            margin: 0.938em 0 0 0;
        }
        
            body.pages div#wrapper div.sign-up.container form div span.msg {
                position: absolute;
                top: 14px;
                left: 386px;
                padding: 0 0 0 37px;
                width: 260px;
                background: transparent
                            url(../images/pages/sign-up-msgs.png) 0 0 no-repeat;
                font-weight: 600;
                line-height: 27px;
            }
            
                body.pages div#wrapper div.sign-up.container form div span.msg.valid {
                    color: #8bde5d;
                }
                
                body.pages div#wrapper div.sign-up.container form div span.msg.error {
                    background-position: 0 -27px;
                    color: #ff486f;
                }
    
        body.pages div#wrapper div.sign-up.container form input {
            width: 326px;
        }
        
            body.pages div#wrapper div.sign-up.container form input:first-child {
                margin: 0;
            }
        
            body.pages div#wrapper div.sign-up.container form input[type='submit'] {
                padding: 0;
                width: 370px !important;
            }
    
    /* error */
    div.error.container {
        text-align: center;
    }
    
        div.error.container h3 {
            font-size: 2.000em;
            font-weight: 300;
        }
        
        div.error.container form {
            margin: 0 auto;
            margin-top: 1.250em;
            width: 532px;
        }
        
            div.error.container form input[type='text'] {
                float: left;
            }
            
            div.error.container form input[type='submit'] {
                margin: 0 0 0 5px;
            }
        
        div.error.container div.check-the {
            margin: 0 auto;
            margin-top: 2.188em;
        }
    
    /* footer */
    div#footer, div.push {
        padding: 4.000em 0;
        height: 15.875em;
    }
    
        body.pages div#footer {
            background: #54565b;
        }
        
        div.push {
            clear: both;
            padding: 0;
            height: 23.875em;
        }
    
        /* footer alt navigation */
        div#footer ul li {
            float: left;
            margin-right: 5%;
            width: 13%;
            font-size: 1em;
            color: #aaaaaa;
            line-height: 2em;
        }
        
            div#footer ul li:first-child {
                width: 33%;
            }
            
            div#footer ul li:last-child {
                margin-right: 0;
                width: 25%;
            }
            
            div#footer ul li h3 {
                margin-bottom: .4em;
            }
            
            /* footer what is songsly? */
            div#footer ul li p {
                margin-bottom: 1.7em;
            }
            
            div#footer ul li span.copyright {
                float: left;
                font-size: .875em;
                font-weight: 600;
                color: #888888;
                text-transform: uppercase;
                line-height: 20px;
            }
            
            div#footer ul li div.social-networks {
                float: right;
            }
            
                div#footer ul li div.social-networks a {
                    float: left;
                    margin: 0 0 0 18px;
                    height: 20px;
                    background: transparent
                                url(../images/footer-social-networks.png) 0 0 no-repeat;
                    text-indent: -99999px;
                }
                
                    div#footer ul li div.social-networks a:first-child {
                        margin-left: 0;
                    }
                    
                    div#footer ul li div.social-networks a.twitter {
                        width: 22px;
                        background-position: 0 0;
                    }
                    
                    div#footer ul li div.social-networks a.facebook {
                        width: 20px;
                        background-position: -22px 0;
                    }
                    
                    div#footer ul li div.social-networks a.youtube {
                        width: 48px;
                        background-position: -42px 0;
                    }
            
            /* footer features, footer songsly and footer latest posts */
            div#footer ul li a {
                display: block;
                margin: 18px 0 0 0;
                color: #aaaaaa;
                line-height: normal;
            }
            
                div#footer ul li a:hover {
                    color: #ffffff;
                }
                
/* lightbox */
div#lightbox-background {
    z-index: 99999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333;
}

div.lightbox {
    z-index: 999999;
    display: none;
    position: fixed;
    width: 485px;
    height: 386px;
    background: #ffffff;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 8px 46px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 8px 46px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 8px 46px rgba(0, 0, 0, .5);
    box-shadow: 0 8px 46px rgba(0, 0, 0, .5);
}

    div.lightbox h2 {
        display: block;
        margin: 0.938em 0;
        font-size: 2.750em;
        color: #6c7285;
        text-align: center;
    }
    
    div.lightbox form {
        margin: 0 auto;
        margin-bottom: 0.938em;
        width: 370px;
    }
    
        div.lightbox form input {
            margin: 0.938em 0 0 0;
            width: 326px;
        }
        
            div.lightbox form input[type='submit'] {
                padding: 0;
                width: 370px !important;
            }
            
    div.lightbox a.forgot {
        clear: both;
        display: block;
        color: #e7a89d;
        text-align: center;
    }
    
        div.lightbox a.forgot:hover {
            color: #f6a193;
        }
        
    div.lightbox a.lightbox-close {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 0 0 0 8px;
        width: 20px;
        height: 28px;
        border: 2px solid #e2e2e2;
        -moz-border-radius: 30px;
        -o-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        font-size: 1.313em;
        color: #e2e2e2;
        font-weight: 600;
        line-height: 24px;
    }
    
        div.lightbox a.lightbox-close:hover {
            border-color: #d2d2d2;
            color: #d2d2d2;
        }