.container {
	width: 948px !important;
}
#categories {
	padding-top: 40px;
	padding-bottom: 40px;
}
.main-heading {
	margin: 0 0 20px;
	padding: 0 0 40px;
	border-bottom: 1px solid #dcdcdc;
}

/* CATEGORIES */

.help-categories {
	margin-left: -7px;
	margin-right: -7px;
}
.help-categories .col-xs-3 {
	padding: 7px;
}
.help-categories .col-xs-3 .section {
	padding: 20px 10px;
	text-align: center;
	background: #ffffff;
	border: 1px solid #ededed;
	border-radius: 5px;
	display: block;
	text-decoration: none;
}
.help-categories .col-xs-3 .active,
.help-categories .col-xs-3 .section:hover {
	background: #f2f2f3;
	border-color: #dcdcdc;
	text-decoration: none;
}
.help-categories .col-xs-3 .section img {
	margin-bottom: 15px;
}
.help-categories .col-xs-3 .section h1 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-transform: none;
}
.help-categories .col-xs-3 .section h1 span {
	text-transform: lowercase;
}

/* CONTENT */

.content {
	padding: 40px 0;
	background: #f6f6f6;
	border-top: 1px solid #e9e9e9;
}
.content h1 {
	margin: 0 0 20px;
	font-size: 18px;
	text-transform: none;
}
.content a {
	color: #4075b8;
	text-decoration: underline;
    font-weight: 600;
}
.content a:hover {
	text-decoration: none;
}

/* POSTS */

.posts {
	margin-bottom: -15px;
}
article {
	margin-bottom: 15px;
	padding: 25px;
	background: #ffffff;
	border: 1px solid #ededed;
	border-radius: 5px;
	display: block;
}
article .heading {
	cursor: pointer;
}
article .heading h1 {
	margin: 0;
	text-transform: none;
}
article .heading .toggle {
	text-align: right;
}
article .heading i {
	font-size: 20px;
	color: #6d6d6d;
	-webkit-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
	-o-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out; 
	transition: all 250ms ease-out;
}
article .body {
	margin-bottom: -10px;
	padding-top: 20px;
	display: none;
}
article .body p {
	margin-bottom: 18px;
	font-size: 14px;
	line-height: 24px;
	color: #4a4a4a;
}
article .body .caption {
	color: #8f8f8f;
}
.open .body {
	display: block;
}

.alt {
	margin-bottom: 10px;
	padding: 0 15px;
	border: none;
}
.alt h1 {
	margin: 0;
	font-size: 14px;
	text-transform: uppercase !important;
}
.alt .heading {
	padding: 10px 0;
	border-radius: 5px;
	background: #f6f7f7;
}
.alt .heading i {
	font-size: 14px;
}
.alt .body {
	padding-top: 30px;
	margin-bottom: 30px;
	display: none;
}

.explore-btn .icon {
	padding: 20px 25px;
	background: #59a2ee;
	color: #ffffff;
	width: 10%;
	float: left;
	text-align: center;
	-webkit-box-shadow: 0px 3px 0px 0px #3b7ec5;
	-moz-box-shadow:    0px 3px 0px 0px #3b7ec5;
	box-shadow:         0px 3px 0px 0px #3b7ec5;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.explore-btn .text {
	padding: 16px 25px 17px;
	background: #ffffff;
	color: #3d3d3d;
	width: 90%;
	float: left;
	text-transform: uppercase;
	border-top: 1px solid #ededed;
	border-right: 1px solid #ededed;
	-webkit-box-shadow: 0px 3px 0px 0px #ededed;
	-moz-box-shadow:    0px 3px 0px 0px #ededed;
	box-shadow:         0px 3px 0px 0px #ededed;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.explore-btn:hover .icon {
	background: #3b7ec5;
	-webkit-box-shadow: 0px 3px 0px 0px #1c5b9d;
	-moz-box-shadow:    0px 3px 0px 0px #1c5b9d;
	box-shadow:         0px 3px 0px 0px #1c5b9d;
}

/* Target Fade: Click on TOP FAQS link and border of selected FAQ will highlight for readability */

#article-1:target,
#article-2:target,
#article-3:target,
#article-4:target,
#article-5:target,
#article-6:target,
#article-7:target,
#article-8:target,
#article-9:target,
#article-10:target,
#article-11:target,
#article-12:target,
#article-13:target,
#article-14:target,
#article-15:target,
#article-16:target,
#article-17:target,
#article-18:target,
#article-19:target,
#article-20:target,
#article-21:target,
#article-22:target,
#article-23:target,
#article-24:target,
#article-25:target {
	-webkit-animation: target-fade 2.5s 1;
     -moz-animation: target-fade 2.5s 1;
       -o-animation: target-fade 2.5s 1;
          animation: target-fade 2.5s 1;
}
@-webkit-keyframes target-fade {
    0% { 
		border-color: #61A3ED; 
	}
    100% { 
		border-color: #ededed; 
	}
}
@-moz-keyframes target-fade {
    0% { 
		border-color: #61A3ED; 
	}
    100% { 
		border-color: #ededed; 
	}
}
@-o-keyframes target-fade {
    0% { 
		border-color: #61A3ED; 
	}
    100% { 
		border-color: #ededed; 
	}
}
@keyframes target-fade {
    0% { 
		border-color: #61A3ED; 
	}
    100% { 
		border-color: #ededed; 
	}
}

/* TABS */

.tabs {
	margin: 20px 0 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
.tabs li {
	padding: 11px 12px;
	margin-right: 10px;
	display: inline-block;
	float: right;
    font-weight: 600;
	font-size: 13px;
	color: #929292;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid transparent;
	text-transform: uppercase;
}
.tabs li:hover {
	color: #565656;
}
.tabs .active {
	background: #ffffff;
	border: 1px solid #ededed;
	color: #565656;
}

/* SIDEBAR */

.sidebar article {
	padding: 15px;
}
.live-chat {
	text-align: center;
}
.live-chat .online {
	display: none;
}
.live-chat h1 {
	font-size: 16px;
	color: #afafaf;
}
.top-faq h1 {
	margin: 0 0 10px;
}
.top-faq ul {
	margin: 0;
	padding: 0 0 0 5px;
	list-style-type: none;
}
.top-faq ul li {
	background:  url('../images/speech-bubble-icon.png') left 5px no-repeat;
	padding-left: 20px;
}
.top-faq ul li a {
	padding: 0 0 10px;
	display: inline-block;
	font-size: 13px;
	color: #4a4a4a;
	text-decoration: none;
	font-weight: 400;
}
.top-faq ul li a:hover {
	text-decoration: underline;
}
.top-faq .view-more {
	margin: 25px 0 10px;
	text-align: center;
}

#for-support-sales .section-heading .pull-left,
#faq .section-heading .pull-left,
#best-practices .section-heading .pull-left,
#for-individuals .section-heading .pull-left,
#quick-guide .section-heading .pull-left,
#api .section-heading .pull-left  {
	padding: 8px 0;
}
/*
#for-support-sales #live-chat-articles,
#for-support-sales #phone-support-articles,
#faq #features-articles,
#faq #basics-articles,
#best-practices #recommendations-articles,
#best-practices #requirements-articles,
#for-individuals #mobile-articles,
#for-individuals #presentation-articles,
#quick-guide #mobile-articles,
#quick-guide #presentation-articles,
#api #join-room-articles,
#api #start-room-articles  {
	display: none;
}*/
.articles-container {
	display: none;
}

#quick-guide .alt .body .row {
	display: table;
}
#quick-guide .alt .body .row div {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

#best-practices .body .row {
	margin-top: 15px;
	display: table;
}
#best-practices .body .row .col-xs-9,
#best-practices .body .row .col-xs-8,
#best-practices .body .row .col-xs-6,
#best-practices .body .row .col-xs-4,
#best-practices .body .row .col-xs-3 {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

#tools article .body .row {
	display: table;
}
#tools article .body .row .col-xs-6:first-child {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.red {
	font-weight: 600;
	color: #e95b5b;
}

.dot {
	margin-right: 7px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #e95b5b;
	border-radius: 500px;
}

/* CUSTOM SAMESURF SYNTAXHIGHLIGHTER THEME */
.syntaxhighlighter {
	overflow: initial !important;
	border: 1px solid #ece9c1;
	background: #fdfbe2 !important;
	border-radius: 5px;
}
.syntaxhighlighter .toolbar {
	background-color: #ece9c1 !important;
}
.syntaxhighlighter table td.gutter .line:first-child {
	padding-top: 15px !important;
}
.syntaxhighlighter table td.gutter .line:last-child {
	padding-bottom: 15px !important;
}
.syntaxhighlighter table td.gutter .line,
.syntaxhighlighter table td.code .line {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}
.syntaxhighlighter .gutter .line {
	border-right: 1px solid #ece9c1 !important;
}
.syntaxhighlighter table td.gutter .line,
.syntaxhighlighter .line.alt2,
.syntaxhighlighter .line.alt1{
	background: #fdfbe2 !important;
}