html,
body,
.container-fluid {
	height: 100%;
}

body {
	font-family: "proxima-nova", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #32353a;
	overflow-x: hidden;
}

nav,
#pane {
	float: left;
}

nav {
	margin: 0;
	padding-top: 45px;
	padding-left: 40px;
	padding-right: 40px;
	height: 100%;
	width: 105px;
	overflow: hidden;
	background: #ffffff;
	z-index: 10;
}

nav .navigation-interaction {
	display: block;
}

.navigation-interaction {
	cursor: pointer;
}

nav .navigation-interaction:hover svg path {
	fill: #969fad;
	-webkit-transition: all .3s linear, fill .2s linear;
	-moz-transition: all .3s linear, fill .2s linear;
	-o-transition: all .3s linear, fill .2s linear;
	transition: all .3s linear, fill .2s linear;
}

nav .navigation-interaction:hover svg path:nth-of-type(2) {
	transition-delay: .0s;
}

nav .navigation-interaction:hover svg path:nth-of-type(1) {
	transition-delay: .1s;
}

nav .navigation-interaction:hover svg path:nth-of-type(3) {
	transition-delay: .2s;
}

nav.animating .navigation-interaction svg path:nth-of-type(1),
nav.open .navigation-interaction svg path:nth-of-type(1) {
	fill: rgba(213, 215, 227, .35);
}

nav.animating .navigation-interaction svg path:nth-of-type(2),
nav.open .navigation-interaction svg path:nth-of-type(2) {
	transform: translateY(17px) translateX(0px) rotate(-45deg);
	fill: #32353a;
}

nav.animating .navigation-interaction svg path:nth-of-type(3),
nav.open .navigation-interaction svg path:nth-of-type(3) {
	transform: translateY(-10px) translateX(17px) rotate(45deg);
	fill: #32353a;
}

nav .navigation-interaction svg path {
	-webkit-transition: all .35s ease-in;
	-moz-transition: all .35s ease-in;
	-o-transition: all .35s ease-in;
	transition: all .35s ease-in;
	border-radius: 5px;
}

nav #pages {
	padding: 75px 75px 0;
	margin: 0;
	list-style-type: none;
	visibility: hidden;
	opacity: .1;
	-webkit-transition: all 1.2s ease-in-out;
	-moz-transition: all 1.2s ease-in-out;
	-o-transition: all 1.2s ease-in-out;
	transition: all 1.2s ease-in-out;
}

nav.animating #pages,
nav.open #pages {
	visibility: visible;
	opacity: 1;
}

nav #pages li {
	margin-bottom: 40px;
	opacity: 0;
}

nav.animating #pages li,
nav.open #pages li {
	margin-bottom: 55px;
	opacity: 1;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

nav.animating #pages li:nth-of-type(1),
nav.open #pages li:nth-of-type(1) {
	transition-delay: .05s;
}

nav.animating #pages li:nth-of-type(2),
nav.open #pages li:nth-of-type(2) {
	transition-delay: .15s;
}

nav.animating #pages li:nth-of-type(3),
nav.open #pages li:nth-of-type(3) {
	transition-delay: .25s;
}

nav.animating #pages li:nth-of-type(4),
nav.open #pages li:nth-of-type(4) {
	transition-delay: .35s;
}

nav.animating #pages li:nth-of-type(5),
nav.open #pages li:nth-of-type(5) {
	transition-delay: .45s;
}

nav #pages li a {
	font-size: 33px;
	letter-spacing: 1px;
	line-height: 1;
	font-weight: 700;
	color: #32353a;
	text-transform: uppercase;
}

body.fixed-nav nav {
	position: fixed;
	top: 0;
	left: 0;
	float: none;
}

#pane {
	position: relative;
	margin-left: 105px;
	width: calc(100% - 105px);
}

#pane .container-fluid {
	position: relative;
	max-width: 1350px;
}

header {
	font-family: "proxima-nova", sans-serif;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	z-index: 5;
	padding: 0 15px;
}

header#light {
	z-index: 2;
	color: #ffffff;
}

header .col-md-6 {
	vertical-align: middle;
}

header h1,
header h2 {
	margin: 8px 0 0;
	line-height: 1;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
}

header h2 {
	font-size: 13px;
	font-weight: 400;
}

header .btn,
header .btn:active,
header .btn:focus {
	background: transparent;
	color: inherit;
	border: 1px solid #ffffff !important;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
}

header .btn:hover {
	background: #ffffff;
	color: #457792 !important;
}

.page {
	padding: 0 40px;
}

.page .hero {
	display: table;
	min-height: calc(100vh - 1px);
	width: 100%;
	font-family: 'Playfair Display', serif;
}

.hero .valign-center {
	display: table-cell;
	vertical-align: middle;
}

#home {
/* 	background: #eeeff5; */
	z-index: 1;
	background: #267ba9;
	color: #ffffff;
}

.spotifyJS #feed {
	color: #ffffff;
}

.spotifyJS #feed .track, .spotifyJS #feed strong {
	color: #a5d1e8;
}

#home .hero {
	min-height: 550px;
}

#home .hero span {
	line-height: 90px;
	display: block;
	font-size: 100px;
	font-weight: 700;
}

#home .hero span:last-child {
	font-size: 80px;
}

#skills,
#work {
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 32px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f5f9+0,eeeff5+100 */
	background: rgb(244,245,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(244,245,249,1) 0%, rgba(238,239,245,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(244,245,249,1) 0%,rgba(238,239,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(244,245,249,1) 0%,rgba(238,239,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f9', endColorstr='#eeeff5',GradientType=0 ); /* IE6-9 */
}

#skills .page .hero,#work .page .hero {
	min-height: calc(100vh - 1px - 100px);
}

.hero a {
	color: inherit;
	text-decoration: none;
	border-bottom: 3px dotted rgba(50, 53, 58, .35);
}

.hero a:hover {
	color: inherit;
	text-decoration: none;
	border-color: rgba(50, 53, 58, .75);
}

#skills .hero .col-md-12,
#work .hero .col-md-12 {
	margin-bottom: 30px;
}

#skills .hero .row:nth-of-type(2) .col-md-12 {
	margin-bottom: 15px;
	font-size: 28px;
}

#skills h3 {
	display: block;
	margin: 30px 0 15px;
	font-weight: 700;
}

#skills ul {
	font-family: inherit;
}

#skills .badges {
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 0;
}

#skills .badges li {
	padding: 7px 7px 0;
	background: #ffffff;
	list-style-type: none;
	float: left;
	border-radius: 4px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

#skills .badges li svg {
	margin-bottom: 0;
}

#skills ul li {
	font-size: 22px;
	margin-bottom: 5px;
	font-family: "proxima-nova", sans-serif;
}

#skills ul li:last-child {
	margin-bottom: 0;
}

#work ul {
	margin: 2em 0 0;
	padding: 0;
	list-style-type: none;
}

#work ul li {
	padding: .75em 0;
	border-bottom: 2px solid rgba(50, 53, 58, .05);
}

#work ul li:first-child {
	padding-top: 0;
}

#work ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

#work ul li a {
	border-bottom: none;
}

/* #work ul li:first-child a {
	color: #1fa2cb;
}

#work ul li:last-child a {
	color: #1FD660;
} */

#work ul li .row {
	margin-bottom: 8px;
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

#work ul li .row:last-child {
	margin-bottom: 0;
}

#work ul li .col-md-6 {
	display: table-cell;
	vertical-align: middle;
	float: none;
	padding: 0;
}

#work ul li .col-md-6:last-child {
	text-align: right;
}

#work ul li .title {
	font-family: "proxima-nova", sans-serif;
	font-size: inherit;
	font-weight: 300;
}

#work ul li .title a {
    color: #32353a;
}

#work ul li .title a:hover {
    color: #32353a;
}

#work ul li .role {
	font-size: 24px;
	color: #898eab;
	font-weight: 400;
}

#work ul li .date {
	font-family: "proxima-nova", sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #adb1c8;
	text-transform: uppercase;
}

#work ul li .website {
	font-family: "proxima-nova", sans-serif;
	font-size: 13px;
	font-weight: 500;
	color: #ffffff;
/* 	color: #adb1c8;
	text-transform: uppercase; */
}

#work ul li .website .label {
	font-size: inherit;
	font-weight: inherit;
}
/* 
#work ul li .website:hover {
	color: #898eab;
} */

@media all and (max-width: 1679px) {
	#pane .container-fluid {
		width: 85%;
	}
	nav #pages {
		padding: 50px 25px;
		margin: 0;
		list-style-type: none;
		visibility: hidden;
	}
	nav.open #pages {
		visibility: visible;
	}
	nav #pages li {
		margin-bottom: 32px;
		opacity: 0;
	}
	nav.animating #pages li,
	nav.open #pages li {
		margin-bottom: 40px;
		opacity: 1;
	}
	nav #pages li a {
		font-size: 36px;
	}
	#home .hero {
		min-height: 450px;
	}
	#home .hero span {
		line-height: 1.1;
		font-size: 90px;
	}
	#home .hero span:last-child {
		font-size: 70px;
	}
	#skills,
	#work {
		font-size: 28px;
	}
	#skills .hero .row:nth-of-type(2) .col-md-12 {
		font-size: 26px;
	}
	#skills h3,
	#work ul li .role {
		font-size: 21px;
	}
	#skills ul li {
		line-height: 1.2;
		margin-bottom: 10px;
		font-size: 19px;
	}
}

@media all and (max-width: 1279px) {
	nav #pages {
		padding: 45px 25px;
	}
	nav #pages li {
		margin-bottom: 22px;
		opacity: 0;
	}
	nav.animating #pages li,
	nav.open #pages li {
		margin-bottom: 30px;
		opacity: 1;
	}
	nav #pages li a {
		font-size: 28px;
	}
	#pane .container-fluid {
		width: 90%;
	}
	#home .hero {
		min-height: 400px;
	}
	#home .hero span {
		font-size: 66px;
	}
	#home .hero span:last-child {
		font-size: 48px;
	}
	#skills,
	#work {
		font-size: 24px;
	}
	#skills ul {
		margin-bottom: 0;
	}
	#skills ul li,
	#work ul li .role {
		font-size: 18px;
	}
	#skills .hero .col-md-12,
	#work .hero .col-md-12 {
		margin-bottom: 20px;
	}
	#skills .hero .row:nth-of-type(2) .col-md-12 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	#skills h3 {
		margin-top: 15px;
	}
}

@media all and (max-width: 991px) {
	nav {
		padding: 25px 20px 0;
		width: 65px;
	}
	#pane {
		margin-left: 65px;
		width: calc(100% - 65px);
	}
/* 	body {
		padding-top: 50px;
	}
	nav {
		left: 0;
		right: 0;
		width: auto;
		height: 50px;
		padding: 15px 40px;
	}
	nav .navigation-interaction {
		display: inline-block;
	}
	#pane {
		width: auto;
		margin-left: 0;
	}
	#pane .container-fluid {
		width: auto;
	} */
	.page {
		padding: 0;
	}
	#skills,
	#work {
		padding: 40px 0;
	}
	#skills,
	#work,
	#skills .hero .row:nth-of-type(2) .col-md-12 {
		font-size: 22px;
	}
	#skills .hero .col-md-12, 
	#work .hero .col-md-12 {
		line-height: 1.6;
	}
	#work ul li .col-md-6
	#skills .page .hero,
	#work .page .hero {
		min-height: initial;
	}
	#work ul li .col-md-6 {
		width: 50%;
	}
}

@media all and (max-width: 768px) {
	#home .hero span {
		line-height: 1.1;
		font-size: 58px;
	}
	#home .hero span:last-child {
		font-size: 44px;
	}
	#skills,
	#work,
	#skills .hero .row:nth-of-type(2) .col-md-12 {
		font-size: 20px;
	}
	#skills .hero .col-md-12, 
	#work .hero .col-md-12 {
		line-height: 1.75;
	}
}