@font-face
{
	font-family: ProximaNova;
	src: url('../fonts/ProximaNova.otf');
}

* {
	margin: 0;
	padding: 0;
}
*:focus {
    outline: 0;
}

body {
	font-family: ProximaNova;
	background: #f6f6f6;
}

.clearfix {
	display: block;
	overflow: auto;
}