@font-face
{
	font-family: ProximaNovaLight;
	src: url('../fonts/ProximaNova-Light.otf');
}


* {
	margin: 0;
	padding: 0;
}
body {
	font-family: ProximaNovaLight;
}

#header {
	padding: 80px 0;
	background-color: #8bd069;
	background-image: url('../img/header-bg.png');
	background-position: top center;
	background-repeat: repeat;
}
#header .wrap {
	position: relative;
	margin: 0 auto;
	width: 1050px;
	min-height: 700px;
	display: block;
	overflow: auto;
}
#header .wrap .title {
	margin: 50px 0 108px;
	padding: 0 40px;
	display: inline-block;
	float: left;
}
#header .wrap .text {
	margin: 0 0 73px;
	padding: 0 24px;
	width: 530px;
	font-size: 34px;
	line-height: 60px;
	color: #ffffff;
	float: left;
}
#header .wrap .text h2 {
	font-weight: 300;
}
#header .wrap .text-2 {
	margin: 0 0 38px;
	width: 578px;
	font-size: 27.83px;
	color: #ffffff;
	text-align: center;
	float: left;
}
#header .wrap .store {
	width: 578px;
	float: left;
}
#header .wrap .responsive {
	display: none;
}
#footer .social-media ul,
#footer .links ul,
#header .wrap .store ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#footer .social-media ul li,
#footer .links ul li,
#header .wrap .store ul li {
	display: inline-block;
	float: left;
}
#header .wrap .store ul li a {
	padding-top: 13px;
	height: 70px;
	width: 269px;
	text-align: center;
	border: 1px solid #ffffff;
	border-radius: 5px;
	display: block;
	overflow: auto;
	-webkit-transition: all 175ms ease-out;
	-moz-transition: all 175ms ease-out;
	-o-transition: all 175ms ease-out;
	-ms-transition: all 175ms ease-out; 
	transition: all 175ms ease-out;
}
#header .wrap .store ul li a:hover {
	background: rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.1);
}
#header .wrap .store ul li .android {
	margin-left: 35px;
}
#header .wrap .phone {
	position: relative;
	float: right;
	width: 345px;
}
#header .wrap .phone .gameplay {
	position: absolute;
	top: 102px;
	left: 25px;
	width: 295px;
	height: 519px;
	background: rgba(0,0,0,.05);
}

#footer {
	padding: 45px 0;
	background: #ffffff;
}
#footer .text {
	margin: 0 auto;
	padding: 0 0 50px;
	width: 90%;
	max-width: 75%;
	font-size: 18px;
	color: #acacac;
	text-align: center;
}
#footer .social-media {
	margin: 0 auto 45px auto;
	width: 70%;
	text-align: center;
}
#footer .links ul,
#footer .social-media ul {
	margin: 0 auto;
	display: inline-block;
}
#footer .links ul li,
#footer .social-media ul li {
	margin-left: 30px;
	display: block;
}
#footer .social-media ul li a {
	padding: 15px 0 0 0;
	width: 60px;
	height: 45px;
	color: #ffffff;
	text-align: center;
	display: block;
	border-radius: 500px;
	-webkit-transition: all 175ms ease-out;
	-moz-transition: all 175ms ease-out;
	-o-transition: all 175ms ease-out;
	-ms-transition: all 175ms ease-out; 
	transition: all 175ms ease-out;
}
#footer .social-media ul li .facebook {
	background: #4b64a6;
}
#footer .social-media ul li .facebook:hover {
	background: #3f548b;
}
#footer .social-media ul li .twitter {
	background: #00abf1;
}
#footer .social-media ul li .twitter:hover {
	background: #0098d7;
}
#footer .social-media ul li .linkedin {
	background: #0f76a8;
}
#footer .social-media ul li .linkedin:hover {
	background: #0d648e;
}
#footer .social-media ul li .rss {
	background: #ed7f2d;
}
#footer .social-media ul li .rss:hover {
	background: #d37128;
}
#footer .links {
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
}
#footer .links a {
	color: #acacac;
	text-decoration: none;
}
#footer .links a:hover {
	text-decoration: underline;
}

@media all and (max-width: 1150px) {
	#header .wrap {
		width: 950px;
	}
}
@media all and (max-width: 960px) {
	#header {
		padding: 0;
	}
	#header .wrap {
		padding: 25px 0 25px;
		width: 95%;
	}
	#header .wrap .title {
		margin: 0 0 50px;
		padding: 0;
		display: block;
		width: 100%;
		text-align: center;
	}
	#header .wrap .title img {
		max-width: 100%;
		height: auto;
	}
	#header .wrap .text {
		margin: 0;
		padding: 0;
		width: auto;
		float: none;
		text-align: center;
		font-size: 28px;
	}
	#header .wrap .text-2 {
		width: 100%;
		text-align: center;
	}
	#header .wrap .store {
		width: 100%;
		text-align: center;
	}
	#header .wrap .store img {
		max-width: 80%;
		height: auto;
	}
	#header .wrap .store ul {
		margin: 0 auto;
		display: inline-block;
		text-align: center;
	}
	#header .wrap .store ul li {
		margin: 0 0 15px;
		width: 100%;
		display: block;
	}
	#header .wrap .store ul li a {
		display: inline-block;
		width: 99%;
	}
	#header .wrap .store ul li .android {
		margin: 0;
	}
	#header .wrap .responsive {
		display: block;
	}
	#header .wrap .nonresponsive {
		display: none;
	}
	#header .wrap .phone {
		margin: 0 auto 100px;
		position: relative;
		width: auto;
		float: none;
		text-align: center;
	}
	#header .wrap .phone .gameplay {
		display: none;
	}
	#header .wrap .phone img {
		max-width: 100%;
		height: auto;
	}
	#footer .social-media {
		margin: 0 auto 25px auto;
		width: 75%;
		text-align: center;
	}
	#footer .links ul li,
	#footer .social-media ul li {
		margin-bottom: 20px;
		display: block;
		margin-left: 0;
		width: 100%;
	}
	#footer .links ul,
	#footer .social-media ul {
		display: block;
	}
	#footer .social-media ul li a {
		width: 100%;
		border-radius: 5px;
	}
}
@media all and (max-width: 420px) {
	#header .wrap .text {
		font-size: 22px;
	}
}
@media all and (max-width: 270px) {
	#header .wrap .store ul li a {
		height: 55px;
	}
}