.popup-dom-lightbox-wrapper,
.popup-dom-lightbox-wrapper div,
.popup-dom-lightbox-wrapper span,
.popup-dom-lightbox-wrapper applet,
.popup-dom-lightbox-wrapper object,
.popup-dom-lightbox-wrapper iframe,
.popup-dom-lightbox-wrapper h1,
.popup-dom-lightbox-wrapper h2,
.popup-dom-lightbox-wrapper h3,
.popup-dom-lightbox-wrapper h4,
.popup-dom-lightbox-wrapper h5,
.popup-dom-lightbox-wrapper h6,
.popup-dom-lightbox-wrapper p,
.popup-dom-lightbox-wrapper blockquote,
.popup-dom-lightbox-wrapper pre,
.popup-dom-lightbox-wrapper a,
.popup-dom-lightbox-wrapper abbr,
.popup-dom-lightbox-wrapper acronym,
.popup-dom-lightbox-wrapper address,
.popup-dom-lightbox-wrapper big,
.popup-dom-lightbox-wrapper cite,
.popup-dom-lightbox-wrapper code,
.popup-dom-lightbox-wrapper del,
.popup-dom-lightbox-wrapper dfn,
.popup-dom-lightbox-wrapper em,
.popup-dom-lightbox-wrapper img,
.popup-dom-lightbox-wrapper ins,
.popup-dom-lightbox-wrapper kbd,
.popup-dom-lightbox-wrapper q,
.popup-dom-lightbox-wrapper s,
.popup-dom-lightbox-wrapper samp,
.popup-dom-lightbox-wrapper small,
.popup-dom-lightbox-wrapper strike,
.popup-dom-lightbox-wrapper strong,
.popup-dom-lightbox-wrapper sub,
.popup-dom-lightbox-wrapper sup,
.popup-dom-lightbox-wrapper tt,
.popup-dom-lightbox-wrapper var,
.popup-dom-lightbox-wrapper b,
.popup-dom-lightbox-wrapper u,
.popup-dom-lightbox-wrapper i,
.popup-dom-lightbox-wrapper center,
.popup-dom-lightbox-wrapper dl,
.popup-dom-lightbox-wrapper dt,
.popup-dom-lightbox-wrapper dd,
.popup-dom-lightbox-wrapper ol,
.popup-dom-lightbox-wrapper ul,
.popup-dom-lightbox-wrapper li,
.popup-dom-lightbox-wrapper fieldset,
.popup-dom-lightbox-wrapper form,
.popup-dom-lightbox-wrapper label,
.popup-dom-lightbox-wrapper legend,
.popup-dom-lightbox-wrapper table,
.popup-dom-lightbox-wrapper caption,
.popup-dom-lightbox-wrapper tbody,
.popup-dom-lightbox-wrapper tfoot,
.popup-dom-lightbox-wrapper thead,
.popup-dom-lightbox-wrapper tr,
.popup-dom-lightbox-wrapper th,
.popup-dom-lightbox-wrapper td,
.popup-dom-lightbox-wrapper article,
.popup-dom-lightbox-wrapper aside,
.popup-dom-lightbox-wrapper canvas,
.popup-dom-lightbox-wrapper details,
.popup-dom-lightbox-wrapper embed,
.popup-dom-lightbox-wrapper figure,
.popup-dom-lightbox-wrapper figcaption,
.popup-dom-lightbox-wrapper footer,
.popup-dom-lightbox-wrapper header,
.popup-dom-lightbox-wrapper hgroup,
.popup-dom-lightbox-wrapper menu,
.popup-dom-lightbox-wrapper nav,
.popup-dom-lightbox-wrapper output,
.popup-dom-lightbox-wrapper ruby,
.popup-dom-lightbox-wrapper section,
.popup-dom-lightbox-wrapper summary,
.popup-dom-lightbox-wrapper time,
.popup-dom-lightbox-wrapper mark,
.popup-dom-lightbox-wrapper audio,
.popup-dom-lightbox-wrapper video,
.popup-dom-lightbox-wrapper input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: normal;
}
.popup-dom-lightbox-wrapper b,
.popup-dom-lightbox-wrapper strong {
  font-weight: bold;
}
/* HTML5 display-role reset for older browsers */
.popup-dom-lightbox-wrapper article,
.popup-dom-lightbox-wrapper aside,
.popup-dom-lightbox-wrapper details,
.popup-dom-lightbox-wrapper figcaption,
.popup-dom-lightbox-wrapper figure,
.popup-dom-lightbox-wrapper footer,
.popup-dom-lightbox-wrapper header,
.popup-dom-lightbox-wrapper hgroup,
.popup-dom-lightbox-wrapper menu,
.popup-dom-lightbox-wrapper nav,
.popup-dom-lightbox-wrapper section {
  display: block;
}
.popup-dom-lightbox-wrapper {
  line-height: 1;
}
.popup-dom-lightbox-wrapper ol,
.popup-dom-lightbox-wrapper ul {
  list-style: none;
}
.popup-dom-lightbox-wrapper blockquote,
.popup-dom-lightbox-wrapper q {
  quotes: none;
}
.popup-dom-lightbox-wrapper blockquote:before,
.popup-dom-lightbox-wrapper blockquote:after,
.popup-dom-lightbox-wrapper q:before,
.popup-dom-lightbox-wrapper q:after {
  content: '';
  content: none;
}
.popup-dom-lightbox-wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
}

.popup-dom-lightbox-wrapper {
	height: 100%;
	min-height: 350px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.popup-dom-lightbox-wrapper .lightbox-overlay {
	background-image:url('images/bg-trans.png');
	height: 100%;
	min-height: 350px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

.popup-dom-lightbox-wrapper .lightbox-main { z-index: 1000; }

.popup-dom-lightbox-wrapper .powered {
	clear: both;
	text-align: center;
	margin-top: 10px;
	padding-top: 0px;
	display: block;
}


#popdom-pop.popup2 {
	position: relative;
	background-color: #b73330;
	border-radius: 5px;
	padding: 5px;
	height: auto;
	font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
}
#popdom-pop .inner {
	width: 616px;
	background-color: white;
	/*background-image: url('./pdlogo.png');*/
	padding: 15px 10px 25px;
	border-radius: 5px;
}
#popdom-pop h1 {
	font-size: 36px;
	font-weight: bold;
	color: black;
	text-align: center;
	padding: 15px 0;
}
#popdom-pop .button-container {
	text-align: center;
}
#popdom-pop .button {
	width: 230px;
	font-size: 36px;
	color: white;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	margin: 0 10px;
	font-weight: 400;
	border-radius: 4px;
	line-height: 70px;
	padding-top: 5px;
}
#popdom-pop .leave-button {
	background: #b93831;
	-webkit-box-shadow: 0 3px 0 0 #862822;
	-moz-box-shadow:    0 3px 0 0 #862822;
	box-shadow:         0 3px 0 0 #862822;
}
#popdom-pop .stay-button {
	background: #57a264;
	-webkit-box-shadow: 0 3px 0 0 #3d7649;
	-moz-box-shadow:    0 3px 0 0 #3d7649;
	box-shadow:         0 3px 0 0 #3d7649;
}
#popdom-pop .main p {
	font-size: 24px;
	padding: 5px 30px 25px;
	text-align: center;
	color: #737373;
	line-height: 1.3;
}
#popdom-pop .close {
	position: absolute;
	font-size: 24px;
	text-align: center;
	line-height: 24px;
	width: 24px;
	right: -12px;
	padding: 3px;
	top: -12px;
	background-color: black;
	border-radius: 20px;
	text-decoration: none;
	color: white;
	border: 2px solid white;
}
#popdom-pop .secure {
	padding: 15px 30px 5px;
	text-align: center;
	font-size: 14px;
	color: #333;
}
#popdom-pop .clear {
	clear: both;
}

#popdom-pop.lightbox-color-blue {
	background-color: #005ba2;
}
#popdom-pop.lightbox-color-red {
	background-color: #651F17;
}
#popdom-pop.lightbox-color-bright-red {
	background-color: #C6320E;
}
#popdom-pop.lightbox-color-bright-green {
	background-color: #5CC32C;
}
#popdom-pop.lightbox-color-bright-purple {
	background-color: #A94196;
}
#popdom-pop.lightbox-color-bright-turq {
	background-color: #61CFDE;
}
#popdom-pop.lightbox-color-bright-orange {
	background-color: #DC8621;
}
#popdom-pop.lightbox-color-bright-blue {
	background-color: #1F5BD7;
}
#popdom-pop.lightbox-color-dark-blue {
	background-color: #1A4567;
}
#popdom-pop.lightbox-color-grape {
	background-color: #76254D;
}
#popdom-pop.lightbox-color-green {
	background-color: #2F5C17;
}
#popdom-pop.lightbox-color-turq {
	background-color: #3A8080;
}
#popdom-pop.lightbox-color-orange {
	background-color: #964911;
}
#popdom-pop.lightbox-color-black {
	background-color: #000;
}



#popdom-pop .button-blue {
	background-color: #005ba2;
	box-shadow: 2px 2px 1px 0px #004880;
	-webkit-box-shadow: 2px 2px 1px 0px #004880;
}
#popdom-pop .button-red {
	background-color: #651F17;
	box-shadow: 2px 2px 1px 0px #491711;
	-webkit-box-shadow: 2px 2px 1px 0px #491711;
}
#popdom-pop .button-bright-red {
	background-color: #C6320E;
	box-shadow: 2px 2px 1px 0px #a62a0c;
	-webkit-box-shadow: 2px 2px 1px 0px #a62a0c;
}
#popdom-pop .button-bright-green {
	background-color: #5CC32C;
	box-shadow: 2px 2px 1px 0px #004880;
	-webkit-box-shadow: 2px 2px 1px 0px #004880;
}
#popdom-pop .button-bright-purple {
	background-color: #A94196;
	box-shadow: 2px 2px 1px 0px #903880;
	-webkit-box-shadow: 2px 2px 1px 0px #903880;
}
#popdom-pop .button-bright-turq {
	background-color: #61CFDE;
	box-shadow: 2px 2px 1px 0px #2396a6;
	-webkit-box-shadow: 2px 2px 1px 0px #2396a6;
}
#popdom-pop .button-bright-orange {
	background-color: #DC8621;
	box-shadow: 2px 2px 1px 0px #b06b1a;
	-webkit-box-shadow: 2px 2px 1px 0px #b06b1a;
}
#popdom-pop .button-bright-blue {
	background-color: #1F5BD7;
	box-shadow: 2px 2px 1px 0px #1948aa;
	-webkit-box-shadow: 2px 2px 1px 0px #1948aa;
}
#popdom-pop .button-dark-blue {
	background-color: #1A4567;
	box-shadow: 2px 2px 1px 0px #102a3e;
	-webkit-box-shadow: 2px 2px 1px 0px #102a3e;
}
#popdom-pop .button-grape {
	background-color: #76254D;
	box-shadow: 2px 2px 1px 0px #4f1934;
	-webkit-box-shadow: 2px 2px 1px 0px #4f1934;
}
#popdom-pop .button-green {
	background-color: #2F5C17;
	box-shadow: 2px 2px 1px 0px #1a330d;
	-webkit-box-shadow: 2px 2px 1px 0px #1a330d;
}
#popdom-pop .button-turq {
	background-color: #3A8080;
	box-shadow: 2px 2px 1px 0px #255151;
	-webkit-box-shadow: 2px 2px 1px 0px #255151;
}
#popdom-pop .button-orange {
	background-color: #964911;
	box-shadow: 2px 2px 1px 0px #68330c;
	-webkit-box-shadow: 2px 2px 1px 0px #68330c;
}
#popdom-pop .button-black {
	background-color: #000;
	box-shadow: 2px 2px 1px 0px #888;
	-webkit-box-shadow: 2px 2px 1px 0px #888;
}
#popdom-pop .powered {
	position: absolute;
	margin-top: 10px;
	width: 100%;
	text-decoration: none;
	text-shadow: 2px 2px #333;
}
#popdom-pop .powered a{
	text-decoration: none;
	color: white;
}
#popdom-pop .powered a span{
	text-decoration: underline;
}






#popdom-pop .stay-button.button-blue {
	background-color: #A24700;
	box-shadow: 2px 2px 1px 0px #6f3100;
	-webkit-box-shadow: 2px 2px 1px 0px #6f3100;
}
#popdom-pop .stay-button.button-red {
	background-color: #175D65;
	box-shadow: 2px 2px 1px 0px #0e373c;
	-webkit-box-shadow: 2px 2px 1px 0px #0e373c;
}
#popdom-pop .stay-button.button-bright-red {
	background-color: #0EA1C5;
	box-shadow: 2px 2px 1px 0px #075366;
	-webkit-box-shadow: 2px 2px 1px 0px #075366;
}
#popdom-pop .stay-button.button-bright-green {
	background-color: #932CC3;
	box-shadow: 2px 2px 1px 0px #932CC3;
	-webkit-box-shadow: 2px 2px 1px 0px #932CC3;
}
#popdom-pop .stay-button.button-bright-purple {
	background-color: #41A954;
	box-shadow: 2px 2px 1px 0px #205329;
	-webkit-box-shadow: 2px 2px 1px 0px #205329;
}
#popdom-pop .stay-button.button-bright-turq {
	background-color: #DE6F60;
	box-shadow: 2px 2px 1px 0px #cf3f2b;
	-webkit-box-shadow: 2px 2px 1px 0px #cf3f2b;
}
#popdom-pop .stay-button.button-bright-orange {
	background-color: #2077DC;
	box-shadow: 2px 2px 1px 0px #1757a1;
	-webkit-box-shadow: 2px 2px 1px 0px #1757a1;
}
#popdom-pop .stay-button.button-bright-blue {
	background-color: #D79A1F;
	box-shadow: 2px 2px 1px 0px #7e5a12;
	-webkit-box-shadow: 2px 2px 1px 0px #7e5a12;
}
#popdom-pop .stay-button.button-dark-blue {
	background-color: #67191E;
	box-shadow: 2px 2px 1px 0px #4c1216;
	-webkit-box-shadow: 2px 2px 1px 0px #4c1216;
}
#popdom-pop .stay-button.button-grape {
	background-color: #25764D;
	box-shadow: 2px 2px 1px 0px #15422b;
	-webkit-box-shadow: 2px 2px 1px 0px #15422b;
}
#popdom-pop .stay-button.button-green {
	background-color: #21165C;
	box-shadow: 2px 2px 1px 0px #120c33;
	-webkit-box-shadow: 2px 2px 1px 0px #120c33;
}
#popdom-pop .stay-button.button-turq {
	background-color: #80395C;
	box-shadow: 2px 2px 1px 0px #5d2943;
	-webkit-box-shadow: 2px 2px 1px 0px #5d2943;
}
#popdom-pop .stay-button.button-orange {
	background-color: #105D96;
	box-shadow: 2px 2px 1px 0px #0b4068;
	-webkit-box-shadow: 2px 2px 1px 0px #0b4068;
}
#popdom-pop .stay-button.button-black {
	background-color: #666;
	box-shadow: 2px 2px 1px 0px #999;
	-webkit-box-shadow: 2px 2px 1px 0px #999;
}