#footer {
	font-family: Arial;
	padding: 25px 0;
	background: #ffffff;
	font-size: 14px;
	color: #262626;
	font-size: 14px;
	color: #262626;
}
#footer img {
	display: inline-block;
	margin-bottom: 25px;
}
#subfooter {
	padding: 15px 0;
	font-family: Arial;
	font-size: 14px;
	color: #262626;
}
#subfooter a {
	color: #262626;
	text-decoration: none;
}
#subfooter a:hover {
	color: #262626;
	text-decoration: underline;
}