@font-face {
  font-family: 'BebasNeueRegular';
  src: url('fonts/BebasNeueRegular.otf');
}
* {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3 {
	font-size: 18px;
}
h4, h5, h6 {
	font-size: 16px;
}
p {
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover {
	color: #333;
	text-decoration: underline;
}

body {
	background: #f5f6f7 url('img/tile.jpg');
	background-repeat: repeat;
	background-size: 100% auto;
	overflow: hidden;
	color: #666;
}

#header {
	position: absolute;
	top: 0;
	padding: 15px 2%;
	margin: 0px;
	width: 100%;
	text-align: center;
	background: linear-gradient(to bottom, #37a7f2 0%,#4099ff 99%);
	border-bottom: 1px solid rgba(0,0,0,.25);
	color: #ffffff;
	z-index: 1000;
}
#header h1 {
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-family: 'BebasNeueRegular', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #fcffff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}
#header #back {
	padding: 10px 3px 10px 0;
	border-radius: 5px;
	width: 40px;
	text-align: center;
	border: 1px solid rgba(0,0,0,.3);
	position: absolute;
	top: 5px;
	left: 2%;
	background: rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	display: none;
	cursor: pointer;
}

#settings,
#content {
	background: #f5f6f7 url('img/tile.jpg');
	background-repeat: repeat;
	background-size: 100% auto;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	z-index: 750
}
#content a {
	position: absolute;
	top: 205px;
	display: block;
	width: 100%;
	text-decoration: none;
	z-index: 500;
}
#content #topLoader {
	margin: 0 auto;
	width: 256px;
	height: 256px;
}
#content #preview {
	padding: 10px 0;
	margin: 25px auto;
	width: 95%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-shadow: 0px 1px white;
	color: #666;
	text-align: left;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
#settings p,
#content p {
	padding: 35px 2%;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
#settings .footer,
#content .footer {
	bottom: 0px;
	position: fixed;
	background-color: #cfd3d6;
	width: 100%;
	max-height: 50%;
	overflow: hidden;
}
#settings {
	left: 100%;
}