body {
	font-family: 'Lato', sans-serif;
}
a,
a:hover {
	color: #2980b9;
}
::-webkit-input-placeholder {
   color: #abb4be;
}
:-moz-placeholder { /* Firefox 18- */
   color: #abb4be;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #abb4be;  
}
:-ms-input-placeholder {  
   color: #abb4be;  
}